node_modules

*.log
*.sql
*.sqlite

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

*.com
*.class
*.dll
*.exe
*.o
*.so
/.idea/
/.cache/
/.ssh/
/cgi-bin/
web.config
.bash_history
/.gitconfig
/license.txt
/.htaccess
/readme.html
/sitemap.xml
/sitemap.xml.gz