.home-page__search-form-wrapper {
  margin-top: -70px;
  @include respond-to(medium) {
    margin-top: -36px;
  }
}
.search-form {
  width: 1160px;
  max-width: 100%;
  box-shadow: 9px 16px 24px 0px rgba(0, 24, 86, 0.03);
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  min-height: 240px;
  z-index: 3;

  &.loading {
    .search-form__items {
      opacity: 0;
      pointer-events: none;
    }
    .loader {
      display: block;
    }
  }

  .loader {
    display: none;
  }

  // Header
  &__header-item {
    flex: 0 1 100%;
    padding: 16px 30px;
    border: 1px solid $lighest-blue--3;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    // &:first-child {
    //   border-radius: 12px 0px 0px 0px;
    // }
    // &:last-child {
    //   border-radius: 0px 12px 0px 0px;
    // }
    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1px;
      left: 0;
      background: $light-blue--2;
      height: 4px;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &[data-active]::after {
      opacity: 1;
    }
  }

  &__items {
    padding: 30px 40px;
    justify-content: center;
    transition: opacity 0.3s;
    opacity: 1;
    pointer-events: all;
  }

  &__checkbox-items,
  &__checkbox-items &__clear,
  &__item-guests &__clear {
    margin-top: 30px;
  }
  // Wrapper
  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
    &[data-drop-active] &-btn {
      color: $white;
      background-color: $dark-blue;

      path {
        fill: $white;
      }
    }
    &[data-drop-active] &-body {
      opacity: 1;
      pointer-events: all;
      z-index: 1;
    }
    &-btn {
      border-radius: 8px;
      background-color: $white;
      flex-direction: column;
      padding: 10px 40px;
      align-items: center;
      transition:
        color 0.3s,
        background-color 0.3s;
      &[data-active],
      &:hover {
        color: $white;
        background-color: $dark-blue;

        path {
          fill: $white;
        }
      }

      &-icon {
        margin-top: 8px;
      }
    }
    &-body {
      padding: 20px;
      background-color: $white;
      border-radius: 12px;
      border: 1px solid #ccd4e7;
      box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.1);
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      opacity: 0;
      pointer-events: none;
    }
    &-body-header {
      display: none;
    }
    &-search {
      &::after {
        content: "";
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: block;
        background: url("../images/search.svg") center center/cover no-repeat;
      }
    }
    &-ok-btn {
      display: none;
    }
  }

  // Checkbox item
  &__checkbox-item {
    margin-top: 10px;
  }
  &__label {
    align-items: center;
  }
  &__checkbox-text {
    margin-left: 12px;
  }

  // Clear btn
  &__clear {
    color: #012e89;
    margin-top: 10px;
  }

  // Calendar
  &__dates {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 590px;
  }
  &__dates-title {
    width: 100%;
  }
  &__dates-item {
    flex-wrap: wrap;
    max-width: 256px;
  }
  &__dates-body {
    justify-content: space-between;
  }
  &__dates-item-title {
    margin-bottom: 6px;
    color: #012e89;
    width: 100%;
  }
  &__date {
    flex: 0 1 264px;
    flex-wrap: wrap;
  }
  &__date-item {
    margin-right: 12px;
    &:nth-child(n + 5) {
      margin-top: 12px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  &__date-month {
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid #012e89;
    color: #012e89;
    width: 55px;
    height: 28px;
    align-items: center;
    justify-content: center;
    &[data-disable] {
      border: 1px solid #ccd4e7;
      background-color: #f1f4f9;
      color: #98aace;
    }
    &[data-active] {
      border: 1px solid #012e89;
      background-color: #012e89;
      color: $white;
    }
  }
  &__dates-footer {
    justify-content: space-between;
  }
  &__dates-ok {
    padding: 4px 24px;
    border-radius: 6px;
    color: $white;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
  }

  // Guests
  &__guests {
    min-width: 320px;
  }
  &__guest {
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 10px;
    }
    strong {
      font-weight: 600;
    }
  }
  &__guest-control {
    align-items: center;
  }
  &__guest-btn {
    background: #012e89;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    &[disabled] {
      background: #f1f4f9;

      path {
        fill: #98aace;
      }
    }
  }

  .submit-item {
    display: flex;
    flex-direction: column;
  }
  // Submit btn
  &__control {
    background: #012e89;
    color: $white;
    padding: 20px 24px;
    width: 195px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  // Clear all
  &__clear-all {
    margin-top: 8px;
    color: #003083;
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    &[disabled] {
      color: #98AACE;
    }
  }

  input {
    font-family: inherit;
  }

  @include respond-to(x-large) {
    &__items {
      & > .tab {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
    }
    &__item-calendar &__item-body,
    &__item-guests &__item-body {
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }

  @include respond-to(large) {
    &__items {
      & > .tab {
        column-gap: 24px;
      }
    }
    &__item {
      flex: 0 1 calc(50% - 12px);
      &:not(:last-child) {
        margin-right: 0;
      }
      &-btn {
        width: 100%;
      }
      &:nth-child(even) &-body {
        right: 0;
        left: unset;
      }
      &:nth-child(odd) &-body {
        left: 0;
        right: unset;
      }
    }
    &__item-calendar &__item-body,
    &__item-guests &__item-body {
      transform: translateY(100%);
    }
  }

  @include respond-to(medium) {
    &__item {
      &-body-header {
        display: flex;
        justify-content: space-between;
      }
      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(1, 0, 50, 0.40);
        width: 100%;
        height: 100%;
        display: none;
        z-index: 5;
      }
      &-body-close {
        margin-left: 20px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-bottom: 20px;
      }
      &-ok-btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        width: 100%;
        background-color: $dark-blue;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        border-radius: 6px;
      }
    }
    &__item[data-drop-active]::after {
      display: block;
    }
    &__checkbox-items {
      margin-top: 20px;
    }
    &__dates-body {
      flex-direction: column;
    }
    &__item[data-drop-active] &__item-body {
      position: fixed;
      bottom: 12px;
      z-index: 100;
      left: 15px;
      transform: none;
      max-height: calc(100vh - 20px);
      width: calc(100vw - 30px);
    }
    &__dates {
      width: 100%;
    }
    &__date-month {
      width: 70px;
      height: 36px;
    }
    &__date {
      flex: 0 1 320px;
    }
    &__dates-item {
      max-width: unset;
    }
    &__dates-item:nth-child(n + 2) {
      margin-top: 20px;
    }
    &__dates-body {
      margin-top: 10px;
    }
    input[data-search-input] {
      width: 100%;
      min-width: unset;
    }
    &__guest-btn {
      width: 32px;
      height: 32px;
    }
    &__guest {
      align-items: center;
    }
    &__guest:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 650px) {
    &__items {
      padding: 10px;
      & > .tab {
        gap: 10px;
      }
    }
    &__item {
      flex: 0 1 calc(50% - 5px);
      &:first-child,
      &:nth-child(2) {
        flex: 0 1 100%;
      }
      &-btn {
        padding: 10px;
      }
    }
    .submit-item {
      width: 100%;
    }
    &__clear {
      margin-top: 30px;
    }
    &__control {
      width: 100%;
      padding: 28.5px 24px;
    }
    &__clear-all {
      margin-top: 20px;
    }
    .search-form__dates-ok {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 4px 10px;
      width: 100%;
      background-color: $dark-blue;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }
    &__dates-footer {
      margin-top: 0;
      flex-direction: column;
    }
    &__item-calendar &__item-body {
      overflow: scroll;
    }
    &__guests {
      min-width: unset;
    }
    &__item-calendar &__item-body,
    &__checkbox-items-wrapper {
      max-height: 340px;
      overflow: scroll;
    }
  }

  @media screen and (max-width: 450px) {
    &__date-month {
      width: 62px;
    }
  }
}

input[data-counter] {
  color: #333;
  width: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 16px;
  border: none;
  text-align: center;
}
input[data-counter][value="0"] {
  color: #8b8b8b;
}
input[data-search-input],
input[data-search-input]::placeholder {
  font-size: 16px;
  color: $light-gray;
  line-height: 1.5;
}
input[data-search-input] {
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid var(--bc-dark-blue-20, #ccd4e7);
  background: var(--white, #fff);
  min-width: 400px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .checkbox-after {
  width: 24px;
  height: 24px;
  background: url("../images/checkbox--no-active.svg") top left/cover no-repeat;
}
input[type="checkbox"]:checked + .checkbox-after {
  background-image: url("../images/checkbox--active.svg");
}

html[dir="rtl"] {
  .search-form {
    &__item:not(:last-child) {
      margin-right: unset;
      margin-left: 24px;
    }
    &__item-search::after {
      right: unset;
      left: 14px;
    }
    &__label {
      flex-direction: row-reverse;
    }
    &__date-item {
      margin-right: unset;
      margin-left: 12px;
      &:nth-child(4n) {
        margin-left: 0;
      }
    }
    &__guest-control {
      flex-direction: row-reverse;
    }
    &__control {
      font-weight: 700;
      width: unset;
    }
  }
}