.about-us-page {
  .about-us-intro {
    background-color: #011430;
    background: url("../images/about-us-page/intro-bg.jpg") top left/cover no-repeat;
    padding: 100px 0;
    min-height: 510px;
    align-items: center;

    &__wrapper {
      max-width: 740px;
    }

    &__img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
      max-width: 1020px;
      width: 51%;
      border-radius: 600px 0 0 0;
    }

    &__link {
      width: 100%;
      max-width: 282px;
    }

    @include respond-to(xxx-large) {
      min-height: 600px;
      padding-left: 80px;

      &__img {
        width: 53%;
        border-radius: 500px 0 0 0;
      }

      &__wrapper {
        max-width: 550px;
      }
    }

    @include respond-to(xx-large) {
      & > .container {
        margin-left: 0;
      }
    }
  
    @include respond-to(x-large) {
      min-height: 500px;
      padding: 180px 0;
      & > .container {
        margin-left: auto;
      }
      &__img {
        max-width: 40%;
      }
    }
  
    @include respond-to(large) {
      padding: 65px 0 0;
      min-height: 400px;
      flex-direction: column;
      &__img {
        margin-top: 40px;
        max-width: 100%;
        width: 100%;
        position: static;
      }
    }
  
    @include respond-to(medium) {
      padding: 100px 0 0 0;
    }
  }

  /***** CONTENT SECTION *****/
  .about-us-general {
    &__container {
      width: 50%;
      padding: 20px 120px 80px;
      align-items: center;
    }

    &__content-wrapper {
      max-width: 691px;
      flex-direction: column;
    }

    &__image-wrapper {
      margin-top: auto;
      height: 100%;
      width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 700px 0 0 0;
      }
    }

    @include respond-to(xxx-large) {
      &__container {
        padding: 0 30px 60px 80px;
      }
    }

    @include respond-to(x-large) {
      flex-direction: column;
      &__container {
        padding-left: 15px;
        width: 100%;
        padding-bottom: 40px;
      }
      &__image-wrapper {
        padding: 0 15px;
        max-width: 990px;
        width: 100%;
        margin: 0 auto;

        img {
          max-width: 691px;
        }
      }
    }

    @include respond-to(large) {
      &__image-wrapper {
        max-width: 750px;
      }
    }
  }
  /***** END CONTENT SECTION *****/

  .about-us__pattern-img {
    z-index: -1;
  }

  /***** OUR VIEW SECTION *****/
  .about-us-view {
    &__container {
      width: 50%;
      padding: 80px 130px;
      align-items: flex-start;
      flex-direction: column;
    }

    &__content-wrapper {
      max-width: 700px;
      flex-direction: column;
    }

    &__image-wrapper {
      margin-bottom: auto;
      height: 100%;
      width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0 0 700px 0;
      }
    }

    @include respond-to(xxx-large) {
      &__container {
        padding: 40px 60px;
      }
    }

    @include respond-to(x-large) {
      flex-direction: column-reverse;
      &__container {
        padding-left: 15px;
        width: 100%;
      }
      &__image-wrapper {
        padding: 0 15px;
        max-width: 990px;
        width: 100%;
        margin: 0 auto;

        img {
          max-width: 691px;
        }
      }
    }

    @include respond-to(large) {
      &__image-wrapper {
        max-width: 750px;
      }
    }
  }
  /***** OUR VIEW SECTION *****/

  /***** OUR VALUES SECTION *****/
  .about-us-values {
    padding: 100px 120px;

    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__bage {
      margin-right: 54px;
      align-items: center;
      flex-direction: column;
      
      &-icon {
        width: 250px;
        padding: 30px 0;
        border-radius: 100px 0;
        background: linear-gradient(113deg, #0092D7 0%, #012E89 100%);
        justify-content: center;
        transform: translateY(50%);
      }

      &-description {
        width: 350px;
        padding: 75px 25px 40px;
        box-sizing: border-box;
        text-align: center;
        background: #fff;
        box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.10);
        border-radius: 12px;
      }
    }


    @include respond-to(xxx-large) {
      padding: 40px 60px;
    }

    @include respond-to(x-large) {
      &__bage:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-to(large) {
      &__bage {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  
    @include respond-to(medium) {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__bage {
        margin: 0;
        scale: 0.8;
        &:not(:first-child) {
          margin-top: -40px;
        }
      }
    }

    @include respond-to(small) {
      padding: 60px 15px;
    }
  }
  /***** OUR VALUES SECTION *****/

  /***** CTA SECTION *****/
  .cta-section {
    background: url("../images/ship-bg.jpg") top left/cover #7bb7cd;
    min-height: 850px;

    @include respond-to(xxx-large) {
      min-height: 600px;
      background-position: center;
    }

    @include respond-to(small) {
      background-image: url("../images/ship-bg--mobile.png");
      padding: 50px 0 30px;
      min-height: 540px;

      &__content {
        margin-top: 80px;
      }
    }
  }
  /***** END CTA SECTION *****/
}
