/*** Intro ***/
.cabins-page {
  .page-intro {
    background-color: $lighest-blue;
    &::before {
      background-image: url('../images/cabins/cabins-intro.jpg');
    }
    @include respond-to(small) {
      min-height: 350px;
      &::before {
        background-image: url('../images/cabins/cabins-intro--mobile.jpg');
      }
    }
  }
}
/*** End intro ***/

.cabins-card {
  overflow: clip;
  &__container {
    position: relative;
    z-index: 1;
  }
  .pattern-img {
    object-fit: unset;
    top: -200px;
  }
  &__body {
    align-items: center;
  }
  &__body-content {
    flex: 0 1 770px;
    margin-right: 60px;
  }
  &__body-view {
    flex: 0 1 830px;
    position: relative;
    &.swiper-initialized {
      .swiper-nav {
        display: block;
      }
    }
    .swiper-nav {
      display: none;
    }
    .next, .prev {
      top: 50%;
      transform: translateY(-50%);
    }
    .next, .prev, .swiper-nav__dots {
      position: absolute;
      z-index: 1;
    }
    .next {
      right: 25px;
    }
    .prev {
      left: 25px;
    }
    .swiper-nav__dots {
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  }
  &__body-img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
  }
  &__size {
    padding: 17px 20px;
    border-radius: 12px;
    background: #cce9f7;
    align-items: center;
    &-ic {
      margin-right: 12px;
      flex-shrink: 0;
    }
    strong {
      font-weight: 700;
    }
  }
  &__footer {
    align-items: flex-start;
  }
  &__footer-content {
    max-width: 870px;
    position: relative;
  }
  &__footer-separator {
    width: 1px;
    min-height: 275px;
    height: calc(100% + 60px);
    margin: 0 80px;
    background-color: #98aace;
  }
  &__footer-title {
    align-items: center;
  }
  &__footer-title-ic {
    margin-right: 20px;
  }
  &__footer-items {
    flex-wrap: wrap;
    flex: 0 0 640px;
  }
  &__footer-item {
    flex: 0 1 196px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }
  &__footer-item-text {
    margin-top: 10px;
  }
  &__footer-item-ic {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  @include respond-to(xxx-large) {
    &__footer-separator {
      margin: 0 60px;
    }
    &__footer-items {
      flex: 0 0 500px;
    }
    &__footer-item {
      flex: 0 1 153px;
    }
  }

  @include respond-to(xx-large) {
    &__footer-separator {
      margin: 0 40px;
    }
    &__footer-items {
      flex: 0 0 400px;
    }
    &__footer-item {
      flex: 0 1 133px;
      margin-right: 0;
    }
  }

  @include respond-to(x-large) {
    &__body {
      flex-direction: column;
    }
    &__body-content {
      margin-right: 0;
    }
    &__body-content,
    &__body-view {
      flex: 0 1 auto;
    }
    &__body-view {
      margin-top: 40px;
      width: 830px;
      max-width: 100%;
    }
    &__footer-items {
      flex: 0 0 300px;
    }
    &__footer-item {
      flex: 0 1 calc(50% - 10px);
      &:nth-child(n + 3) {
        margin-top: 30px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &,
      &:nth-child(3n) {
        margin-right: 20px;
      }
    }
  }

  @include respond-to(large) {
    &__body,
    &.left &__body {
      flex-direction: column;
    }
    &__body-content {
      margin-right: 0;
    }
    &.left &__body-content {
      margin-left: 0;
    }
    &__aside {
      margin-top: 40px;
      display: flex;
      max-width: none;
    }
    &__aside-icon {
      margin-right: 20px;
    }
    &__footer,
    &.left &__footer {
      flex-direction: column;
    }
    &__footer-separator {
      min-height: unset;
      width: 100%;
      height: 1px;
      margin: 20px 0;
    }
    &__footer-items {
      flex: 0 1 auto;
      max-width: unset;
      width: 100%;
    }
    &__footer-item {
      flex: 0 1 calc(33.33333% - 40px / 3);
      &:nth-child(3) {
        margin-top: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 20px;
      }
    }
  }
  @include respond-to(small) {
    padding-top: 40px;
    &__body-view {
      .prev, .next {
        display: none;
      }
    }
  }
  @include respond-to(extra-small) {
    &__footer-item {
      flex: 0 1 calc(50% - 10px);
      &:nth-child(n + 3) {
        margin-top: 30px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 20px;
      }
    }
  }
}
html[dir="rtl"] {
  .cabins-card {
    &__body-view {
      .next {
        left: 25px;
        right: unset;
      }
      .prev {
        right: 25px;
        left: unset;
      }
      .next, .prev {
        transform: rotate(180deg);
      }
    }
  }
}

.cabins-page__cta {
  background-image: url("../images/cabins/cta-bg.jpg");
  @include respond-to(small) {
    background-image: url("../images/cabins/cta-bg--mobile.png");
  }
}
