.contact-us {
  &__form {
    &-wrapper {
      min-height: 806px;
    }
    .contact-us__thank {
      display: none;
    }
    &.thank .contact-us__thank {
      display: block;
    }
    &.thank &-body {
      display: none;
    }
  }
  &__thank {
    &-text {
      padding: 0 50px;
    }
    &-footer {
      padding: 20px 50px;
      background-color: #F4FAFF;
    }
    &-footer-social {
      align-items: center;
      & > li {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  .loader {
    display: none;
    position: static;
    margin: 0 auto;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-color: #003083;
    border-bottom-color: #fff;
  }
  &__form.loading {
    .loader {
      display: block;
    }
  }
  @include respond-to(small) {
    &__thank-text {
      padding: 0;
    }
    &__thank-footer {
      padding: 20px 0;
    }
    &__thank-footer-social {
      & > li {
        width: 30px;
        height: 30px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
.contact-us {
  align-items: center;
  &__image-wrapper {
    max-width: 50.52%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  &__container {
    justify-content: flex-end;
  }
  &__form-wrapper {
    max-width: 780px;
    width: 100%;
  }
  &__form, &__form-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__form-item {
    flex: 0 1 calc(50% - 11px);
    display: flex;
    flex-direction: column;
    &--textarea {
      flex: 0 1 100%;
    }
    &:nth-child(n + 3) {
      margin-top: 15px;
    }
  }
  &__form-submit {
    width: 100%;
    margin-top: 15px;
  }
  input,
  select,
  textarea {
    &::placeholder {
      color: $gray;
    }
  }
  select {
    color: $gray;
    &[data-selected] {
      color: $dark;
    }
  }
  textarea {
    min-height: 150px;
    resize: vertical;
  }
  &__form-privacy a {
    font-weight: normal;
  }

  // Phone Codes Dropdown
  .iti {
    width: 100%;

    &__selected-flag, &--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
      background-color: #ECF3FA;
    }

    &__arrow {
      background-image: url('../images/icons/select-arrow.svg');
      width: 24px;
      height: 24px;
      border: 0
    }

    &__country-list {
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        background: #98AACE;
        background-clip: padding-box;
      }

      &::-webkit-scrollbar-track {
        margin: 8px 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        background: #BDC7DF;
        background-clip: padding-box;
      }
    }

    .iti__highlight, & li:hover {
      background: #ECF3FA;
    }
  }
  .iti__flag-container + input {
    width: 100%;
  }

  @include respond-to(xxx-large) {
    &__image-wrapper {
      max-width: 48.52%;
    }
    &__form-wrapper {
      max-width: 650px;
      min-height: 790px;
    }
  }

  @include respond-to(xx-large) {
    &__form-wrapper {
      max-width: 550px;
      min-height: 770px;
    }
  }

  @include respond-to(x-large) {
    &__image-wrapper {
      max-width: 40%;
    }
  }

  @include respond-to(large) {
    &__image-wrapper {
      display: none;
    }
    &__form-wrapper {
      max-width: 100%;
      min-height: unset;
    }
  }

  @include respond-to(small) {
    &__form, &__form-controls {
      flex-direction: column;
    }
    &__form-item:nth-child(n + 2) {
      margin-top: 15px;
    }
  }
}
// .contact-us-page {
//   .iti__country-list {
//     max-width: 379px;

//     @include respond-to(xxx-large) {
//       max-width: 314px;
//     }
//     @include respond-to(xx-large) {
//       max-width: 264px;
//     }
//     @include respond-to(large) {
//       max-width: 349px;
//     }
//     @include respond-to(medium) {
//       max-width: 100%;
//     }
//   }
// }

html[dir="rtl"] {
  .contact-us {
    &__form {
      justify-content: flex-end;
    }
    &__thank {
      &-footer-social {
        & > li:not(:last-child) {
          margin-right: unset;
          margin-left: 30px;
        }
      }
    }
    @include respond-to(small) {
      &__thank-footer-social > li:not(:last-child) {
        margin-left: 20px;
      }
    }
  }
}