/***** INTRO *****/
.home-intro {
  background-color: #011430;
  min-height: 700px;
  &__header-title {
    max-width: 970px;
  }
  .section-links {
    display: flex;
    justify-content: center;
    width: 100%;
    &__item:first-child {
      margin-right: 60px;
    }
  }
  &__slider {
    width: 100%;
  }
  &__video-slide,
  &__slide {
    padding: 160px 0;
  }
  &__video-slide {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #003083;
      opacity: .3;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
    &-title {
      max-width: 970px;
    }
    &-controls {
      max-width: 580px;
      width: 100%;
    }
  }
  &__video {
    background-color: #011430;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &-link {
      max-width: 525px;
    }
  }
  &__slide {
    background: url("../images/home-intro__slide-bg.jpg") top left/cover no-repeat;
    &-wrapper {
      max-width: 845px;
    }
    &-img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
      max-width: 920px;
      width: 48%;
      border-radius: 0 0 0 340px;
    }
  }
  &__slider-nav {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    z-index: 1;
  }
  &__link {
    width: 100%;
    max-width: 525px;
  }

  @include respond-to(xxx-large) {
    min-height: 600px;
    &__video-slide-title {
      max-width: 850px;
    }
    &__slide-wrapper {
      max-width: 650px;
    }
  }

  @include respond-to(xx-large) {
    &__slide-wrapper {
      max-width: 600px;
    }
  }

  @include respond-to(x-large) {
    min-height: 500px;
    &__video-slide,
    &__slide {
      padding: 180px 0;
    }
    &__slide-img {
      display: none;
    }
    &__slide-wrapper {
      max-width: none;
    }
  }

  @include respond-to(large) {
    &__video-slide,
    &__slide {
      padding: 160px 0;
    }
    .swiper-nav__btn {
      display: none;
    }
    .section-links {
      justify-content: flex-start;
    }
    min-height: 400px;
  }

  @include respond-to(medium) {
    &__video-slide,
    &__slide {
      padding: 100px 0;
    }
    &__link {
      max-width: 350px;
    }
  }

  @include respond-to(small) {
    .section-links__item:not(:first-child) {
      margin-top: 20px;
    }
  }
}
/***** END INTRO *****/

/***** OFFERS *****/
.offers {
  &-slide {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: unset !important;
    box-shadow: 9px 16px 46px 0px rgba(0, 24, 86, 0.06);
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.1);
      .offers-slide__link {
        background-color: $light-blue;
      }
    }
    &__header {
      height: 255px;
      &,
      &-img {
        border-radius: 16px 16px 0 0;
      }
      &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__body {
      padding: 30px 30px 52px;
      background-color: $white;
      flex-grow: 1;
      width: 100%;
      border-radius: 0 0 16px 16px;
    }
    &__link {
      margin-left: 30px;
      transform: translateY(20px);
      position: absolute;
      bottom: 0;
    }
  }

  @include respond-to(xxx-large) {
    &-slide {
      &__body br {
        display: none;
      }
    }
  }

  @include respond-to(large) {
    &-slide {
      &__header {
        height: 200px;
        width: 100%;
      }
    }
  }
}
/***** END OFFERS *****/

/***** HOME DESTINATIONS *****/
.home-destins {
  position: relative;
  z-index: 2;
  &__items {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    &:nth-child(n + 2) {
      margin-top: 40px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .home-destins__item-text-wrapper {
        border-radius: 0 12px 12px 0;
      }
      .home-destins__item-image-wrapper,
      .home-destins__item-image {
        border-radius: 12px 0 0 12px;
      }
    }
    /***** HOVER *****/
    &:hover &-text-wrapper {
      background-color: #f1f4f9;
    }
    &:hover &-link {
      background-color: $dark-blue;
    }
    &:hover &-ic circle {
      stroke: $light-blue;
    }
    &:hover &-ic circle:nth-child(2) {
      fill: $light-blue;
    }
    /***** END HOVER *****/
    &-ic circle {
      transition:
        stroke 0.3s,
        fill 0.3s;
    }
    &-text-wrapper {
      transition: background-color 0.3s;
      padding: 35px 50px;
      border-radius: 12px 0 0 12px;
    }
    &-content {
      & > *:first-child {
        line-height: 1.5;
      }
    }
    &-image-wrapper {
      flex: 0 0 600px;
      border-radius: 0 12px 12px 0;
    }
    &-image {
      border-radius: 0 12px 12px 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-link {
      margin-top: 34px;
    }
  }
  &__footer {
    flex-direction: column;
    align-items: center;
    &-text {
      margin-top: 14px;
    }
  }

  @include respond-to(xx-large) {
    &__item {
      &-image-wrapper {
        flex: 0 0 490px;
      }
    }
  }

  @include respond-to(x-large) {
    &__item {
      padding-top: 20px;
      background-color: $lighest-blue--4;
      border-radius: 16px;
      &,
      &:nth-child(even) {
        flex-direction: column-reverse;
        align-items: center;
        .home-destins__item-image {
          border-radius: 12px;
        }
        .home-destins__item-text-wrapper {
          border-radius: 16px;
        }
      }
      &-image-wrapper {
        height: 350px;
        flex: 0 1 auto;
        max-width: 620px;
        width: 100%;
      }
      &-image {
        flex: 0 1 auto;
        border-radius: 12px;
      }
      &-text-wrapper {
        border-radius: 16px;
      }
      &-link {
        display: flex;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @include respond-to(medium) {
    &__item {
      padding-top: 0;
      &:nth-child(even) {
        .home-destins__item-image-wrapper,
        .home-destins__item-image {
          border-radius: 12px 12px 0 0;
        }
      }
      &-image-wrapper {
        max-width: none;
      }
      &-image-wrapper,
      &-image {
        border-radius: 12px 12px 0 0;
      }
    }
  }

  @include respond-to(small) {
    &__item {
      &-text-wrapper {
        padding: 30px;
      }
      &-image-wrapper {
        height: 300px;
      }
    }
  }
}
/***** END HOME DESTINATIONS *****/

/***** CONTENT SECTION *****/
.home-ship {
  &__content-wrapper {
    max-width: 691px;
    flex-direction: column;
    margin-left: auto;
    margin-right: 32px;
    .content {
      order: 3;
    }
  }
  &__image-wrapper {
    margin-left: 0;
    flex: 0 1 50%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 706px 0;
      max-height: 646px;
    }
  }
  &__container {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  @include respond-to(xxx-large) {
    align-items: center;
    &__container {
      margin-top: 0;
      position: static;
      transform: none;
    }
    &__content-wrapper {
      margin-top: 40px;
      max-width: 53%;
    }
    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-width: 40%;
    }
  }
  @include respond-to(x-large) {
    &__container {
      position: static;
      transform: none;
    }
    &__content-wrapper {
      max-width: 60%;
    }
    &__image-wrapper {
      position: absolute;
      max-width: 32%;
    }
  }
  @include respond-to(large) {
    padding-top: 60px;
    flex-direction: column-reverse;
    &__image-wrapper {
      position: static;
      max-width: none;
      max-width: 500px;
    }
    &__container {
      margin-top: 40px;
    }
    &__content-wrapper {
      margin-top: 0;
      margin-right: 0;
      max-width: none;
    }
  }
  @include respond-to(small) {
    &__content-wrapper {
      .content {
        margin-top: 20px;
        order: initial;
      }
    }
  }
}
/***** END CONTENT SECTION *****/
body {
  overflow-x: hidden;
}
/***** BLOG *****/
.blog {
  &-cards {
    margin-left: calc((100vw - 1660px) / 2);
    margin-right: calc((100vw - 1660px) / 2);
    display: flex;
    padding-bottom: 40px;
  }

  &-card {
    flex: 0 0 600px;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 27px;
    }
    &__header {
      height: 285px;
    }
    &__header-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }
    &__body {
      padding: 20px;
      background-color: $white;
      border-radius: 0 0 12px 12px;
      flex-grow: 1;
      & > *:nth-child(2) {
        margin-top: 4px;
        color: $dark-blue;
        font-weight: 500;
      }
    }
  }

  @include respond-to(xxx-large) {
    padding-top: 100px;
    &-cards {
      margin-left: calc((100vw - 1360px) / 2);
      margin-right: calc((100vw - 1360px) / 2);
      &::-webkit-scrollbar-track {
        margin: 0 100px;
      }
    }
  }

  @include respond-to(xx-large) {
    &-cards {
      margin-left: calc((100vw - 1120px) / 2);
      margin-right: calc((100vw - 1120px) / 2);
    }
    &-card {
      flex: 0 0 500px;
      &__header {
        height: 250px;
      }
    }
  }

  @include respond-to(x-large) {
    &-cards {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @include respond-to(medium) {
    &-cards {
      flex-direction: column;
      align-items: center;
    }
    &-card {
      max-width: 600px;
      &:nth-child(n + 2) {
        margin-top: 40px;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .blog {
    &-card {
      max-width: calc(100vw - 40px);

      &__header {
        height: 225px;
      }
    }
  }
}
/***** END BLOG *****/
