/***** INTRO *****/
.home-intro {
  background-color: #011430;
  min-height: 780px;
  .section-header {
    display: inline-flex;
    flex-direction: column;
  }
  .section-links {
    display: flex;
    justify-content: center;
    width: 100%;
    &__item:first-child {
      margin-right: 60px;
    }
  }

  &__video-slide,
  &__slide {
    padding: 200px 0;
  }

  &__video-slide {
    &-wrapper {
      max-width: 580px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__slide {
    background: url("../images/home-intro__slide-bg.jpg") top left/cover no-repeat;
    &-wrapper {
      max-width: 740px;
    }
    &-img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
      max-width: 920px;
      width: 48%;
      border-radius: 0 0 0 340px;
    }
  }

  &__slider-nav {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    z-index: 1;
    & > .container {
      align-items: center;
      justify-content: center;
    }
  }

  &__swiper-btn {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    transition: background-color 0.5s;

    &:hover {
      background-color: $dark-blue;
    }
  }
  &__dots-wrapper {
    margin: 0 60px;
    display: flex;
    align-items: center;

    span {
      width: 6px;
      height: 6px;
      background-color: $gray--2;
      border-radius: 50%;
      transition:
        background-color 0.5s,
        width 0.5s,
        height 0.5s;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: $dark-blue;
      }
    }

    span:not(:last-child) {
      margin-right: 9px;
    }

    span.swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: $dark-blue;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    padding: 14px 64px;
    border-radius: 0px 100px;
    background-color: $dark-blue;
    max-width: 580px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background-color 0.5s,
      color 0.5s;

    &:hover {
      color: $dark-blue;
      background-color: $white;
    }

    &--light {
      background-color: $light-blue;
    }
  }

  @include respond-to(xxx-large) {
    min-height: 600px;
    &__slide-wrapper {
      max-width: 550px;
    }
  }

  @include respond-to(x-large) {
    min-height: 500px;
    &__video-slide, &__slide {
      padding: 180px 0;
    }
    &__slide-img {
      display: none;
    }
    &__slide-wrapper {
      max-width: none;
    }
  }

  @include respond-to(large) {
    &__video-slide, &__slide {
      padding: 160px 0;
    }
    &__swiper-btn {
      display: none;
    }
    .section-links {
      justify-content: flex-start;
    }
    min-height: 400px;
  }

  @include respond-to(medium) {
    &__video-slide, &__slide {
      padding: 100px 0;
    }
    &__link {
      max-width: 350px;
    }
  }

  @include respond-to(small) {
    .section-links__item:not(:first-child) {
      margin-top: 20px;
    }
  }
}
/***** END INTRO *****/

/***** OFFERS *****/
.offers {
  &-slider {
    &__nav {
      justify-content: center;
      align-items: center;
    }
    &__swiper-btn {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-blue;
      transition: background-color 0.5s;

      &:hover {
        background-color: $dark-blue;
      }
    }
    &__dots-wrapper {
      margin: 0 60px;
      display: flex;
      align-items: center;

      span {
        width: 6px;
        height: 6px;
        background-color: $gray--2;
        border-radius: 50%;
        transition:
          background-color 0.5s,
          width 0.5s,
          height 0.5s;
        display: flex;
        cursor: pointer;

        &:hover {
          background-color: $dark-blue;
        }
      }

      span:not(:last-child) {
        margin-right: 9px;
      }

      span.swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        background-color: $dark-blue;
      }
    }
  }
  &-slide {
    box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.1);
    background-color: $white;
    border-radius: 12px;

    &:hover {
      .offers-slide__header::after {
        opacity: 1;
      }
      .offers-slide__title-wrapper {
        background-color: $dark-blue;
      }
    }
    &__header::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 144, 208, 0.4);
      width: 100%;
      height: 100%;
      transition: opacity 0.5s;
    }
    &__header-img {
      width: 100%;
      height: 285px;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }
    &__title-wrapper,
    &__title {
      border-radius: 16px 16px 0px 0px;
    }
    &__title-wrapper {
      position: absolute;
      z-index: 1;
      left: 20px;
      bottom: 0;
      transition: background-color 0.5s;
      width: calc(100% - 20px);
    }
    &__title {
      padding: 10px 20px;
    }
    &__body {
      padding: 20px;
      display: flex;
      align-items: center;
      &-text {
        margin-right: 10px;
      }
      &-link {
        flex-shrink: 0;
      }
    }
  }

  @include respond-to(large) {
    &-slide {
      &__body-text {
        max-width: 335px;
        margin-right: auto;
      }
      &__body-link {
        margin-left: 20px;
      }
    }
  }

  @include respond-to(small) {
    padding: 80px 0;
    &-slide {
      &__header-img {
        height: 250px;
      }
      &__body {
        flex-direction: column;
      }
      &__body-text {
        max-width: none;
      }
      &__body-link {
        align-self: flex-end;
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}
/***** END OFFERS *****/

/***** CONTENT SECTION *****/
.content-section {
  &__container {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  &__content-wrapper {
    max-width: 691px;
    flex-direction: column;

    .content {
      order: 3;
    }
  }
  &__image-wrapper {
    margin-left: auto;
    flex: 0 1 50%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      border-radius: 706px 0 0 0;
      object-fit: cover;
    }
  }
  &:nth-child(even) {
    .content-section__content-wrapper {
      margin-left: auto;
    }
    .content-section__image-wrapper {
      margin-left: 0;

      img {
        border-radius: 0 0 706px 0;
      }
    }
  }

  @include respond-to(xxx-large) {
    align-items: center;
    &__container {
      margin-top: 0;
    }
    &__content-wrapper {
      max-width: 50%;
    }
    .content {
      margin-top: 60px;
    }
    .content > *:first-child {
      font-size: 26px;
    }
  }

  @include respond-to(x-large) {
    &__container {
      position: static;
      transform: none;
    }
    &__content-wrapper {
      max-width: 60%;
    }
    &__image-wrapper {
      position: absolute;
      top: 100px;
      right: 0;
      max-width: 32%;
      height: calc(100% - 100px);
    }
    &:nth-child(even) {
      .content-section__image-wrapper {
        left: 0;
        bottom: 0;
      }
    }
  }

  @include respond-to(large) {
    & {
      padding-top: 80px;
    }
    &__content-wrapper {
      max-width: 80%;
    }
    &__image-wrapper {
      max-width: 20%;
      top: 60px;
      height: calc(100% - 60px);
    }
    .content {
      margin-top: 40px;
    }
    &:nth-child(even) {
      & {
        padding-top: 0;
      }
      .content-section__container {
        margin-top: 60px;
      }
    }
  }

  @include respond-to(medium) {
    padding-top: 60px;
    flex-direction: column-reverse;
    &__image-wrapper {
      position: static;
      max-width: none;
      max-width: 500px;
    }
    &__container {
      margin-top: 40px;
    }
    &__content-wrapper {
      max-width: none;
    }
    &:nth-child(even) {
      padding-top: 60px;
      .content-section__container {
        margin-top: 40px;
      }
    }
  }

  @include respond-to(small) {
    &__content-wrapper {
      .content {
        margin-top: 20px;
        order: initial;
      }
    }
  }
}
.home-content-section {
  @include respond-to(xx-large) {
    .content-section__container {
      position: static;
      transform: none;
    }
    .content-section__content-wrapper {
      margin-top: 40px;
    }
    .content-section__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 45%;
      height: 100%;
    }
  }
  @include respond-to(x-large) {
    .content-section__image-wrapper {
      max-width: 32%;
    }
  }
  @include respond-to(large) {
    .content-section__image-wrapper {
      max-width: 20%;
    }
  }
  @include respond-to(medium) {
    .content-section__image-wrapper {
      max-width: 500px;
      position: static;
    }
    .content-section__content-wrapper {
      margin-top: 0;
    }
  }
}
/***** END CONTENT SECTION *****/

/***** BLOG *****/
.blog {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-card {
    flex: 0 1 calc(25% - 15px);
    max-width: 360px;
    transition: box-shadow 0.5s;

    &__header {
      height: 285px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 80px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.83%, rgba(0, 0, 0, 0.5) 100%);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      img,
      &::after {
        transition: transform 0.5s;
      }
    }

    &__body {
      background: $white;
      padding: 20px;
    }

    &:hover {
      box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.1);
      img,
      .blog-card__header::after {
        transform: scale(1.05);
      }
    }
  }

  @include respond-to(xxx-large) {
    &-card {
      &__header {
        height: 250px;
      }
      &__body > *:first-child {
        font-size: 24px;
      }
    }
  }

  @include respond-to(xx-large) {
    padding-top: 100px;
    &-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card {
      flex: 0 1 calc(50% - 25px);
    }
    &-card:nth-child(odd) {
      margin-right: 50px;
    }
    &-card:nth-child(n + 3) {
      margin-top: 50px;
    }
  }

  @include respond-to(medium) {
    padding: 80px 0;
  }

  @include respond-to(small) {
    padding: 60px 0;
    &-container {
      flex-direction: column;
      align-items: center;
    }
    &-card {
      max-width: 450px;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(n + 2) {
        margin-top: 30px;
      }
    }
  }
}
/***** END BLOG *****/

/***** PRODUCTS *****/
.products {
  background: url("../images/products-pattern.png") top left/cover no-repeat;
  .section-header {
    max-width: 688px;
  }
  &-cards {
    display: flex;
    justify-content: space-between;
  }
  &-card {
    flex: 0 1 calc(25% - 15px);
    max-width: 360px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.5s;

    &__header {
      height: 285px;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 80px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.83%, rgba(0, 0, 0, 0.5) 100%);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &::after,
      img {
        transition: transform 0.5s;
      }
    }
    &__body {
      padding: 20px 20px 50px;
    }
    &__price-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__price-currency {
      margin-right: 8px;
    }
    &__btn {
      margin: 0 auto -27.5px;
      transform: translateY(-50%);
    }
    &:hover {
      img,
      .products-card__header::after {
        transform: scale(1.05);
      }
      .products-card__btn {
        background-color: $dark-blue;
      }
    }
  }
  &-footer {
    align-items: center;
    flex-direction: column;
    &__text {
      margin-top: 15px;
    }
  }

  @include respond-to(xxx-large) {
    &-card {
      &__header {
        height: 250px;
      }
    }
  }

  @include respond-to(x-large) {
    &-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card {
      flex: 0 1 calc(50% - 25px);
    }
    &-card:nth-child(odd) {
      margin-right: 50px;
    }
    &-card:nth-child(n + 3) {
      margin-top: 50px;
    }
  }

  @include respond-to(medium) {
    padding: 80px 0;
  }

  @include respond-to(small) {
    padding: 60px 0;
    &-cards {
      flex-direction: column;
      align-items: center;
    }
    &-card {
      max-width: 450px;
      width: 100%;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(n + 2) {
        margin-top: 30px;
      }
    }
    &-footer a {
      width: 100%;
    }
  }
}
/***** END PRODUCTS *****/

/***** INFO SECTION *****/
.info-section {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content-wrapper,
  &__image-wrapper {
    flex: 0 1 calc(50% - 25px);
  }
  &__content-wrapper {
    max-width: 690px;
  }
  &__image-wrapper {
    max-width: 675px;
  }
  &__mobile-header {
    display: none;
  }

  @include respond-to(large) {
    padding: 80px 0;
    &__ic {
      margin-top: 0;
    }
    &__container {
      flex-direction: column-reverse;
    }
    &__mobile-header {
      display: block;
      order: 1;
      margin-bottom: 30px;
      align-self: flex-start;
    }

    &__content-wrapper {
      margin-top: 60px;
      .section-header {
        display: none;
      }
    }
    &__image-wrapper {
      img {
        max-height: 400px;
      }
    }
  }

  @include respond-to(small) {
    padding: 60px 0;
    &__content-wrapper {
      margin-top: 40px;
    }
  }
}
/***** END INFO SECTION *****/

/***** CTA SECTION *****/
.cta-section {
  background: url("../images/ship-bg.jpg") top left/cover #7bb7cd;
  min-height: 850px;

  @include respond-to(xxx-large) {
    min-height: 600px;
    background-position: center;
  }

  @include respond-to(small) {
    background-image: url("../images/ship-bg--mobile.png");
    padding: 50px 0 30px;
    min-height: 540px;

    &__content {
      margin-top: 80px;
    }
  }
}
/***** END CTA SECTION *****/

/***** SIGNUP SECTION *****/
.signup {
  &-form {
    &,
    &__controls {
      display: flex;
    }
    &__controls {
      flex-grow: 1;
      justify-content: space-between;
      margin-right: 33px;
    }
    &__controls-item {
      flex: 0 1 calc(20% - 26.4px);
    }
    &__submit-wrapper {
      flex-shrink: 0;
    }
    input,
    select {
      width: 100%;
      max-width: 260px;
    }
  }

  @include respond-to(xx-large) {
    &-form {
      &__controls {
        margin-right: 10px;
      }
      &__controls-item {
        flex: 0 1 calc(20% - 10px);
      }
    }
  }

  @include respond-to(large) {
    &-main {
      margin-top: 20px;
    }
    &-form {
      &,
      &__controls {
        flex-direction: column;
      }
      &__controls {
        margin-right: 0;
      }
      &__controls-item:nth-child(n + 2) {
        margin-top: 20px;
      }
      input:not([type="submit"]),
      select {
        max-width: none;
      }
      &__submit-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
    &-footer {
      margin-top: 40px;
    }
  }

  @include respond-to(small) {
    .section-header {
      text-align: left;
    }
  }
}
/***** END SIGNUP SECTION *****/
