/*** Cookies page ***/
.cookies-policy {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      height: 7px;
    }
  }
  &__text-wrapper {
    li:not(:first-child) {
      margin-top: 15px;
    }
  }
  .table-wrapper {
    margin-top: 20px;
    overflow-x: scroll;
  }
  table {
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    /* Thead */
    thead {
      color: $white;
      tr {
        background-color: #32579e;
      }
      td {
        padding: 12px;
        border: unset;
      }
      td:not(:last-child) {
        border-right: 1px solid #6681b8;
      }
      tr:first-child td:first-child {
        border-radius: 6px 0 0 0;
      }
      tr:first-child td:last-child {
        border-radius: 0 6px 0 0;
      }
    }
    /* End thead */

    /* Tbody */
    tbody {
      td {
        padding: 8px 12px;
        border: unset;
      }
      td:not(:last-child) {
        border-right: 1px solid #ccd4e7;
      }
      tr:nth-child(odd) td {
        background-color: $white;
      }
      tr:nth-child(even) td {
        background-color: #f5f7fb;
      }
      tr:last-child td:first-child {
        border-radius: 0 0 0 6px;
      }
      tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
      }
    }
    /* End tbody */
  }
  // 1400
  @include respond-to(xx-large) {
    table {
      table-layout: fixed;
      td {
        width: 20%;
      }
    }
  }
  // 992
  @include respond-to(large) {
    .table-wrapper__fix {
      min-width: 960px;
    }
  }
}
/*** End cookies page ***/
