$dark-blue: #003083;
$blue: #194F94;
$light-blue: #0090D0;
$lighest-blue: #ECF3FA;
$header-control-hover: #DEE8FB;
$gallery-bg: #E9F2F9;
$gallery-scrollbar: #B9C6DE;

$white: #FFF;

$dark: #333;

$gray: #5f5f5f;
$light-gray: #8b8b8b;