$dark-blue: #003083;
$blue: #194F94;
$light-blue: #0090D0;
$light-blue--2: #0092d7;
$lighest-blue: #ECF3FA;
$lighest-blue--2: #F4FAFF;
$lighest-blue--3: #BDC7DF;
$lighest-blue--4: #E9F2F9;
$header-control-hover: #DEE8FB;
$gallery-scrollbar: #B9C6DE;

$white: #FFF;

$dark: #333;

$gray: #5f5f5f;
$light-gray: #8b8b8b;
$gray--2: #E8EEF3;