<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>About AROYA</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="about-us-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <!-- PAGE INTRO -->
      <div class="about-us-intro page-intro page-intro--radius section white relative flex">
        <div class="container page-intro__container">
          <div class="section-header page-intro__text white">
            <div class="section-header__title">
              <h1>About AROYA</h1>
            </div>
            <div class="section-header__description sd mt-2">
              <p>We draw inspiration from the beauty of the sea for enriching experiences, to sail with you on our
                Arabian waves</p>
            </div>
            <!-- <a href="https://uat.booking.aroya.com/touchb2c/"
              class="page-intro__link main-btn main-btn--light-blue mt-3">Book now</a> -->
          </div>
        </div>
      </div>
      <!-- END PAGE INTRO -->

      <!-- CONTENT SECTIONS -->
      <div class="about-us-general section light-bg pt-6 relative flex">
        <div class="container about-us-general__container flex">
          <div class="about-us-general__content-wrapper flex">
            <div class="section-header dark-blue">
              <div class="section-header__title">
                <h2>About AROYA</h2>
              </div>
            </div>
            <div class="content mt-4 sd">
              <p>AROYA Cruises officially launched in June 2023 as a separate business unit of Cruise Saudi; a business
                fully owned by the Public Investment Fund.</p>
              <p>This premium Cruise Line runs with an independent operational and management team based in Jeddah.</p>
              <p>
                Launched in line with Vision 2023 and Saudi Arabia’s plan to become one of the top global tourism
                destinations by 2030, AROYA Cruises aims to provide exceptional all-year-round experiences tailored to
                Saudi and GCC nationals and residents.
              </p>
            </div>
          </div>
        </div>
        <div class="about-us-general__image-wrapper flex">
          <img src="./images/about-us-page/content-section.jpeg" alt="content-section-hero">
        </div>
      </div>
      <!-- END CONTENT SECTIONS -->

      <!-- OUR VIEW SECTIONS -->
      <div class="about-us-view section light-bg pt-3 pb-8 relative flex">
        <div class="about-us-view__image-wrapper flex">
          <img src="./images/about-us-page/our-view.jpg" alt="our-view-hero">
        </div>
        <div class="container about-us-view__container flex">
          <div class="about-us-view__content-wrapper flex">
            <div class="dark-blue mb-2">
              <div class="title-34 f-medium">
                <h3>Our Vision</h3>
              </div>
            </div>
            <div class="content sd">
              <p>To reinvent the meaning of holidays in Arabia.</p>
            </div>
          </div>

          <div class="about-us-view__content-wrapper flex mt-4">
            <div class="dark-blue mb-2">
              <div class="title-34 f-medium">
                <h3>Our Mission</h3>
              </div>
            </div>
            <div class="content sd">
              <p>By launching the first Arabian Cruise line that leads the way in elevating joyful and memorable
                experiences for guests at sea and onshore, commercially and sustainably.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END OUR VIEW SECTIONS -->

      <!-- OUR VALUES SECTIONS -->
      <div class="about-us__pattern about-us-values section">
        <div class="section-header dark-blue">
          <div class="section-header__title">
            <h2>Our values</h2>
          </div>
        </div>
        <div class="about-us-values__container flex">
          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img src="./images/about-us-page/icons/ph_hand-heart.svg" alt="hand-heart">
            </div>
            <p class="about-us-values__bage-description text-30 medium">Generous</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img src="./images/about-us-page/icons/solar_cup-star-linear.svg" alt="cup-star">
            </div>
            <p class="about-us-values__bage-description text-30 medium">Respectful</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img src="./images/about-us-page/icons/healthicons_wold-care-outline.svg" alt="wold-care">
            </div>
            <p class="about-us-values__bage-description text-30 medium">Enriching</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img src="./images/about-us-page/icons/idea.svg" alt="idea">
            </div>
            <p class="about-us-values__bage-description text-30 medium">Inspiring</p>
          </div>
        </div>
      </div>
      <!-- END OUR VALUES SECTIONS -->

      <!-- CTA SECTION -->
      <div class="page-cta py-6 cabins-page__cta white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">Explore our Ship</h2>
          <p class="text-26 mt-1 center">Find out all the information about our ship</p>
          <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
        </div>
      </div>
      <!-- END CTA SECTION -->

    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>