<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="ships-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
  <!-- END HEADER -->
  <main class="main">
    <!-- INTRO -->
    <div class="page-intro page-intro--radius flex relative py-4">
      <div class="container page-intro__container">
        <div class="section-header page-intro__text">
          <div class="section-header__title dark-blue">
            <h1>Aroya Ships</h1>
          </div>
          <div class="section-header__description sd mt-2">
            <p>Get ready for an unforgettable cruise.<br>
              Discover the best cruises and exclusive offers!</p>
          </div>
          <a href="/cruise-deals" class="page-intro__link main-btn main-btn--light-blue mt-3">Explore</a>
        </div>
      </div>
    </div>
    <!-- END INTRO -->
    <!-- CONTENT -->
    <div class="page-content ships-aroya relative pt-8 light-bg">
      <div class="container">
        <div class="section-header ships-aroya__section-header">
          <div class="section-header__title dark-blue">
            <h2>Embark on an unforgettable voyage, where the sea meets authenticity.</h2>
          </div>
          <div class="section-header__text mt-2 sd">
            <p>Enjoy the intimacy we offer you, where our top priority is to serve you, ensure your comfort and
              attention
              to every detail. AROYA’S fleet consists of a number of large and luxurious vessels, catering to multiple
              needs for different tastes and various activities.</p>
          </div>
        </div>
      </div>
      <div class="container page-content__container ships-aroya__container flex mt-8 py-10">
        <div class="page-content__img-wrapper ships-aroya__img-wrapper flex">
          <img class="page-content__img ships-aroya__img" src="../../images/ships-page/content.jpg" alt="">
        </div>
        <div class="page-content__text ships-aroya__text">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>AROYA Ship</h2>
            </div>
          </div>
          <div class="sd mt-4">
            <p>This floating resort has been specially designed to meet your needs with various facilities on 17 floors,
              one of which is a floor dedicated to water games and another dedicated to international restaurants and
              kitchens.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
    <!-- CHARACTERISTICS CARD -->
    <div class="char-cards py-8 light-bg">
      <div class="container char-cards__container">
        <div class="char-cards__wrapper flex">
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/calend-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Refurbishment Date</p>
              <p class="text-34 medium">26th Sep 2023</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/star-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Production Date</p>
              <p class="text-34 medium">26th Oct 2023</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/weight-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Tonnage</p>
              <p class="text-34 medium">151,000 tons</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/cabins-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Cabins</p>
              <p class="text-34 medium">1,682</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/length-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Length</p>
              <p class="text-34 medium">335 meters</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/speed-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Maximum speed</p>
              <p class="text-34 medium">23.6 knots</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/pax-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Maximum pax</p>
              <p class="text-34 medium">3,364 (lower berth)</p>
            </div>
          </div>
          <div class="char-cards__card flex">
            <div class="char-cards__card-header flex">
              <img src="../../images/ships-page/people-ic.svg" alt="">
            </div>
            <div class="char-cards__card-body mt-2 text-20 f-bold center">
              <p>Crew</p>
              <p class="text-34 medium">+1,600 members</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CHARACTERISTICS CARD -->
    <!-- CONTENT -->
    <div class="page-content page-content--right ships-facilities relative pt-8 pb-5">
      <div class="container page-content__container ships-facilities__container flex">
        <div class="page-content__img-wrapper ships-facilities__img-wrapper flex">
          <img class="page-content__img ships-facilities__img" src="../../images/ships-page/facilities.jpg" alt="">
        </div>
        <div class="page-content__text ships-facilities__text">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>Miscellaneous facilities</h2>
            </div>
          </div>
          <div class="sd mt-4 circle-ul">
            <ul>
              <li>Indulge in luxury with spacious suites, splendid dining, and world class spa facilities on board our
                ship,</li>
              <li>We have a wide range of rooms, suites, and villas to suit your requirements and capacities.</li>
              <li>You will also find 6 swimming pools for adults and 4 for children.</li>
              <li>Dreamers Area, a vast area dedicated to our little ones, contains a number of facilities that
                distinctly suit each age group.</li>
              <li>There are two theatres on board, one dedicated to adults as a window to art and culture, and another
                to reflect the aspirations and dreams of the little ones.</li>
              <li>In the heart of the ship, you will find spacious malls that meet your needs and provide you with many
                high-end international brands for different age groups.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
    <!-- CARDS -->
    <div class="ship-cards pt-9 pb-11">
      <div class="container ship-cards__container">
        <div class="ship-cards__items flex">
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/rest-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>17 restaurants</p>
              <p class="text-18 gray">5 Complimentary and 12 Specialty & 11 Bars</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/venues-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>20 VENUES</p>
              <p class="text-18 gray">For entertainment including 1,018 seater theatre and vr zone</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/kid-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>1,858 SQM KID ZONE</p>
              <p class="text-18 gray">One of the largest in the industry</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/water-park-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>Water park</p>
              <p class="text-18 gray">With 5 slides and totally new kids splash zone</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/woomen-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>Exclusive places for women</p>
              <p class="text-18 gray">Exclusive venues and dedicated hours for female guests including adults pool, gym,
                thermal spa, and separate prayer room.</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/vip-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>VIP section with elevated service</p>
              <p class="text-18 gray">Including butler service, premium drink packages, dedicated venues and restaurant,
                priority embarkation and disembarkation</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/area-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>1,533 SQM RETAIL AREA</p>
              <p class="text-18 gray">Will offer premium and affordable luxury items for all age groups. An exclusive
                concierge-style retail experience will be available for the VIP guests.</p>
            </div>
          </div>
          <div class="ship-cards__card flex">
            <div class="ship-cards__card-header flex">
              <img src="../../images/ships-page/flower-ic.svg" alt="" class="ships-cards__card-ic">
            </div>
            <div class="ship-cards__card-body title-23 f-bold mt-1">
              <p>1,805 SQM WELLNESS AREA</p>
              <p class="text-18 gray">Including medi-spa offering guests beauty enhancement treatments and a dedicated
                Thermal suite for groups</p>
            </div>
          </div>
        </div>
        <div class="ship-cards__footer mt-6 flex white">
          <div class="ship-cards__footer-items flex">
            <div class="ship-cards__footer-item flex">
              <div class="ship-cards__footer-ic flex">
                <img src="../../images/ships-page/key-ic.svg" alt="">
              </div>
              <div class="ship-cards__footer-text text-18 title-26 f-bold">
                <p>1,682 CABINS</p>
                <p>Including 160 suites and villas in the Khuzama section and 32 special needs cabins</p>
              </div>
            </div>
            <div class="ship-cards__footer-item">
              <ul class="ship-cards__footer-list text-18">
                <li class="flex">
                  <strong>Inside cabins:</strong>
                  <span>402 (12-18sqm)</span>
                </li>
                <li class="flex">
                  <strong>Ocean view cabins:</strong>
                  <span>82 (15-30sqm)</span>
                </li>
                <li class="flex">
                  <strong>Balcony cabins:</strong>
                  <span>1,040 (16-27sqm)</span>
                </li>
              </ul>
            </div>
            <div class="ship-cards__footer-item flex">
              <div class="ship-cards__footer-ic flex">
                <img src="../../images/ships-page/crone-vip-ic.svg" alt="">
              </div>
              <ul class="ship-cards__footer-list text-18">
                <li class="flex">
                  <strong>Suites</strong>
                  <span>151 (17-58sqm)</span>
                </li>
                <li class="flex">
                  <strong>Villas</strong>
                  <span>9 (96-280sqm)</span>
                </li>
                <li class="flex">
                  <strong>Vip+</strong>
                  <span>10 (117-245sqm)</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CARDS -->
    <!-- CONTENTS -->
    <div class="page-content ships-content relative light-bg pt-8">
      <div class="container page-content__container ships-content__container flex">
        <div class="page-content__img-wrapper ships-content__img-wrapper flex">
          <img class="page-content__img ships-content__img" src="../../images/ships-page/ships-content-2.jpg" alt="">
        </div>
        <div class="page-content__text ships-content__text">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>Khuzama</h2>
            </div>
          </div>
          <div class="sd mt-2">
            <p>
              It is an area dedicated to VIP visitors and those looking for luxury and enjoying international standards
              and authentic Arabian details.
            </p>
            <p>
              For those looking for beauty. You will find your sanctuary with modern touches and international products
              between the clinic, beauty salons, and massage area for supplementary comfort and relaxation.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content page-content--right ships-content relative light-bg pb-8">
      <div class="container page-content__container ships-content__container flex">
        <div class="page-content__img-wrapper ships-content__img-wrapper flex">
          <img class="page-content__img ships-content__img" src="../../images/ships-page/ships-content-1.jpg" alt="">
        </div>
        <div class="page-content__text ships-content__text">
          <div class="sd">
            <p>
              The 17th floor dining area, the unlimited choice of local and international cuisines and various cafes.
            </p>
            <p>
              In the concierge area, you will find a number of specialists and tour experts to meet your excursions in
              your favorite destinations and amusing tours.
            </p>
            <p>
              At our ship we apply the highest safety standards through safety instructions available everywhere, your
              safety is our priority, as we take the latest security measures to ensure a composed journey.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENTS -->
    <!-- VACATION -->
    <div class="vacation pt-8 pb-4">
      <div class="container vacation__container flex">
        <div class="vacation-content">
          <div class="section-header">
            <div class="section-header__title white">
              <h2>Luxury with an Arabian touch</h2>
            </div>
            <div class="section-header__text white text-26 mt-2">
              <p>Enjoy your holiday in comfort, discover our Khuzama Suite</p>
            </div>
          </div>
          <a href="/suite" class="vacation-link main-btn main-btn--light-blue mt-4">
            Explore
          </a>
        </div>
        <div class="vacation-cards flex">
          <div class="vacation-card mt-5">
            <img src="../../images/ships-page/vacation-1.jpg" alt="" class="vacation-card__img">
          </div>
          <div class="vacation-card">
            <img src="../../images/ships-page/vacation-2.jpg" alt="" class="vacation-card__img">
          </div>
        </div>
      </div>
    </div>
    <!-- END VACATION -->
  </main>
  <%= templates.footerEn %>
  <div class="overlay"></div>
</body>

</html>