<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="cabins-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
  <!-- END HEADER -->
  <main class="main">
    <!-- CABINS INTRO -->
    <div class="page-intro page-intro--radius flex relative py-4 white">
      <div class="container page-intro__container">
        <div class="section-header page-intro__text">
          <div class="section-header__title">
            <h1>Aroya Cabins</h1>
          </div>
          <!-- <div class="section-header__description sd mt-2">
            <p>Get ready for an unforgettable cruise.<br>
              Discover the best cruises and exclusive offers!</p>
          </div>
          <a href="#" class="page-intro__link main-btn main-btn--light-blue mt-3">Explore</a> -->
        </div>
      </div>
    </div>
    <!-- END CABINS INTRO -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8 light-bg">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>Interior</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>
                  AROYA Cruise offers these interior cabins for maximum comfort, they are carefully designed to provide
                  enough space for sleeping and relaxing, they contain all the basic amenities you need for a
                  comfortable stay throughout the cruise.
                </p>
                <p>
                  It is an ideal choice for practical people and those who love events and activities outside the
                  boundaries of their residence.
                </p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>This category has three sizes: <strong>12-14-18 sqm</strong></p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view swiper flex">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-1.jpg" alt="">
              </div>
            </div>
            <div class="swiper-nav">
              <button class="swiper-nav__btn prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.20921 11.7806C8.93026 12.0596 8.93026 12.5118 9.20921 12.7908L13.7806 17.3622C14.0596 17.6412 14.5118 17.6412 14.7908 17.3622C15.0697 17.0833 15.0697 16.631 14.7908 16.3521L10.7244 12.2857L14.7908 8.21936C15.0697 7.94042 15.0697 7.48816 14.7908 7.20921C14.5118 6.93026 14.0596 6.93026 13.7806 7.20921L9.20921 11.7806Z"
                    fill="white" />
                </svg>
              </button>
              <div class="suite-popup__item-slider-dots swiper-nav__dots"></div>
              <button class="swiper-nav__btn next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.7908 11.7806C15.0697 12.0596 15.0697 12.5118 14.7908 12.7908L10.2194 17.3622C9.94042 17.6412 9.48815 17.6412 9.20921 17.3622C8.93026 17.0833 8.93026 16.631 9.20921 16.3521L13.2756 12.2857L9.20921 8.21936C8.93026 7.94042 8.93026 7.48816 9.20921 7.20921C9.48815 6.93026 9.94042 6.93026 10.2194 7.20921L14.7908 11.7806Z"
                    fill="white" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>Interior Cabin</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>Comfortable and quiet, you will find it still and ideal for rest and relaxation after a day full of fun
                and discoveries specially designed to meet your need for comfort and relaxation , it contains
                comfortable beds, double or twin (upon request), wardrobe, bathroom with shower, and vanity area with
                hairdryer.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Television</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Safe</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">WiFi</span>
              <span>(for a fee)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Kettle</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Mini fridge</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>Sea view</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>These cabins are strategically located on board the AROYA Cruise ship, where you can enjoy charming
                  views of the ocean from your private window. The beauty of the sea and the splendor of the landscape
                  will surround you throughout your trip. These cabins are a great choice for lovers of stunning views
                  and a quiet, romantic vibe.</p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>This category has Three sizes: <strong>15-20-30 sqm</strong></p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view swiper flex">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-2.jpg" alt="">
              </div>
            </div>
            <div class="swiper-nav">
              <button class="swiper-nav__btn prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.20921 11.7806C8.93026 12.0596 8.93026 12.5118 9.20921 12.7908L13.7806 17.3622C14.0596 17.6412 14.5118 17.6412 14.7908 17.3622C15.0697 17.0833 15.0697 16.631 14.7908 16.3521L10.7244 12.2857L14.7908 8.21936C15.0697 7.94042 15.0697 7.48816 14.7908 7.20921C14.5118 6.93026 14.0596 6.93026 13.7806 7.20921L9.20921 11.7806Z"
                    fill="white" />
                </svg>
              </button>
              <div class="suite-popup__item-slider-dots swiper-nav__dots"></div>
              <button class="swiper-nav__btn next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.7908 11.7806C15.0697 12.0596 15.0697 12.5118 14.7908 12.7908L10.2194 17.3622C9.94042 17.6412 9.48815 17.6412 9.20921 17.3622C8.93026 17.0833 8.93026 16.631 9.20921 16.3521L13.2756 12.2857L9.20921 8.21936C8.93026 7.94042 8.93026 7.48816 9.20921 7.20921C9.48815 6.93026 9.94042 6.93026 10.2194 7.20921L14.7908 11.7806Z"
                    fill="white" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>Sea View cabin</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>You will experience sailing in this luxurious and comfortable cabin with comfortable beds, double or
                twin (upon request), a window with sea views, a wardrobe, a bathroom with shower, and a vanity area with
                hairdryer. Crystal windows offering magnificent views of the sea skyline, these charming cabins offer a
                tranquil atmosphere and a refreshing view of the sea.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Television</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Safe</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">WiFi</span>
              <span>(for a fee)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Kettle</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Mini fridge</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8 light-bg">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>Balcony</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>
                  The perfect choice for a unique and romantic experience on board AROYA Cruises!!
                </p>
                <p>
                  These cabins provide you with charming views, they are characterized by sophisticated and elegant
                  interior designs to provide you with an exceptional space to relax and enjoy the sea, through private
                  balconies that enable you to sit and enjoy the fresh air and the charming natural scenery.
                </p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>This category has four sizes: <strong>16-19-25-27 sqm</strong></p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view swiper flex">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-3.jpg" alt="">
              </div>
            </div>
            <div class="swiper-nav">
              <button class="swiper-nav__btn prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.20921 11.7806C8.93026 12.0596 8.93026 12.5118 9.20921 12.7908L13.7806 17.3622C14.0596 17.6412 14.5118 17.6412 14.7908 17.3622C15.0697 17.0833 15.0697 16.631 14.7908 16.3521L10.7244 12.2857L14.7908 8.21936C15.0697 7.94042 15.0697 7.48816 14.7908 7.20921C14.5118 6.93026 14.0596 6.93026 13.7806 7.20921L9.20921 11.7806Z"
                    fill="white" />
                </svg>
              </button>
              <div class="suite-popup__item-slider-dots swiper-nav__dots"></div>
              <button class="swiper-nav__btn next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.7908 11.7806C15.0697 12.0596 15.0697 12.5118 14.7908 12.7908L10.2194 17.3622C9.94042 17.6412 9.48815 17.6412 9.20921 17.3622C8.93026 17.0833 8.93026 16.631 9.20921 16.3521L13.2756 12.2857L9.20921 8.21936C8.93026 7.94042 8.93026 7.48816 9.20921 7.20921C9.48815 6.93026 9.94042 6.93026 10.2194 7.20921L14.7908 11.7806Z"
                    fill="white" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>Balcony Cabin</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>The design of this cabin combines comfort and elegance in an elaborate way, the furniture is
                characterized by calm colors, luxurious wood, adding a warm and comfortable atmosphere. Your deluxe bed
                is equipped with luxurious linens that guarantee you comfortable nights with a balcony that adds
                breathtaking beauty and an unparalleled experience with a warm area , it includes comfortable beds,
                double or twin (upon request), a balcony with sea views, a wardrobe, a bathroom with shower and a vanity
                area with hairdryer.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Television</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Safe</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">WiFi</span>
              <span>(for a fee)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Kettle</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">Mini fridge</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CTA -->
    <div class="page-cta py-6 cabins-page__cta white">
      <div class="container page-cta__container">
        <h2 class="text-60 medium">Explore our Ship</h2>
        <p class="text-26 mt-1 center">Find out all the information about our ship</p>
        <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
      </div>
    </div>
    <!-- END CTA -->
  </main>
  <%= templates.footerEn %>
  <div class="overlay"></div>
</body>

</html>