<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Contact Us</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KFPGJZC3');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="cookies-policy">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <div class="sd light-bg py-6 circle-ul">
        <div class="container ">
          <div class="cookies-policy__text-wrapper">
            <div class="section-header">
              <div class="section-header__title dark-blue uc">
                <h1>Cookies policy</h1>
              </div>
              <div class="section-header__text text-18 mt-2">
                <p>This Cookie Policy explains how Cruise Saudi (“Company”, "we," "us," and "our") uses cookies and
                  similar technologies to recognize you (“the customer” or “user”) when you visit our website at
                  http://www.aroya.com (the “Website"). It explains what these technologies are and why we use them, as
                  well as your rights to control our use of them.
                  We may use cookies to collect and store personal information, or that becomes personal information if
                  we
                  combine it with other information.</p>
              </div>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>What are cookies?</h2>
              <p>Cookies are small data files that are placed on your computer or other devices such as smart phones or
                tablets when you visit the Website. Cookies are widely used by website owners in order to ‘remember’
                when
                your computer or device accesses their website and make their websites work, or to work more
                efficiently,
                as well as to provide reporting information.
                Cookies set by the website owner (Cruise Saudi) are called "first-party cookies." Cookies set by parties
                other than the website owner are called "third-party cookies." Third-party cookies enable third-party to
                improve their features or functionality to be provided on or through the website (e.g., advertising,
                interactive content, and analytics). Such data shall be collected by the parties that set these
                third-party cookies can recognize your computer both when it visits the website in question and when it
                visits certain other websites without identifying anyone directly.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>Why do we use cookies?</h2>
              <p>We use both first- and third-party cookies for several reasons, each contributing to a more seamless
                and
                personalized user experience. Some cookies are essential or strictly necessary, serving technical
                functions vital for the operation, security, and accessibility of our Website. These cookies enable core
                functionalities, such as allowing users to navigate the site, securely access their accounts, book and
                purchase services, and ensure the Website operates smoothly, amongst others. We refer to these as
                "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the
                interests of our users to enhance the experience on our Website. Third parties serve cookies through the
                Website for advertising, analytics, and other purposes. This is described in more detail below.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>How can I control cookies?</h2>
              <p>You have the right to decide whether to accept or reject the use of cookies. You can exercise your
                cookie
                rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you
                to
                select which categories of cookies you accept or reject to use. Essential cookies cannot be rejected as
                they are strictly necessary to provide you with services and allow the Website to function.
                The Cookie Consent Manager can be found in the notification banner and on the Website.
                If you choose to reject cookies, you may still use our Website, though your access to some functionality
                and areas of our Website may be restricted. Cookies play a crucial role in providing a personalized and
                seamless browsing experience, and rejecting them may impact certain features. Here's what you can
                expect:
              </p>
              <ul>
                <li>Limited Functionality: Some features of our Website may rely on cookies to function optimally. This
                  could include personalized settings, saved preferences, or the ability to stay logged in across pages.
                  If you reject cookies, these functionalities may be limited or unavailable.</li>
                <li>Restricted Access: Certain areas of our Website may require cookies for access. This could include
                  secure sections that rely on user authentication. Without accepting cookies, you might encounter
                  restrictions in accessing specific content or services.</li>
                <li>Personalization Challenges: Cookies are instrumental in personalizing content based on your
                  preferences and interests. Rejecting cookies means the loss of this personalization, and you may
                  experience a more generic browsing experience.</li>
              </ul>
              <p>The specific types of first- and third-party cookies served through the Website and the purposes they
                perform are described in the table below (please note that the specific cookies served may vary
                depending
                on the specific Online Properties you visit):</p>
              <div class="table-wrapper custom-scrollbar">
                <div class="table-wrapper__fix">
                  <table>
                    <thead>
                      <tr>
                        <td>Cookie Name</td>
                        <td>Purpose(s)</td>
                        <td>Product(s)</td>
                        <td>Cookie Lifespan</td>
                        <td>Domain(s)</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>__gsas</td>
                        <td>Advertising</td>
                        <td>AdSense for Search</td>
                        <td>3 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__gpi</td>
                        <td>Advertising</td>
                        <td>AdSense, Google Ad Manager</td>
                        <td>13 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__gpi_optout</td>
                        <td>Advertising</td>
                        <td>AdSense, Google Ad Manager</td>
                        <td>13 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>NID</td>
                        <td>Security, Analytics, Functionality, Advertising</td>
                        <td>AdSense for Search, Google Ads</td>
                        <td>6 months</td>
                        <td>google.com and local variations, e.g. google.de</td>
                      </tr>
                      <tr>
                        <td>DSID</td>
                        <td>Security, Functionality, Advertising</td>
                        <td>AdSense, Campaign Manager, Google Ad Manager, Google Analytics,
                          Display &amp; Video 360, Search Ads 360</td>
                        <td>2 weeks</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>test_cookie</td>
                        <td>Functionality</td>
                        <td>AdSense, Campaign Manager, Google Ad Manager, Google Analytics,
                          Display &amp; Video 360, Search Ads 360</td>
                        <td>15 minutes</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>id</td>
                        <td>Functionality, Advertising</td>
                        <td>AdSense, Campaign Manager, Display &amp; Video 360, Google Ad
                          Manager, Search Ads 360</td>
                        <td>OPT_OUT: fixed expiration (year 2030/11/09), non-OPT_OUT: 13
                          months EEA UK / 24 months elsewhere</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>__gads</td>
                        <td>Advertising</td>
                        <td>AdSense, Display &amp; Video 360, Google Ad Manager, Google
                          Ads</td>
                        <td>13 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>GED_PLAYLIST_ACTIVITY</td>
                        <td>Advertising</td>
                        <td>AdSense, Google Ad Manager, YouTube</td>
                        <td>Session</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>ACLK_DATA</td>
                        <td>Advertising</td>
                        <td>AdSense, Google Ad Manager, YouTube</td>
                        <td>5 minutes</td>
                        <td>youtube.com</td>
                      </tr>
                      <tr>
                        <td>pm_sess</td>
                        <td>Security, Functionality</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>30 minutes</td>
                        <td>doubleclick.net, google.com</td>
                      </tr>
                      <tr>
                        <td>pm_sess_NNN</td>
                        <td>Security, Functionality</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>30 minutes</td>
                        <td>doubleclick.net, google.com</td>
                      </tr>
                      <tr>
                        <td>aboutads_sessNNN</td>
                        <td>Security, Functionality</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>30 minutes</td>
                        <td>doubleclick.net, google.com</td>
                      </tr>
                      <tr>
                        <td>FPAU</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>ANID</td>
                        <td>Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>13 months EEA UK / 24 months elsewhere</td>
                        <td>google.com and local variations, e.g. google.de</td>
                      </tr>
                      <tr>
                        <td>AID</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>13 months EEA UK / 540 days elsewhere</td>
                        <td>google.com/ads, google.com/ads/measurement,
                          googleadservices.com</td>
                      </tr>
                      <tr>
                        <td>IDE</td>
                        <td>Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ad Manager,
                          Google Analytics, Search Ads 360</td>
                        <td>13 months EEA UK / 24 months elsewhere</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>TAID</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>14 days</td>
                        <td>google.com/ads, google.com/ads/measurement,
                          googleadservices.com</td>
                      </tr>
                      <tr>
                        <td>FPGCLDC</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Search Ads 360
                        </td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_dc</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Search Ads 360
                        </td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_au</td>
                        <td>Analytics, Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Google Ads, Search
                          Ads 360</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>FLC</td>
                        <td>Advertising</td>
                        <td>Campaign Manager, Display &amp; Video 360, Search Ads 360
                        </td>
                        <td>10 seconds</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>RUL</td>
                        <td>Advertising</td>
                        <td>Display &amp; Video 360, Google Ads</td>
                        <td>12 months</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>FCCDCF</td>
                        <td>Functionality</td>
                        <td>Funding Choices</td>
                        <td>13 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>FCNEC</td>
                        <td>Analytics</td>
                        <td>Funding Choices</td>
                        <td>365 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>FPGCLAW</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>FPGCLGB</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_gb</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gac_gb_&lt;wpid&gt;</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_aw</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>1P_JAR</td>
                        <td>Advertising</td>
                        <td>Google Ads</td>
                        <td>30 days</td>
                        <td>google.com and local variations, e.g. google.de</td>
                      </tr>
                      <tr>
                        <td>Conversion</td>
                        <td>Advertising</td>
                        <td>Google Ads</td>
                        <td>90 days</td>
                        <td>www.googleadservices.com/pagead/conversion/</td>
                      </tr>
                      <tr>
                        <td>YSC</td>
                        <td>Security</td>
                        <td>Google Ads, YouTube</td>
                        <td>Session</td>
                        <td>youtube.com</td>
                      </tr>
                      <tr>
                        <td>VISITOR_INFO1_LIVE</td>
                        <td>Security, Advertising</td>
                        <td>Google Ads, YouTube</td>
                        <td>180 days</td>
                        <td>youtube.com</td>
                      </tr>
                      <tr>
                        <td>VISITOR_INFO1_LIVE__k</td>
                        <td>Security, Advertising</td>
                        <td>Google Ads, YouTube</td>
                        <td>180 days</td>
                        <td>youtube.com</td>
                      </tr>
                      <tr>
                        <td>VISITOR_INFO1_LIVE__default</td>
                        <td>Security, Advertising</td>
                        <td>Google Ads, YouTube</td>
                        <td>180 days</td>
                        <td>youtube.com</td>
                      </tr>
                      <tr>
                        <td>FPLC</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>20 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_ga</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>2 years</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gac_&lt;wpid&gt;</td>
                        <td>Advertising</td>
                        <td>Google Analytics</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gid</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gat[_&lt;customname&gt;]</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>1 minute</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utma</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>2 years</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utmb</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>30 minutes</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utmc</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>Session</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utmt</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>10 minutes</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utmz</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>6 months</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>__utmv</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>2 years</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>AMP_TOKEN</td>
                        <td>Functionality</td>
                        <td>Google Analytics</td>
                        <td>30 seconds to 1 year</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>FPID</td>
                        <td>Analytics</td>
                        <td>Google Analytics</td>
                        <td>2 years</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>GA_OPT_OUT</td>
                        <td>Functionality</td>
                        <td>Google Analytics</td>
                        <td>10 Nov 2030 (all cookies)</td>
                        <td>google-analytics.com</td>
                      </tr>
                      <tr>
                        <td>_ga_&lt;wpid&gt;</td>
                        <td>Analytics</td>
                        <td>Google Analytics 360</td>
                        <td>2 years</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_dc_gtm_&lt;property-id&gt;</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Google Tag Manager</td>
                        <td>1 minute</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gaexp</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>Set by customer; max of 93 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gaexp_rc</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>10 seconds</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_opt_awcid</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_opt_awmid</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_opt_awgid</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_opt_awkid</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_opt_utmc</td>
                        <td>Analytics</td>
                        <td>Google Analytics, Optimize</td>
                        <td>24 hours</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_gf</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Flights</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>_gcl_ha</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Hotel Ads</td>
                        <td>90 days</td>
                        <td>Set from partner domain</td>
                      </tr>
                      <tr>
                        <td>PAIDCONTENT</td>
                        <td>Analytics, Advertising</td>
                        <td>Google Surveys</td>
                        <td>30 days</td>
                        <td>doubleclick.net</td>
                      </tr>
                      <tr>
                        <td>_opt_expid</td>
                        <td>Analytics</td>
                        <td>Optimize</td>
                        <td>10 seconds</td>
                        <td>Set from partner domain</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>How can I control cookies on my browser:</h2>
              <p>As the means by which you can reject cookies through your web browser controls vary from browser to
                browser, you should visit your browser's following is information about how to manage cookies on the
                most popular browsers.</p>
              <ul>
                <li><a href="https://support.google.com/chrome/answer/95647#zippy=%2Callow-or-block-cookies">Chrome</a>
                </li>
                <li><a
                    href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d">Internet
                    Explorer</a></li>
                <li><a
                    href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US">Firefox</a>
                </li>
                <li><a href="https://support.apple.com/en-ie/guide/safari/sfri11471/mac">Safari</a></li>
                <li><a
                    href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd">Edge</a>
                </li>
                <li><a href="https://help.opera.com/en/latest/web-preferences/">Opera</a></li>
              </ul>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>What about other tracking technologies, like web beacons?</h2>
              <p>Cookies are not the only way to recognize or track visitors or users of a website. We may use other,
                similar technologies from time to time, like web beacons (sometimes called "tracking pixels" or – clear
                gifs"). These are tiny graphics files that contain a unique identifier that enables us to recognize when
                someone has visited the Website or opened an email including them. This allows us, for example, to
                monitor the traffic patterns of users from one page within a website to another, to deliver or
                communicate with cookies, to understand whether you have come to the website from an online
                advertisement displayed on a third-party website, to improve the Website performance, and to measure the
                success of email marketing campaigns. In many instances, these technologies are reliant on cookies to
                function properly, and so rejecting cookies will impair their functionality.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>Do you use Flash cookies or Local Shared Objects?</h2>
              <p>The Website and third parties may also use so-called "Flash Cookies" (also known as Local Shared
                Objects or LSOs") to, among other things, collect and store information about your use of our services,
                fraud prevention, and for other site operations.</p>
              <p>
                If you do not want Flash Cookies stored on your computer, you can adjust the settings of your Flash
                player to block Flash Cookies storage using the tools contained in the Website Storage Settings Panel.
                You can also control Flash Cookies by going to the Global Storage Settings Panel and following the
                instructions (which may include instructions that explain, for example. how to delete existing Flash
                Cookies (referred to "information" on the Macromedia site), how to prevent Flash LSO from being placed
                on your computer without your being asked, and (for Flash Player 8 and later) how to block Flash Cookies
                that are not being delivered by the operator of the page you are on at the time).
                Please note that setting the Flash Player to restrict or limit acceptance of Flash Cookies may reduce or
                impede the functionality of some Flash applications, including, potentially, Flash applications used in
                connection with our services or online content.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>Do you serve targeted advertising?</h2>
              <p>Third parties may serve cookies on your computer or other devices to serve advertising through the
                Website. These third parties may collect and use information about your visits to the Website and other
                websites in order to provide relevant advertisements about goods and services that you may be interested
                in. They may also employ technology that is used to measure the effectiveness of advertisements. They
                can accomplish this by using cookies or web beacons to collect information about your visits to the
                Website and other sites in order to provide relevant advertisements about goods and services of
                potential interest to you. The information collected through this process does not enable us or them to
                identify your name, contact details, or other details that directly identify you unless you choose to
                provide them.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>How often will you update this Cookie Policy?</h2>
              <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the
                cookies we use or for other operational, legal, or regulatory reasons. Please therefore revisit this
                Cookie Policy regularly to stay informed about our use of cookies and related technologies.
              </p>
              <p>The date at the top of this Cookie Policy indicates when it was last updated.</p>
            </div>
            <div class="cookies-policy__text mt-4 text-18 title-26 f-bold f-dark-blue">
              <h2>Where can I get further information?</h2>
              <p>If you have any questions about our use of cookies or other technologies, please email us at
                DPO@aroya.com or by post to:
              </p>
              <p>The Headquarters Business Park, J425+X8F,</p>
              <p>Al Kurnaysh Br Rd, Ash Shati,</p>
              <p>Jeddah 23511,</p>
              <p>Saudi Arabia</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>