<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="description" content="Dive into Cruise 101 by AROYA Cruises. Your ultimate guide to unique sea cruises, essential tips, and information for a smooth journey.">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="cruise-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <!-- INTRO -->
      <div class="page-intro page-intro--radius cruise-intro flex relative py-4">
        <div class="container page-intro__container">
          <div class="section-header page-intro__text white">
            <div class="section-header__title">
              <h1>Cruise 101</h1>
            </div>
            <div class="section-header__description sd mt-2">
              <p>Welcome to Cruise101, your ultimate guide for unique sea cruises. Cruise101 provides essential tips and
                information, ensuring a smooth and enjoyable journey. Join us to discover all you need to know about sea
                cruises and prepare for an adventure with AROYA Cruises</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END INTRO -->
      <!-- CONTENT -->
      <div class="page-content cruise-page__content relative py-8 light-bg">
        <div class="container page-content__container flex">
          <div class="page-content__img-wrapper cruise-page__content-img-wrapper flex">
            <img loading="lazy" class="page-content__img cruise-page__content-img" src="../../images/cruise-101/content.jpeg" alt="">
          </div>
          <div class="page-content__text">
            <div class="section-header dark-blue">
              <div class="section-header__title">
                <h2>What is a Cruise?</h2>
              </div>
            </div>
            <div class="sd mt-2">
              <p>
                Welcome to AROYA Cruises, where we offer you a new concept of vacation that meets your needs and
                satisfies your tastes in one place, making your vacation a collection of diverse experiences that cater
                to all age groups.
              </p>
              <p>
                A cruise is a floating resort that includes entertainment areas and various restaurants on board a giant
                ship that accommodates a large number of guests. It sails to different destinations, offering a range of
                exciting experiences and unforgettable memories.
              </p>
              <p>
                Embark on an epic journey with AROYA Cruises, where your dream vacation awaits! Join the fun-filled
                voyage packed with premium experiences, excitement, and memories that'll make you feel forever young.
              </p>
              <p>
                As it includes: <br>
                <strong>Entertainment Areas:</strong> Karaoke Rooms, Legends Sport Lounge, and Glitch VR <br>
                <strong>Various Restaurants:</strong> Al Waha, Irth, Layalina, and Bamboo <br>
                <strong>Immersive Experiences:</strong> Water activities, The Atrium, and Bridge Simulation Experience
                <br>
                <strong>Age Friendly Facilities:</strong> Sailor’s Shore, AROYA Theatre, Blossom Spa, and the Arcade
              </p>
              <p>Embark on an epic journey with AROYA Cruises, where your dream vacation awaits! Join the fun-filled
                voyage packed with premium experiences, excitement, and memories that'll make you feel forever young.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
      <!-- WHY -->
      <div class="cruise-why pt-6 pb-8 relative">
        <div class="container">
          <div class="section-header cruise-why__header">
            <div class="section-header__title dark-blue">
              <h2>Why Cruise?</h2>
            </div>
            <div class="section-header__text mt-2 sd">
              <p>
                Don't settle for the usual – embrace the extraordinary! A cruise is your ticket to non-stop thrills,
                catering to your unique tastes and promising a blend of contentment and endless excitement.
              </p>
            </div>
          </div>
        </div>
        <div class="cruise-why__wrapper py-4">
          <div class="container cruise-why__container">
            <div class="cruise-why__content">
              <div class="cruise-why__content-row sd sd--text-18 flex circle-ul">
                <ul>
                  <li>The cruise offers different packages catered to your needs and preferences.</li>
                  <li>Multiple departing points at easily accessible ports for your convenience.</li>
                  <li>You’ll find a wide range of experiences and activities making it more than just a typical
                    vacation.</li>
                  <li>A great choice for all age groups regardless of their vacation timings and goals.</li>
                  <li>A perfect getaway for the whole family, group of friends, couples, and individuals.</li>
                </ul>
                <ul>
                  <li>Enjoy a premium stay as you visit different cities without the need to pack and unpack.</li>
                  <li>Explore each city’s prominent landmarks and attractions with the guidance of local experts.</li>
                  <li>Experience a balanced mix of adventure and relaxation through different activities.</li>
                  <li>The cruise is one step away from an incredible journey.</li>
                  <li>It provides you with a worry-free vacation.</li>
                </ul>
              </div>
            </div>
            <div class="cruise-why__img-wrapper">
              <img loading="lazy" src="../../images/cruise-101/cruise-why.jpg" alt="" class="cruise-why__img">
            </div>
          </div>
        </div>
        <div class="container cruise-why__footer sd medium">
          <div class="cruise-why__footer-content dark-blue">
            <p>“At AROYA Cruises, we invite you to dive into unique and extraordinary experiences designed to elevate
              your vacation aspirations. Cruise through remarkably Arabian waves and let us cater to your every prospect
              for a journey that blends relaxation, exploration, and entertainment, ensuring a fusion of pleasure and
              enchantment.“</p>
          </div>
        </div>
      </div>
      <!-- END WHY -->
      <!-- INFORMATION -->
      <div class="information-cards py-8 light-bg">
        <div class="container information-cards__container">
          <div class="section-header">
            <div class="section-header__title dark-blue">
              <h2>Useful information from AROYA</h2>
            </div>
          </div>
          <div class="information-cards__items mt-4 flex">
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img loading="lazy" src="../../images/cruise-101/card-1.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>How to Plan for Your Upcoming Cruise?</h3>
                <div class="information-cards__item-link mt-1 flex dark-blue text-18">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img loading="lazy" src="../../images/cruise-101/card-3.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>12 Important Tips</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img loading="lazy" src="../../images/cruise-101/card-2.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>What to Bring?</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img loading="lazy" src="../../images/cruise-101/card-4.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>Eight Fun Activities on Our Thrilling Cruise Ship</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="information-cards__popups">
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img loading="lazy" class="information-cards__popup-img" src="../../images/cruise-101/card-1-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>How to Plan for Your Upcoming Cruise?</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>Get ready for a wonderful adventure as you chart your course through fascinating destinations! If
                  it's your first voyage, embrace the art of playful planning for an unforgettable experience that
                  fulfills all your desires.
                </p>
                <p><strong>Early-Bird Booking:</strong> Book your cruise early-on, to give you the chance to customize
                  your preferences, and guarantees you a spot in all your favorite destinations and activities.</p>
                <p><strong>Decide On the Duration:</strong> Starting from 4 nights to longer escapes, tailor your trip
                  with AROYA's diverse packages. It is crucial to know your preferences of cabin options, departure and
                  arrival, destinations, itineraries, and activity details and dates.</p>
                <p>After deciding on your journey’s duration and preferences, you can select your itinerary from AROYA’s
                  wide range of options.</p>
                <p><strong>Pick Your Destination:</strong> Select your ideal destinations according to your desired
                  activities and weather preferences, as well as combining multiple itineraries.</p>
                <p><strong>Pick Your Itinerary:</strong> Dive into AROYA Cruises' captivating itineraries, weaving a
                  spectacular experiences.</p>
                <p><strong>Choose Your Departure Port:</strong> After choosing your preferred destinations, you can
                  decide which port you will depart from depending on proximity, and visa terms.</p>
                <p><strong>Select Your Cabin:</strong> AROYA Cruises offer an exquisite range of cabins and suites,
                  designed for your ultimate comfort. - Explore AROYA's special guide to cabins and suites.</p>
                <p>You can also book from our wide range of restaurant choices using the Restaurant and Café guide
                  bellow</p>
                <p><strong>Book Your Trips:</strong> Plan every detail of your journey, whether you need to book
                  flights, train trips, or car rides, while making sure you arrive to the port on time.</p>
                <p><strong>Book Your Excursions:</strong> Other than AROYA’s curated experiences, you can plan and book
                  all activities you want to try at your preferred destinations such as shore excursions, shopping,
                  restaurants, sport activities, and cultural activities.</p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img loading="lazy" class="information-cards__popup-img" src="../../images/cruise-101/card-3-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>12 Important Tips:</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd circle-ul">
                <p>
                  <strong>1. Early Booking Provides You with Different Choices</strong> <br>
                  To enjoy a journey with various options, book your trip early. This will allow you to secure your
                  desired choices and reserve spots at your preferred activities, as well as the ability to re-adjust
                  the services and amenities you need.
                </p>
                <p>
                  <strong>2. Smart and Essential Packing</strong> <br>
                  There are many smart ways to pack your luggage in a way that saves time and effort, to provide you
                  with a comfortable trip. Create a list of the essential items you need to pack without a hassle.
                </p>
                <p>
                  <strong>3. Get to Know Your Ship</strong> <br>
                <p>You can begin to familiarize yourself with AROYA Cruises through the website and social media
                  platforms.</p>
                </p>
                <p>
                  <strong>4. Download AROYA App</strong> <br>
                <p>You can download AROYA app available online for IOS and Android systems.</p>
                </p>
                <p>
                  <strong>5. Print Your Electronic Tickets</strong> <br>
                  Printing your tickets allows you to enjoy a seamless journey.
                </p>
                <p>
                  <strong>6. Arrive to the Departing Port at the Right Time</strong> <br>
                  Arrive at the port at the perfect time for a stress-free departure! Avoid any delays and ensure a
                  smooth start to your AROYA Cruises adventure.
                </p>
                <p>Plan to arrive a night before sailing if you live far from the port or arrive to the port hours
                  before departure to prevent being stuck in traffic and other emergencies.</p>
                <p>Departure timings are accurate and punctual, make sure to be there! In case you were late you will
                  need to inquire about the logistics of joining through the cruise’s next stop (if available) noting
                  that transportation and logistics costs will be additional.</p>
                <p>
                  <strong>7. Pick Your Cabin Carefully</strong> <br>
                  Your cabin is your sanctuary, so choose one that fits your style and preferences. From cozy interiors
                  to breathtaking balcony views, AROYA offers a range of options to elevate your experience.
                </p>
                <p><strong>Usually, cabins are divided into four different categories</strong></p>
                <ul>
                  <li>Inside Cabins</li>
                  <li>Seaview Cabins</li>
                  <li>Cabins with Balcony</li>
                  <li>Khuzama Suites and Villas</li>
                </ul>
                <p>Where Khuzama suites and villas offer all means of comfort such as priority of boarding and
                  disembarkation, concierge services, and access to VIP areas and lounges.</p>
                <p>Tip: if you tend to experience seasickness, you can request an elegant cabin in the middle of the
                  ship on lower decks where it is more stable.</p>
                <p><strong>8. Add Extra Fun on Board</strong> <br>
                  Unforgettable moments come with extra fun! Take into consideration other on-board activities that
                  require additional fees such as shore excursions, specialty drinks, exclusive dining, spa services,
                  and more.
                </p>
                <p>
                  <strong>9. Secure Your Travel Insurance</strong> <br>
                  Prioritize peace of mind with cruise-specific travel insurance.
                </p>
                <p>
                  <strong>10. Prepare Documents in Advance</strong> <br>
                  It is essential to prepare all necessary documents prior to your cruise:
                </p>
                <ul>
                  <li>Ensure your passports are valid for minimum six months.</li>
                  <li>Know entry rules and visa needs for each country.</li>
                  <li>Carry a visa that is validated for the whole duration of your journey.</li>
                  <li>Check your travel insurance policy and health necessities.</li>
                  <li>Make sure minors have travel authorization letters.</li>
                </ul>
                <p>
                  <strong>11. Pre-book for Exclusive Experiences</strong> <br>
                  Ensure your extraordinary experience matches your dreams! Pre-book spots at beach destinations,
                  reserve tables at top restaurants, and plan exceptional experiences in advance. No disappointments,
                  just pure delight!
                </p>
                <p>
                  <strong>12. Enjoy!</strong> <br>
                  Embark on a sail beyond the ordinary with AROYA Cruises.
                </p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img loading="lazy" class="information-cards__popup-img" src="../../images/cruise-101/card-2-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>What to Bring?</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>
                  Get ready for a premium experience and excitement on your grand cruise adventure! Pack once for the
                  remarkable floating resort experience. Your needs may vary, but these essentials will elevate your
                  journey:
                </p>
                <p><strong>Formal and Party-Worthy Outfits:</strong> Glam up for the ship’s nightlife with dazzling
                  outfits – make a statement!</p>
                <p><strong>Comfy Resort Wear:</strong> Be stylish and comfy for leisure activities – effortlessly
                  stunning wherever you go.</p>
                <p>
                  <strong>Splash-Ready Swimwear:</strong> Dive into a pool of fun with your favorite swimwear.
                </p>
                <p>
                  <strong>Footwear Options:</strong> Balance comfort and glam as you pack formal, walking-friendly, and
                  beach footwear.
                </p>
                <p>
                  <strong>Accessorize with Class:</strong> Elevate your look with summer hats, trendy sunglasse, summer
                  scarfs to look elegant while protecting yourself from the sun.
                </p>
                <p>
                  <strong>Personal Care with Style:</strong> Bring your favorite personal care tools and sunscreens.
                </p>
                <p>
                  <strong>Travel-Sized Detergent:</strong> Keep your attire fresh with handy detergent as you use our
                  laundry facilities.
                </p>
                <p>
                  <strong>Health Essentials:</strong> Pack your necessary medications and vitamins.
                </p>
                <p>
                  <strong>Tech Magic:</strong> Stay connected with portable chargers, smart device covers, and power
                  strips
                </p>
                <p>
                  <strong>Organized Documents:</strong> Gather all your travel essentials – passports, visas, and cruise
                  tickets in one secure place and let the adventure begin!
                </p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img loading="lazy" class="information-cards__popup-img" src="../../images/cruise-101/card-4-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>Eight Fun Activities on Our Thrilling Cruise Ship</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>
                  Get ready for a blast of excitement and a ton of adventures aboard the awesome AROYA Cruises!
                </p>
                <p>
                  Our first Arabian cruise line has a bunch of activities that everyone, from kids to adults, will
                  totally love. Whether you're into chilling, grooving to music, catching live shows, or looking for
                  family-friendly fun, our ship has got you covered.
                </p>
                <p>
                  <strong>1. Relax at AROYA lounge by Zen pool</strong> <br>
                  Kick-back in ultimate comfort, soak up the sun, and watch those waves sparkle in the sky. It's the
                  perfect spot for pure relaxation.
                </p>
                <p>
                  <strong>2. Shopping Spree and Fashion Frenzy</strong> <br>
                  Shop till you drop at our unique mix of local and international boutiques. Discover the latest styles
                  and turn your cruise into a shopping therapy dream.
                </p>
                <p>
                  <strong>3. Fascinating Shows</strong> <br>
                  Get ready to enjoy vibrant live performances and stunning fine arts. Every evening is a fantasy world
                  with magical musicals and tunes that'll blow your mind. <br>
                  You will also find a variety of activities for your kids to enjoy with supervision such as water parks
                  and themed parties, to guarantee a fun time for the whole duration of the trip.
                </p>
                <p>
                  <strong>4. Wellness and Relaxation</strong> <br>
                  Take a break for your well-being with AROYA Cruises gym and spa treatments at Blossom Spa, giving you
                  tons of chances to kick-back and revitalize your body and soul.
                </p>
                <p>
                  <strong>5. Live Music Experiences</strong> <br>
                  Dive into the awesome tunes echoing through AROYA Cruises. Let talented musicians and performers from
                  all over the world groove your senses with their rhythms.
                </p>
                <p>
                  <strong>6. Culinary Paradise</strong> <br>
                  Embark on a dining journey like no other, with a wide range of cuisines that'll satisfy your taste
                  buds. From authentic flavors to fancy delicacies, each restaurant offers a unique experience that'll
                  be a cruise highlight.
                </p>
                <p>
                  <strong>7. Pampering Sessions</strong> <br>
                  For beauty lovers and scent enthusiasts, AROYA Cruises promises a top-notch experience. Pamper
                  yourself with beauty salons and dedicated cosmetic clinics that cater to your every expectation,
                  creating lasting memories.
                </p>
                <p>
                  <strong>8. The Amazing Sailors’ Hangout</strong> <br>
                  Let your little ones have a blast with supervised activities, water parks, and special events designed
                  to keep them entertained and enchanted throughout the entire journey. In the Amazing Sailors’ Zone, we
                  make sure even our youngest guests have a blast with different zones tailored to their age groups. Let
                  the fun begin!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END INFORMATION -->
      <!-- CTA SECTION -->
      <div class="page-cta py-6 cruise-101-page__cta white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">Explore our Ship</h2>
          <p class="text-26 mt-1 center">Find out all the information about our ship</p>
          <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
        </div>
      </div>
      <!-- END CTA SECTION -->
    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>