<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="cruise-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <!-- INTRO -->
      <div class="page-intro page-intro--radius cruise-intro flex relative py-4">
        <div class="container page-intro__container">
          <div class="section-header page-intro__text white">
            <div class="section-header__title">
              <h1>AROYA Cruise 101</h1>
            </div>
            <div class="section-header__description sd mt-2">
              <p>Welcome to Cruise101, your ultimate guide for unique sea cruises. Cruise101 provides essential tips and
                information, ensuring a smooth and enjoyable journey. Join us to discover all you need to know about sea
                cruises and prepare for an adventure with AROYA Cruises</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END INTRO -->
      <!-- CONTENT -->
      <div class="page-content cruise-page__content relative py-8 light-bg">
        <div class="container page-content__container flex">
          <div class="page-content__img-wrapper cruise-page__content-img-wrapper flex">
            <img class="page-content__img cruise-page__content-img" src="../../images/cruise-101/content.png" alt="">
          </div>
          <div class="page-content__text">
            <div class="section-header dark-blue">
              <div class="section-header__title">
                <h2>What is a Cruise?</h2>
              </div>
            </div>
            <div class="sd mt-2">
              <p>
                Welcome to AROYA Cruises, where we offer you a new concept of vacation that meets your needs and
                satisfies your tastes in one place, making your vacation a collection of diverse experiences that cater
                to all age groups.
              </p>
              <p>
                A cruise is a floating resort that includes entertainment areas and various restaurants on board a giant
                ship that accommodates a large number of guests. It sails to different destinations, offering a range of
                exciting experiences and unforgettable memories.
              </p>
              <p>
                Embark on an epic journey with AROYA Cruises, where your dream vacation awaits! Join the fun-filled
                voyage packed with premium experiences, excitement, and memories that'll make you feel forever young.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
      <!-- WHY -->
      <div class="cruise-why pt-6 pb-8 relative">
        <div class="container">
          <div class="section-header cruise-why__header">
            <div class="section-header__title dark-blue">
              <h2>Why Cruise?</h2>
            </div>
            <div class="section-header__text mt-2 sd">
              <p>
                Don't settle for the usual – embrace the extraordinary! A cruise is your ticket to non-stop thrills,
                catering to your unique tastes and promising a blend of contentment and endless excitement.
              </p>
            </div>
          </div>
        </div>
        <div class="cruise-why__wrapper py-4">
          <div class="container cruise-why__container">
            <div class="cruise-why__content">
              <div class="cruise-why__content-row sd sd--text-18 flex circle-ul">
                <ul>
                  <li>Great value for your money</li>
                  <li>Endless options: Provides a wide range of activities</li>
                  <li>Versatile for all travelers: Ideal for any type of traveler</li>
                  <li>Unpack once: Enjoy the convenience of unpacking just once</li>
                  <li>Balanced adventure and relaxation: Provides a mix of adventure and relaxation</li>
                </ul>
                <ul>
                  <li>Convenient departures: Depart from easily accessible ports</li>
                  <li>Sustainable travel: Offers an eco-friendly vacation</li>
                  <li>Family-friendly getaway: Perfect for the whole family</li>
                  <li>Local expert exploration: Explore with knowledgeable local guides</li>
                  <li>Safety assurance: Ensures a safe and secure experience</li>
                </ul>
              </div>
            </div>
            <div class="cruise-why__img-wrapper">
              <img src="../../images/cruise-101/cruise-why.jpg" alt="" class="cruise-why__img">
            </div>
          </div>
        </div>
        <div class="container cruise-why__footer sd medium">
          <div class="cruise-why__footer-content dark-blue">
            <p>“At AROYA Cruises, we invite you to dive into unique and extraordinary experiences designed to elevate
              your vacation aspirations. Cruise through remarkably Arabian waves and let us cater to your every prospect
              for a journey that blends relaxation, exploration, and entertainment, ensuring a fusion of pleasure and
              enchantment“</p>
          </div>
        </div>
      </div>
      <!-- END WHY -->
      <!-- INFORMATION -->
      <div class="information-cards py-8 light-bg">
        <div class="container information-cards__container">
          <div class="section-header">
            <div class="section-header__title dark-blue">
              <h2>Useful information from Aroya</h2>
            </div>
          </div>
          <div class="information-cards__items mt-4 flex">
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img src="../../images/cruise-101/card-1.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>How to Plan for Your Upcoming Cruise?</h3>
                <div class="information-cards__item-link mt-1 flex dark-blue text-18">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img src="../../images/cruise-101/card-3.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>Nine Fun Tips from Sailing Experts</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img src="../../images/cruise-101/card-2.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>What to Bring? The Ultimate Checklist for Your Cruise</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
            <button type="button" class="information-cards__item brightness-parent scaled-parent">
              <div class="information-cards__item-header scaled flex">
                <img src="../../images/cruise-101/card-4.jpg" alt=""
                  class="information-cards__item-img scaled-img brightness-img">
              </div>
              <div class="information-cards__item-body title-23 f-semibold">
                <h3>Seven Fun Activities on Our Thrilling Cruise Ship</h3>
                <div class="information-cards__item-link dark-blue mt-1 flex">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_2278_7405)">
                      <path
                        d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                        fill="#012E89" />
                    </g>
                    <defs>
                      <clipPath id="clip0_2278_7405">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="information-cards__popups">
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img class="information-cards__popup-img" src="../../images/cruise-101/card-1-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>How to Plan for Your Upcoming Cruise?</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>
                  Get ready for an overjoying adventure as you chart your course through fascinating destinations! If
                  it's your first voyage, embrace the art of playful planning for an unforgettable experience that
                  captures all your desires.
                </p>
                <p><strong>Pick your dream destination:</strong> Select your ideal destination from a diverse range that
                  caters to every desire – follow your heart’s calling!
                </p>
                <p><strong>Choose your departure port:</strong> Explore ports with proximity and visa ease, revealing
                  wonders that await
                  your discovery.
                </p>
                <p><strong>Pick your itinerary:</strong> Dive into AROYA Cruises' captivating itineraries, weaving a
                  spectacular
                  experiences.
                </p>
                <p><strong>Decide on the duration:</strong> From 4 nights to longer escapes, tailor your trip with
                  AROYA's
                  diverse
                  packages.
                </p>
                <p><strong>Select your cabin:</strong> Dive into luxury with AROYA's exquisite cabins and suites,
                  designed for your ultimate comfort.
                  Explore AROYA's special guide to cabins and suites.
                </p>
                <p><strong>Book your excursions:</strong> Plan every detail of your adventure with our dedicated team –
                  from transportation to accommodations, we've got it covered.</p>
                <p><strong>Specialty Restaurants:</strong> Ready for some delicious fun? Make reservations at our
                  fantastic restaurants and cafes!
                </p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img class="information-cards__popup-img" src="../../images/cruise-101/card-3-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>Nine Fun Tips from Sailing Experts:</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd circle-ul">
                <p>
                  <strong>Pick Your Dream Destination:</strong> Choose a destination that sets the stage for your epic
                  adventure! Consider sun-soaked beaches, exciting sea excursions, and splendid sightseeing tours – it's
                  all about creating thrilling memories.
                </p>
                <p>
                  <strong>Time Your Sail for Maximum Fun:</strong> Sailing is all about timing! Discover the secrets of
                  each region's sailing seasons. Whether you love lively crowds or prefer tranquility, plan your voyage
                  wisely for ideal weather conditions or exclusive moments of solitude.
                </p>
                <p>
                  <strong>Voyage Duration Tailored to You:</strong> Craft your trip duration for the perfect intensity!
                  AROYA Cruises offers diverse packages and durations to match your preferences. Uncover treasures and
                  live exciting activities along the sea.
                </p>
                <p>
                  <strong>Smooth Sailing from Port:</strong> Arrive at the port at the perfect time for a stress-free
                  departure! Avoid any delays and ensure a smooth start to your AROYA Cruises adventure.
                </p>
                <p>
                  <strong>Picky about Cabins:</strong> Your cabin is your sanctuary, so choose one that fits your style
                  and budget. From cozy interiors to breathtaking balcony views, AROYA offers a range of options to
                  elevate your experience.
                </p>
                <p>
                  <strong>Add extra fun onboard:</strong> Unforgettable moments come with extra fun! Shore excursions,
                  specialty drinks, exclusive dining, spa services, and more.
                  AROYA Cruises is all about turning every moment into a memory.
                </p>
                <p>
                  <strong>Secure Your Sail with Fun Insurance:</strong> Prioritize peace of mind with cruise-specific
                  travel insurance. We're here to help – navigate insurance companies' websites with a smile.
                </p>
                <p>
                  <strong>Prepare Documents in Advance:</strong>
                </p>
                <ul>
                  <li>Ensure your passports are valid for minimum six months</li>
                  <li>Know entry rules and visa needs for each country</li>
                  <li>Check your travel insurance policy and health necessities</li>
                  <li>Make sure minors have travel authorization letters</li>
                </ul>
                <p>
                  <strong>Pre-book for exclusive vibes:</strong> Ensure your extraordinary experience matches your
                  dreams! Pre-book spots at beach destinations, reserve tables at top restaurants, and plan exceptional
                  experiences in advance. No disappointments, just pure delight!
                </p>
                <p>Embark on a sail beyond the ordinary with AROYA Cruises – where premier experiences and thrilling
                  adventures await at every port. Let these fab tips from sailing enthusiasts guide you on a journey
                  towards the cruise of a lifetime.
                </p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img class="information-cards__popup-img" src="../../images/cruise-101/card-2-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>What to Bring?</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>
                  <strong>The Ultimate Checklist for Your Cruise:</strong> Get ready for a premium experience and
                  excitement on your grand cruise adventure! Pack once for the remarkable floating resort experience.
                  Your needs may vary, but these essentials will elevate your journey:
                </p>
                <p>
                  <strong>1. Party-Worthy Outfits:</strong> Glam up for ship nightlife with dazzling outfits – make a
                  statement!
                </p>
                <p>
                  <strong>2. Comfy Resort Wear:</strong> Be stylish and comfy for leisure activities – effortlessly
                  stunning wherever you go.
                </p>
                <p>
                  <strong>3. Splash-Ready Swimwear:</strong> Dive into pool fun with your favorite swimwear.
                </p>
                <p>
                  <strong>3. Splash-Ready Swimwear:</strong> Dive into pool fun with your favorite swimwear.
                </p>
                <p>
                  <strong>4. Game Strong Footwear:</strong> Balance comfort and glam with formal, walking, and beach
                  footwear.
                </p>
                <p>
                  <strong>5. Accessorize with Class:</strong> Elevate your look with summer hats and trendy sunglasses.
                </p>
                <p>
                  <strong>6. Personal Care in Style:</strong> Bring your favorite personal care tools and sunscreens –
                  pamper yourself.
                </p>
                <p>
                  <strong>7. Travel-Sized Detergent:</strong> Keep your attire fresh with handy detergent and use our
                  laundry facilities.
                </p>
                <p>
                  <strong>8. Health Essentials:</strong> Pack medications, vitamins, and a compact first aid kit –
                  prioritize your well-being.
                </p>
                <p>
                  <strong>9. Tech Magic:</strong> Stay connected with portable chargers, smart device covers, and power
                  strips.
                </p>
                <p>
                  <strong>10. Organized Documents:</strong> Gather all your travel essentials – passports, visas, and
                  cruise tickets in one secure place and let the adventure begin!
                </p>
              </div>
            </div>
          </div>
          <div class="information-cards__popup flex">
            <div class="information-cards__popup-left">
              <img class="information-cards__popup-img" src="../../images/cruise-101/card-4-popup.jpg" alt="">
            </div>
            <div class="information-cards__popup-right flex">
              <div class="information-cards__popup-header title-23 semibold flex">
                <p>Seven Fun Activities on Our Thrilling Cruise Ship</p>
                <button type="button" class="information-cards__popup-close flex" data-popup-close>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                      fill="#012E89" />
                  </svg>
                </button>
              </div>
              <div class="information-cards__popup-body sd">
                <p>
                  <strong>Experiences for Everyone</strong> Get ready for a blast of excitement and a ton of adventures
                  aboard the awesome AROYA Cruises! Our first Arabian cruise line has a bunch of activities that
                  everyone, from kids to adults, will totally love. Whether you're into chilling, grooving to music,
                  catching live shows, or looking for family-friendly fun, our ship has got you covered.
                </p>
                <p>
                  <strong>Poolside relaxation:</strong> Kick back in ultimate comfort, soak up the sun, and watch those
                  waves sparkle in the sky. It's the perfect spot for pure relaxation.
                </p>
                <p>
                  <strong>Shopping Spree and Fashion Frenzy:</strong> Shop till you drop at our funky mix of local and
                  international boutiques. Discover the latest styles and turn your cruise into a shopping therapy
                  dream.
                </p>
                <p>
                  <strong>Epic Shows:</strong> Get ready for mind-blowing live performances and stunning fine arts.
                  Every evening is a fantasy world with magical musicals and tunes that'll blow your mind.
                </p>
                <p>
                  <strong>Wellness and chill vibes:</strong> Take a break for your well-being. Our awesome AROYA Cruises
                  offers fitness centers and spa treatments, giving you tons of chances to kick back and revitalize your
                  body and soul.
                </p>
                <p>
                  <strong>Live music vibes:</strong> Dive into the awesome tunes echoing through AROYA Cruises. Let
                  talented musicians and performers from all over the world groove your senses with their rhythms.
                </p>
                <p>
                  <strong>Foodie Paradise:</strong> Embark on a foodie journey like no other, with a bunch of
                  international cuisines that'll tickle your taste buds. From authentic flavors to fancy delicacies,
                  each restaurant offers a unique experience that'll be a cruise highlight.
                </p>
                <p>
                  <strong>Beauty renewal:</strong> For beauty lovers and scent enthusiasts, AROYA Cruises promises a
                  top-notch experience. Pamper yourself with beauty salons and dedicated cosmetic clinics that cater to
                  your every expectation, creating lasting memories.
                </p>
                <p>
                  <strong>The Amazing Sailors’ Hangout:</strong> Let your little ones have a blast with supervised
                  activities, water parks, and special events designed to keep them entertained and enchanted throughout
                  the entire journey. In the Enchanted Sailors’ Zone, we make sure even our youngest guests have a blast
                  with different zones tailored to their age groups. Let the fun begin!
                </p>
                <p><strong>Get the Khuzama VIP Treatment:</strong> Upgrade to Khuzama for added convenience! Enjoy
                  priority boarding, concierge services, and access to VIP areas. It's the cherry on top of your AROYA
                  experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END INFORMATION -->
      <!-- CTA SECTION -->
      <div class="page-cta py-6 cabins-page__cta white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">Explore our Ship</h2>
          <p class="text-26 mt-1 center">Find out all the information about our ship</p>
          <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
        </div>
      </div>
      <!-- END CTA SECTION -->
    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>