<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="description"
    content="Discover the AROYA Ship and embark on an unforgettable journey. Explore our 17 restaurants, 18 venues, and luxurious Khuzama VIP area. With over 1,684 cabins and a 1,858 sqm kids' zone, our ship is designed for your comfort.">
  <title>AROYA Ship</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KFPGJZC3');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="deal-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <!-- INTRO -->
      <div class="page-intro page-intro--radius flex relative py-4 white">
        <div class="container page-intro__container">
          <div class="section-header page-intro__text">
            <div class="section-header__title">
              <h1>Cruise Deal</h1>
            </div>
            <div class="section-header__description sd mt-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa tellus, sollicitudin at accumsan
                ac, varius sit amet felis. </p>
            </div>
            <a href="#" class="page-intro__link main-btn main-btn--light-blue mt-3">Explore</a>
          </div>
        </div>
      </div>
      <!-- END INTRO -->
      <!-- Content after intro -->
      <div class="page-content relative pt-8 pb-6 light-bg">
        <div class="container">
          <div class="section-header">
            <div class="section-header__title dark-blue">
              <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="section-header__text mt-2 sd">
              <p>Lorem ipsum dolor sit amet consectetur. Viverra pretium ultricies augue suspendisse elit bibendum
                feugiat auctor volutpat. Urna in viverra nunc nullam est vitae.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End content after intro -->
      <!-- Offers -->
      <div class="deal-offers light-bg pt-4 pb-7">
        <div class="container">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>Top Offers section </h2>
            </div>
          </div>
          <div class="deal-offers__cards flex mt-4">
            <a href="#" class="deal-offers__card white">
              <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img">
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <span class="deal-offers__card-starting text-14">starting from</span>
                <span class="deal-offers__card-price text-26 bold">870 SAR</span>
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white">
              <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img">
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span>
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white">
              <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img">
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span>
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white">
              <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img">
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span>
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End offers -->
      <!-- Deal cta -->
      <div class="deal-cta light-bg pb-8">
        <div class="container deal-cta__container py-6 relative">
          <div class="deal-cta__content relative title-34 f-bold white center">
            <p>Caribbean cruises</p>
            <a href="#" class="main-btn main-btn--light-blue deal-cta__link">Book now</a>
          </div>
        </div>
      </div>
      <!-- End deal cta -->
      <!-- Deal categories -->
      <div class="deal-cat py-6 deal-cat--white">
        <div class="container">
          <div class="section-header mb-4 dark-blue">
            <div class="section-header__title">
              <h2>3 Offers categories section</h2>
            </div>
          </div>
          <div class="deal-cat__title flex dark-blue">
            <img src="../images/deal/point-ic.svg" alt="Point" class="deal-cat__title-ic">
            <h3 class="text-34 medium">Arabian Gulf</h3>
          </div>
          <div class="deal-cat__cards flex mt-3">
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-1.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-2.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-3.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-4.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End deal categories -->
      <!-- Deal categories -->
      <div class="deal-cat py-6 deal-cat--light-blue light-bg">
        <div class="container">
          <div class="deal-cat__title flex dark-blue">
            <img src="../images/deal/point-ic.svg" alt="Point" class="deal-cat__title-ic">
            <h3 class="text-34 medium">Red Sea</h3>
          </div>
          <div class="deal-cat__cards flex mt-3">
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-1.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-2.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-3.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-4.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End deal categories -->
      <!-- Deal categories -->
      <div class="deal-cat py-6 deal-cat--blue">
        <div class="container">
          <div class="deal-cat__title flex dark-blue">
            <img src="../images/deal/point-ic.svg" alt="Point" class="deal-cat__title-ic">
            <h3 class="text-34 medium">Mediterranean</h3>
          </div>
          <div class="deal-cat__cards flex mt-3">
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-1.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-2.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-3.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
            <a href="#" class="deal-cat__card">
              <img src="../images/deal/cat-4.jpg" alt="" class="deal-cat__card-img">
              <div class="deal-cat__card-body dark-blue">
                <span class="text-16 uc">Cruise to</span>
                <span class="text-26 bold">Yanbu</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End deal categories -->
      <!-- Book now -->
      <div class="deal-book py-10 light-bg">
        <div class="container">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>Book now section</h2>
            </div>
          </div>
          <div class="deal-book__cards mt-4 flex">
            <a href="#" class="deal-book__card">
              <div class="deal-book__card-header">
                <img src="../images/deal/book-1.jpg" alt="" class="deal-book__card-img">
              </div>
              <div class="deal-book__card-body flex">
                <div class="deal-book__card-title text-23 dark-blue">
                  <h3>Name offer</h3>
                </div>
                <span class="main-btn main-btn--dark-blue deal-book__card-link">
                  Book
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_4556_9796)">
                      <path d="M13.5386 18.8559L19.9453 12.4159L13.5386 5.97591C13.4808 5.89993 13.4073 5.83726 13.3231 5.79216C13.2389 5.74706 13.146 5.72057 13.0507 5.71449C12.9554 5.70841 12.8599 5.72287 12.7707 5.75691C12.6814 5.79095 12.6005 5.84376 12.5335 5.91178C12.4664 5.97979 12.4148 6.06141 12.382 6.15112C12.3493 6.24083 12.3362 6.33654 12.3436 6.43175C12.3511 6.52696 12.3789 6.61947 12.4252 6.703C12.4715 6.78653 12.5352 6.85914 12.612 6.91591L17.4053 11.7492L4.65198 11.7492C4.47517 11.7492 4.3056 11.8195 4.18058 11.9445C4.05555 12.0695 3.98531 12.2391 3.98531 12.4159C3.98531 12.5927 4.05555 12.7623 4.18058 12.8873C4.3056 13.0123 4.47517 13.0826 4.65198 13.0826L17.4053 13.0826L12.612 17.9159C12.4873 18.0414 12.4177 18.2114 12.4183 18.3883C12.4189 18.5652 12.4898 18.7346 12.6153 18.8592C12.7408 18.9839 12.9108 19.0536 13.0877 19.0529C13.2646 19.0523 13.434 18.9814 13.5586 18.8559H13.5386Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_4556_9796">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.403076)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
              </div>
            </a>
            <a href="#" class="deal-book__card">
              <div class="deal-book__card-header">
                <img src="../images/deal/book-2.jpg" alt="" class="deal-book__card-img">
              </div>
              <div class="deal-book__card-body flex">
                <div class="deal-book__card-title text-23 dark-blue">
                  <h3>Name offer</h3>
                </div>
                <span class="main-btn main-btn--dark-blue deal-book__card-link">
                  Book
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_4556_9796)">
                      <path d="M13.5386 18.8559L19.9453 12.4159L13.5386 5.97591C13.4808 5.89993 13.4073 5.83726 13.3231 5.79216C13.2389 5.74706 13.146 5.72057 13.0507 5.71449C12.9554 5.70841 12.8599 5.72287 12.7707 5.75691C12.6814 5.79095 12.6005 5.84376 12.5335 5.91178C12.4664 5.97979 12.4148 6.06141 12.382 6.15112C12.3493 6.24083 12.3362 6.33654 12.3436 6.43175C12.3511 6.52696 12.3789 6.61947 12.4252 6.703C12.4715 6.78653 12.5352 6.85914 12.612 6.91591L17.4053 11.7492L4.65198 11.7492C4.47517 11.7492 4.3056 11.8195 4.18058 11.9445C4.05555 12.0695 3.98531 12.2391 3.98531 12.4159C3.98531 12.5927 4.05555 12.7623 4.18058 12.8873C4.3056 13.0123 4.47517 13.0826 4.65198 13.0826L17.4053 13.0826L12.612 17.9159C12.4873 18.0414 12.4177 18.2114 12.4183 18.3883C12.4189 18.5652 12.4898 18.7346 12.6153 18.8592C12.7408 18.9839 12.9108 19.0536 13.0877 19.0529C13.2646 19.0523 13.434 18.9814 13.5586 18.8559H13.5386Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_4556_9796">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.403076)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
              </div>
            </a>
            <a href="#" class="deal-book__card">
              <div class="deal-book__card-header">
                <img src="../images/deal/book-3.jpg" alt="" class="deal-book__card-img">
              </div>
              <div class="deal-book__card-body flex">
                <div class="deal-book__card-title text-23 dark-blue">
                  <h3>Name offer</h3>
                </div>
                <span class="main-btn main-btn--dark-blue deal-book__card-link">
                  Book
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <g clip-path="url(#clip0_4556_9796)">
                      <path d="M13.5386 18.8559L19.9453 12.4159L13.5386 5.97591C13.4808 5.89993 13.4073 5.83726 13.3231 5.79216C13.2389 5.74706 13.146 5.72057 13.0507 5.71449C12.9554 5.70841 12.8599 5.72287 12.7707 5.75691C12.6814 5.79095 12.6005 5.84376 12.5335 5.91178C12.4664 5.97979 12.4148 6.06141 12.382 6.15112C12.3493 6.24083 12.3362 6.33654 12.3436 6.43175C12.3511 6.52696 12.3789 6.61947 12.4252 6.703C12.4715 6.78653 12.5352 6.85914 12.612 6.91591L17.4053 11.7492L4.65198 11.7492C4.47517 11.7492 4.3056 11.8195 4.18058 11.9445C4.05555 12.0695 3.98531 12.2391 3.98531 12.4159C3.98531 12.5927 4.05555 12.7623 4.18058 12.8873C4.3056 13.0123 4.47517 13.0826 4.65198 13.0826L17.4053 13.0826L12.612 17.9159C12.4873 18.0414 12.4177 18.2114 12.4183 18.3883C12.4189 18.5652 12.4898 18.7346 12.6153 18.8592C12.7408 18.9839 12.9108 19.0536 13.0877 19.0529C13.2646 19.0523 13.434 18.9814 13.5586 18.8559H13.5386Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_4556_9796">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.403076)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End book now -->
      <!-- CTA SECTION -->
      <div class="page-cta py-6 white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">Explore our Ship</h2>
          <p class="text-26 mt-1 center">Find out all the information about our ship</p>
          <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
        </div>
      </div>
      <!-- END CTA SECTION -->
    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>