/***** BUTTONS STYLES *****/
.main-btn {
  padding: 14px 20px;
  min-width: 217px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px 0px 100px 0px;
  transition:
    background-color 0.5s,
    color 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--light-blue {
    background-color: $light-blue;
    color: $white;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &--dark-blue {
    background-color: $dark-blue;
    color: $white;

    &:hover {
      background-color: $light-blue;
    }
  }

  &__arrow {
    margin-left: 8px;
  }

  &--white {
    background-color: $white;
    color: $dark-blue;

    &:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }

  &--wide {
    padding: 14px 98.5px;
  }
}
.square-btn {
  padding: 12px 56px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid;
  display: inline-flex;
  transition:
    border-color 0.5s,
    background-color 0.5s,
    color 0.5s;

  &--light-blue {
    border-color: $light-blue;
    color: $light-blue;
    background-color: $white;
    &:hover {
      background-color: $light-blue;
      border-color: $white;
      color: $white;
    }
  }

  @include respond-to(xxx-large) {
    font-size: 18px;
  }

  @include respond-to(xx-large) {
    font-size: 16px;
  }
}
.blue-btn {
  padding: 12px 24px;
  border-radius: 6px;
  color: $white;
  font-weight: 800;
  background-color: $light-blue;
  transition: background-color 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $dark-blue;
  }
}
/***** END BUTTONS STYLES *****/