/***** FORM STYLES *****/
input:not(input[type="submit"]):not(.custom),
select:not(.custom),
textarea:not(.custom) {
  border: 1px solid $light-blue;
  border-radius: 4px;
  background: $white;
  padding: 12px 14px;
  &,
  &::placeholder {
    color: $dark;
    font-size: 20px;
    line-height: 1.6;
    font-family: inherit;
  }
  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    border-color: $dark-blue;

    &,
    &::placeholder {
      color: $dark;
    }

    &:not(:placeholder-shown) {
      border-color: $light-blue;
    }
  }

  @include respond-to(xx-large) {
    &,
    &::placeholder {
      font-size: 16px;
    }
  }
}

.iti, // Phone input with code
input:not(input[type="submit"]):not(.custom),
select:not(.custom),
textarea:not(.custom) {
  & + .optional {
    font-size: 14px;
    margin-top: 6px;
    color: $light-gray;
    display: inline-flex;
  }
}

select {
  cursor: pointer;
}
.select-wrapper {
  position: relative;

  &[data-select-open]::after {
    top: 18px;
    transform: rotate(180deg);
  }

  select {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    right: 14px;
    transition: transform 0.3s;
    top: 17px;
    width: 24px;
    height: 24px;
    background: url("../images/icons/select-arrow.svg") center center/cover no-repeat;
  }
}
.valid-error {
  color: #dc3232;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
}
.input-checkbox {
  display: none;
}
.checkbox {
  width: 25px;
  height: 25px;
  background: url('../images/checkbox--no-active.svg') center center/contain no-repeat;
}
.input-checkbox:checked + .checkbox {
  background-image: url('../images/checkbox--active.svg');
}
/***** END FORM STYLES *****/
