@font-face {
    font-family: 'Krub';
    src: url('Krub-Bold.woff2') format('woff2'),
        url('Krub-Bold.woff') format('woff'),
        url('Krub-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-ExtraLightItalic.woff2') format('woff2'),
        url('Krub-ExtraLightItalic.woff') format('woff'),
        url('Krub-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-BoldItalic.woff2') format('woff2'),
        url('Krub-BoldItalic.woff') format('woff'),
        url('Krub-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-ExtraLight.woff2') format('woff2'),
        url('Krub-ExtraLight.woff') format('woff'),
        url('Krub-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-Italic.woff2') format('woff2'),
        url('Krub-Italic.woff') format('woff'),
        url('Krub-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-Regular.woff2') format('woff2'),
        url('Krub-Regular.woff') format('woff'),
        url('Krub-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-LightItalic.woff2') format('woff2'),
        url('Krub-LightItalic.woff') format('woff'),
        url('Krub-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-SemiBold.woff2') format('woff2'),
        url('Krub-SemiBold.woff') format('woff'),
        url('Krub-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-MediumItalic.woff2') format('woff2'),
        url('Krub-MediumItalic.woff') format('woff'),
        url('Krub-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-Light.woff2') format('woff2'),
        url('Krub-Light.woff') format('woff'),
        url('Krub-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-Medium.woff2') format('woff2'),
        url('Krub-Medium.woff') format('woff'),
        url('Krub-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Krub';
    src: url('Krub-SemiBoldItalic.woff2') format('woff2'),
        url('Krub-SemiBoldItalic.woff') format('woff'),
        url('Krub-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

