@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Bahji';
  src: url('../fonts/bahji/BahijHelveticaNeue-Roman.eot');
  src: url('../fonts/bahji/BahijHelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bahji/BahijHelveticaNeue-Roman.woff2') format('woff2'),
      url('../fonts/bahji/BahijHelveticaNeue-Roman.woff') format('woff'),
      url('../fonts/bahji/BahijHelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahij';
  src: url('../fonts/bahji/BahijHelveticaNeue-Bold.eot');
  src: url('../fonts/bahji/BahijHelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bahji/BahijHelveticaNeue-Bold.woff2') format('woff2'),
      url('../fonts/bahji/BahijHelveticaNeue-Bold.woff') format('woff'),
      url('../fonts/bahji/BahijHelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahij';
  src: url('../fonts/bahji/BahijHelveticaNeue-Light.eot');
  src: url('../fonts/bahji/BahijHelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bahji/BahijHelveticaNeue-Light.woff2') format('woff2'),
      url('../fonts/bahji/BahijHelveticaNeue-Light.woff') format('woff'),
      url('../fonts/bahji/BahijHelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

