/***** SIGNUP SECTION *****/
.signup {
  border-top: 2px solid $lighest-blue--3;
  &-main, &-footer {
    max-width: 1340px;
    margin: 40px auto 0;
  }
  &-form {
    &,
    &__controls {
      display: flex;
    }
    &__controls {
      flex-grow: 1;
      justify-content: space-between;
      margin-right: 40px;
    }
    &__controls-item {
      flex: 0 1 calc(50% - 20px);
    }
    &__submit-wrapper {
      flex-shrink: 0;
    }
    input {
      width: 100%;
    }
  }

  @include respond-to(large) {
    &-main {
      margin-top: 20px;
    }
    &-form {
      &,
      &__controls {
        flex-direction: column;
      }
      &__controls {
        margin-right: 0;
      }
      &__controls-item:nth-child(n + 2) {
        margin-top: 20px;
      }
      input:not([type="submit"]),
      select {
        max-width: none;
      }
      &__submit-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
    &-footer {
      margin-top: 40px;
    }
  }

  @include respond-to(small) {
    .section-header {
      text-align: left;
    }
  }
}
/***** END SIGNUP SECTION *****/
.footer {
  &-body {
    padding: 60px 0 30px;
    background: url("../images/footer-bg.jpg") left top/cover #0474b3;
  }
  /***** SUBSCRIBE *****/
  &-subscribe {
    border-bottom: 1px solid #BDC7DF;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin-right: 60px;
      flex-shrink: 0;
    }
    &__form-wrapper {
      max-width: 930px;
      width: 100%;
    }
    &__form-email {
      width: 100%;
      margin-right: 20px;
    }
  }
  /***** END SUBSCRIBE *****/
  /***** NAVIGATION *****/
  &-nav {
    justify-content: space-between;

    &__item {
      max-width: calc(20% - 25px);
    }
    &__item-ic {
      display: none;
    }
    &__item-title {
      margin-bottom: 30px;
      letter-spacing: 2.4px;
    }
    &__list-item:nth-child(n + 2) {
      margin-top: 15px;
    }
    &__list-link {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: $white;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
  /***** END NAVIGATION *****/

  /***** SOCIAL *****/
  &-social {
    &__container {
      justify-content: center;
      align-items: center;
    }
    &__title {
      margin-right: 60px;
      letter-spacing: 2.4px;
    }
    &__list-item {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__list-link {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .5s;
      border-radius: 6px;
      &:hover {
        background-color: $white;
      }
    }
  }
  /***** END SOCIAL *****/

  /***** FOOTER BOTTOM *****/
  .bottom-footer {
    &__list {
      justify-content: center;
      flex-wrap: wrap;
    }
    &__list-link {
      display: inline-flex;
      padding: 40px 50px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 26px;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        background: $dark-blue;
      }
    }
    &__list-item:first-child .bottom-footer__list-link {
      padding-left: 0;
    }
    &__list-item:last-child .bottom-footer__list-link {
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }
  /***** END FOOTER BOOTTOM *****/

  @include respond-to(xxx-large) {
    .bottom-footer {
      &__list-link {
        padding: 30px;
      }
    }
    &-nav {
      &__item {
        max-width: calc(20% - 15px);
      }
    }
  }

  @include respond-to(xx-large) {
    &-nav {
      flex-direction: column;
      &__item {
        max-width: none;
        border-bottom: 1px solid;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &__item-ic {
        display: inline-flex;
      }
      &__item-title {
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        svg {
          width: 40px;
          height: 40px;
        }
      }
      &__item:first-child {
        .footer-nav__item-title {
          padding-top: 0;
        }
      }
      &__list-item:last-child {
        margin-bottom: 20px;
      }
      &__item-title + &__list {
        height: 0;
        overflow: hidden;
        transition: height .5s;
      }
    }
  }

  @include respond-to(x-large) {
    &-subscribe {
      flex-direction: column;
      align-items: flex-start;

      &__form-wrapper {
        margin-top: 40px;
        max-width: none;
      }
    }
    .bottom-footer {
      &__list-link {
        padding: 20px;
      }
    }
  }

  @include respond-to(large) {
    &-body {
      padding: 60px 0;
    }
    &-social {
      &__container {
        flex-direction: column;
        align-items: flex-start;
      }
      &__list {
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
      }
    }
  }

  @include respond-to(medium) {
    .bottom-footer {
      padding-bottom: 40px;
    }
  }

  @include respond-to(small) {
    &-subscribe {
      &__title, &__form-email {
        margin-right: 0;
      }
      &__form {
        flex-direction: column;
        align-items: center;
      }
      &__form-submit {
        margin-top: 20px;
      }
    }
    &-social {
      &__list-item:not(:last-child) {
        margin-right: 10px;
      }
      &__list-link {
        width: 30px;
        height: 30px;
      }
    }
    .bottom-footer {
      &__list-link {
        padding: 12px;
      }
      &__text {
        margin-top: 10px;
      }
    }
  }
}

/*** Static ***/
.footer {
  .cruise-deal .footer-nav__list-link:hover::before {
    content: unset;
  }
  .cruise-deal strong {
    margin-top: 5px;
    display: block;
    font-weight: 600;
    font-size: 14px;
  }
  .partners-portal {
    position: relative;
    strong {
      position: absolute;
      bottom: 10px;
    }
    @include respond-to(x-large) {
      strong {
        bottom: 0px;
      }
    }
    @include respond-to(small) {
      strong {
        bottom: -5px;
      }
    }
  }
}
/*** End static ***/