.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 120px;
  background-color: transparent;
  transition:
    background-color 0.3s,
    top 0.5s;
  &:hover,
  &.scrolled {
    background-color: #012e89;
  }
  &.out {
    top: -120px;
  }
  &-container {
    align-items: center;
  }
  &-logo {
    margin-right: 50px;
    max-width: 200px;
  }

  /* Navigation */
  &-main__language {
    display: none;
  }
  &-nav {
    &__list-item {
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__list-link {
      padding: 10px 30px;
      align-items: center;
      transition: background-color 0.3s;
      border-radius: 60px;
      cursor: pointer;
      &:hover {
        background-color: $light-blue--2;
      }
      &-ic {
        margin-left: 5px;
      }
    }
    /* Sub list */
    &__list-item:hover &__sub-list-wrap {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    &__sub {
      &-list-wrap {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
          opacity 0.3s,
          visibility 0.3s;
        color: #012e89;
        font-weight: 400;
      }
      &-list {
        margin-top: 12px;
        padding: 20px 40px;
        border-radius: 12px;
        background-color: #e9f2f9;
        border-radius: 12px;
      }
      &-list-item {
        &:nth-child(n + 2) {
          margin-top: 10px;
        }
      }
    }

    /* End sub list */
  }
  /* End navigation */

  /* UI */
  &-ui {
    margin-left: auto;
  }
  &-language {
    &__link {
      align-items: center;
    }
    &__ic {
      margin-right: 8px;
    }
  }
  &-hamb {
    display: none;
    align-items: center;
    &__btn {
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 17px;

      &.close {
        & > span {
          &:first-child,
          &:last-child {
            height: 2px;
          }

          &:nth-child(2) {
            display: none;
          }

          &:first-child {
            transform: rotate(45deg);
            top: 9px;
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }

      & > span {
        position: relative;
        width: 30px;
        height: 1px;
        background-color: $white;
        transition: all 0.3s;
      }

      & > span:nth-child(n + 2) {
        margin-top: 7px;
      }
    }
  }
  /* End UI */

  // 1400
  @include respond-to(xx-large) {
    &-nav__list-link {
      padding: 10px 15px;
    }
  }
  // 1200
  @include respond-to(x-large) {
    height: 100px;
    &.out {
      top: -100px;
    }
    &-logo {
      max-width: 150px;
      margin-right: 20px;
    }
    &-nav__link-link:nth-child(n) {
      margin-right: 0;
    }
  }
  // 992
  @include respond-to(large) {
    height: 80px;
    &-main {
      position: fixed;
      top: 0;
      transform: translateY(-100%);
      left: 0;
      transition:
        top 0.5s,
        transform 0.5s;
      background-color: #012e89;
      width: 100%;
      max-height: calc(100% - 80px);
      overflow-y: auto;
      &.show {
        top: 80px;
        transform: translateY(0);
      }
    }
    &-language {
      display: none;
    }
    &-main__language {
      max-width: 750px;
      margin: 0 auto;
      padding: 10px 15px;
      &,
      &-link {
        display: flex;
        align-items: center;
      }
      &-link {
        padding: 20px 15px;
      }
      &-ic {
        margin-right: 8px;
      }
    }
    &-hamb {
      display: flex;
    }

    &-nav {
      padding: 16px 0 10px;
      border-bottom: 1px solid #0092d7;

      &__list {
        flex-direction: column;
        align-items: flex-start;
        max-width: 750px;
        margin: 0 auto;
        padding: 0 15px;

        &-item {
          flex-direction: column;
          width: 100%;
          overflow: hidden;

          &:nth-child(n) {
            margin-right: 0;
          }

          &:nth-child(n + 2) {
            margin-top: 10px;
          }
        }

        &-link {
          border-radius: 0;

          &.active {
            background-color: #0092d7;
          }
        }
      }

      &__sub {
        &-list-wrap {
          position: static;
          opacity: 1;
          pointer-events: all;
          visibility: visible;
          color: $white;
          height: 0;
          transition: height 0.3s;
        }

        &-list {
          margin-top: 0;
          background-color: unset;
          padding: 10px 0;
          border-bottom: 1px solid #0092d7;
          border-radius: 0;
        }

        &-list-item {
          &:nth-child(n + 2) {
            margin-top: 0;
          }
        }

        &-list-link {
          padding: 10px 15px;
          display: block;
        }
      }
    }
  }
  // 600
  @include respond-to(small) {
    &-nav {
      &__list {
        padding: 0;
      }
      &__list-link,
      &__sub-list-link {
        padding: 10px 30px;
      }
    }
  }
}