html {
  &[data-noscroll] {
    overflow: hidden;
  }
}
body {
  font-size: 17px;
  line-height: 1.5;
  font-family: $main-font;
  color: $dark;
  max-width: 1920px;
  margin: 0 auto;
  &.no-scroll {
    overflow: hidden;
  }
}

label,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
}

/***** CONTAINER *****/
.container {
  max-width: 1700px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include respond-to(xxx-large) {
    max-width: 1360px;
  }

  @include respond-to(xx-large) {
    max-width: 1180px;
  }

  @include respond-to(x-large) {
    padding: 0 15px;
    max-width: 990px;
  }

  @include respond-to(large) {
    max-width: 750px;
  }
}
/***** END CONTAINER *****/

/***** MARGIN & PADDING *****/
@for $i from 0 through 15 {
  .mt-#{$i} {
    margin-top: #{$i * 10}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i * 10}px;
  }
  .my-#{$i} {
    margin-top: #{$i * 10}px;
    margin-bottom: #{$i * 10}px;
  }
  .pt-#{$i} {
    padding-top: #{$i * 10}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i * 10}px;
  }
  .py-#{$i} {
    padding-top: #{$i * 10}px;
    padding-bottom: #{$i * 10}px;
  }
}
/***** END MARGIN & PADDING *****/

/***** SECTION HEADER *****/
.section-header:not(.section-header--custom) {
  .section-header__title {
    & > *:first-child {
      font-size: 60px;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  @include respond-to(xxx-large) {
    .section-header__title {
      & > *:first-child {
        font-size: 50px;
      }
    }
  }

  @include respond-to(xx-large) {
    .section-header__title {
      & > *:first-child {
        font-size: 38px;
      }
    }
  }

  @include respond-to(small) {
    .section-header__title {
      & > *:first-child {
        font-size: 36px;
      }
    }
  }
}
/***** END SECTION HEADER *****/

/***** SECTION LINKS *****/
.section-links {
  font-size: 26px;
  font-weight: 700;
  &--sm {
    font-size: 20px;

    .section-links__item-ic {
      padding: 4px;
    }
  }
  &__item {
    align-items: center;
    &,
    &-ic {
      display: flex;
    }
    &-ic {
      margin-left: 8px;
      padding: 5px;
    }
    &-text {
      margin-right: 13px;
    }
  }

  @include respond-to(xxx-large) {
    font-size: 20px;
  }

  @include respond-to(small) {
    flex-direction: column;
  }
}
/***** END SECTION LINKS *****/

/***** PATTERN *****/
// .pattern {
//   &,
//   &-fix {
//     position: relative;
//   }
//   &-fix {
//     z-index: 1;
//   }
//   &::after {
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url("../images/pattern.png");
//     background-position: center center;
//     background-size: cover;
//     position: absolute;
//   }
// }
/***** END PATTERN *****/

/***** SWIPER NAV *****/
.swiper-nav {
  &,
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    transition: background-color 0.5s;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &__dots {
    margin: 0 60px;
    display: flex;
    align-items: center;

    span {
      width: 6px;
      height: 6px;
      background-color: #97d3ed;
      border-radius: 50%;
      transition:
        background-color 0.5s,
        width 0.5s,
        height 0.5s;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: $dark-blue;
      }
    }
    &--white span {
      background-color: #fff;
    }
    span:not(:last-child) {
      margin-right: 9px;
    }

    span.swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: $dark-blue;
    }
  }
}
/***** END SWIPER NAV *****/

/***** HOVER *****/
.header-control {
  transition: background-color 0.5s;
  &:hover {
    background-color: $header-control-hover;
  }
}
.header-has-data {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(-135deg);
    border: solid $white;
    border-width: 0 16px 16px 0;
    transition: opacity 0.5s;
    opacity: 0;
  }

  path {
    transition: fill 0.5s;
  }

  &[data-active],
  &--hover:hover {
    background-color: $dark-blue;
    color: $white;

    &::after {
      opacity: 1;
    }

    path {
      fill: $white;
    }
  }
}
.header-hidden-menu {
  @include respond-to(min-x-large) {
    position: absolute;
    width: 100%;
    background-color: $white;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s,
      visibility 0.5s;
    will-change: opacity, visibility;
    z-index: 99;

    &[data-active] {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  @include respond-to(x-large) {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    padding: 40px;
    background-color: $lighest-blue;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 99;
    &[data-active] {
      transform: translateX(0);
    }
  }
}
.header-has-data--hover {
  &:hover + .header-hidden-menu,
  & + .header-hidden-menu:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.control {
  transition: color 0.5s;
  display: flex;
  align-items: center;

  &-text {
    margin-right: 8px;
  }
  &-ic {
    display: flex;
    align-items: center;
    padding: 5px;
    &,
    svg {
      position: relative;
      z-index: 1;
    }

    svg,
    path {
      transition: fill 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.5s;
      z-index: -1;
    }
  }

  &:hover:not(&--white) {
    color: $light-blue;
    .control-ic::after {
      background-color: rgba(0, 144, 208, 0.7);
    }
    svg,
    path {
      fill: $white;
    }
  }

  &--white:hover &-ic::after {
    background-color: $dark-blue;
  }
}
.overlay {
  position: fixed;
  top: 141px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition:
    opacity 0.5s,
    visibility 0.5s;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  cursor: pointer;
  &[data-active],
  &[data-overlay-active] {
    opacity: 0.5;
    z-index: 97;
    pointer-events: all;
    visibility: visible;
  }
  &[data-overlay-active] {
    top: 0;
  }
}
.scaled {
  overflow: hidden;
  &-img {
    transition: transform 0.3s;
  }
  &:hover &-img {
    transform: scale(1.15);
  }
}
.scaled-parent:hover .scaled-img {
  transform: scale(1.15);
}
/***** END HOVER *****/

.brightness-img {
  transition: all 0.3s;
}
.radius-gradient {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px 0px 0px 80px;
    transition: all 0.3s;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.83%, rgba(0, 0, 0, 0.7) 100%);
  }
  &--lg::after {
    border-radius: 0 0 0 160px;
  }

  &--lgx::after {
    border-radius: 0 0 0 200px;
  }
}
.brightness-parent {
  &:hover .brightness-img {
    filter: brightness(100%);
  }
}
.gradient-parent {
  &:hover .radius-gradient::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.99%, rgba(0, 0, 0, 0.7) 100%);
  }
}

.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #98aace #ffffff;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #98aace;
    border-radius: 16px;
    border: 2px solid #ffffff;
  }
}

/*** Popup slide switcher ***/
.slider-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 1480px;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  &[data-active] {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
.popup__switcher {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  width: 600px;
  &-btn {
    padding: 8px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #bdc7df;
    border-radius: 6px;
    text-align: left;
  }
  &-list {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 12px;
    z-index: 5;
    max-height: 200px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      visibility 0.3s,
      opacity 0.3s;
    box-shadow: 0px 4px 32px 0px rgba(0, 24, 86, 0.1);
    &[data-switcher-active] {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
    }
    &-btn {
      padding: 5.5px 4px;
      width: 100%;
      transition: background-color 0.3s;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 11px;
        background-image: url("../images/suite/mark-ic.svg");
        background-size: contain;
        background-position: center;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s;
      }
      &[data-switcher-el-active] {
        background-color: #ecf3fa;
        &::after {
          opacity: 1;
        }
      }
      &:hover {
        background-color: #ecf3fa;
      }
    }
  }
  &-list-item {
    font-size: 18px;
    line-height: 1.6;
    transition: background-color 0.3s;
    &:hover {
      background-color: #ecf3fa;
    }
  }
  @include respond-to(medium) {
    width: 100%;
    &-list {
      max-height: 350px;
    }
  }
}
html[dir="rtl"] {
  .popup__switcher {
    &-list-btn::after {
      right: unset;
      left: 10px;
    }
  }
}
/*** End popup slide switcher ***/
/***** PATTERN *****/
.pattern-image-wrapper {
  position: relative;
}
.pattern-img {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/***** END PATTERN ******/

/***** LOADER *****/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: $dark-blue;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***** END LOADER *****/

/***** SCROLL ICON *****/
.tooltip-horizontal-scroll-icon_hand {
  animation: tooltip-horizontal-scroll-icon_anim-scroll-hand 2s infinite;
}

.tooltip-horizontal-scroll-icon_card {
  animation: tooltip-horizontal-scroll-icon_anim-scroll-card 2s infinite;
}

@keyframes tooltip-horizontal-scroll-icon_anim-scroll-hand {
  0% {
    transform: translateX(80px) scale(1);
    opacity: 0;
  }

  10% {
    transform: translateX(80px) scale(1);
    opacity: 1;
  }

  20%,
  60% {
    transform: translateX(175px) scale(0.6);
    opacity: 1;
  }

  80% {
    transform: translateX(5px) scale(0.6);
    opacity: 1;
  }

  to {
    transform: translateX(5px) scale(0.6);
    opacity: 0;
  }
}

@keyframes tooltip-horizontal-scroll-icon_anim-scroll-card {
  0%,
  60% {
    transform: translateX(0);
  }

  80%,
  to {
    transform: translateX(-240px);
  }
}
/***** END SCROLL ICON *****/
