<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="description" content="اكتشف أرويا للرحلات البحرية، أول خط عربي تجاري مستدام للرحلات البحرية. تعرف على رؤيتنا ورسالتنا وقيمنا التي تشكل تجارب استثنائية في البحر وعلى الشاطئ.">
  <title>عن أرويا</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="about-us-page">
  <!-- HEADER -->
  <%= templates.headerAr %>
    <!-- END HEADER -->
    <main class="main">
      <!-- PAGE INTRO -->
      <div class="page-intro page-intro--radius about-us-intro section white relative flex">
        <div class="page-intro__container container">
          <div class="section-header page-intro__text white">
            <div class="section-header__title">
              <h1>عن أرويا</h1>
            </div>
            <div class="section-header__description sd mt-2">
              <p>نستلهم من جمال البحر تجارب مثرية، لنبحر بكم على أمواجنا العربية</p>
            </div>
            <!-- <a href="https://uat.booking.aroya.com/touchb2c/"
              class="page-intro__link main-btn main-btn--wide main-btn--light-blue mt-3">
              احجز الان
            </a> -->
          </div>
        </div>
      </div>
      <!-- END PAGE INTRO -->

      <!-- CONTENT SECTIONS -->
      <div class="about-us-general section light-bg pt-6 relative flex">
        <div class="container about-us-general__container flex">
          <div class="about-us-general__content-wrapper flex">
            <div class="section-header dark-blue">
              <div class="section-header__title">
                <h2>عن أرويا</h2>
              </div>
            </div>
            <div class="content mt-4 sd">
              <p>تم إطلاق أرويا كروز للرحلات البحرية لأول مرة في يونيو 2023 كوحدة أعمال منفصلة لشركة كروز السعودية
                المملوكة لصندوق الاستثمارات العامة بنسبة 100%.</p>
              <p>يعمل خط أرويا كروز للرحلات البحرية الفاخرة كوحدة منفصلة من قبل فريق تشغيلي احترافي مستقر في مدينة جدة.
              </p>
              <p>وتماشياً مع رؤية 2023 وخطة المملكة العربية السعودية لتصبح أحد أفضل مناطق السياحة العالمية بحلول عام
                2030، تم إطلاق أرويا كروز للرحلات البحرية، حيث تهدف إلى توفير تجارب استثنائية على مدار العام، ومصممة
                خصيصًا للمواطنين والمقيمين في المملكة العربية السعودية ودول مجلس التعاون الخليجي.</p>
            </div>
          </div>
        </div>
        <div class="about-us-general__image-wrapper flex">
          <img loading="lazy"src="./images/about-us-page/content-section.jpeg" alt="content-section-hero">
        </div>
      </div>
      <!-- END CONTENT SECTIONS -->

      <!-- OUR VIEW SECTIONS -->
      <div class="about-us-view section light-bg pt-3 pb-8 relative flex">
        <div class="about-us-view__image-wrapper flex">
          <img loading="lazy"src="./images/about-us-page/our-view.jpg" alt="our-view-hero">
        </div>
        <div class="container about-us-view__container flex">
          <div class="about-us-view__content-wrapper flex">
            <div class="dark-blue mb-2">
              <div class="title-34 f-medium">
                <h3>رؤيتنا</h3>
              </div>
            </div>
            <div class="content sd">
              <p>إعادة تعريف الإجازة العربية.</p>
            </div>
          </div>

          <div class="about-us-view__content-wrapper flex mt-4">
            <div class="dark-blue mb-2">
              <div class="title-34 f-medium">
                <h3>مهمتنا</h3>
              </div>
            </div>
            <div class="content sd">
              <p>إطلاق أول خط عربي تجاري مستدام للرحلات البحرية، لتحقيق تجارب استثنائية مبهجة يصعب على ضيوفنا نسيانها،
                في البحر وعلى الشاطئ.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END OUR VIEW SECTIONS -->

      <!-- OUR VALUES SECTIONS -->
      <div class="about-us__pattern about-us-values section">
        <div class="section-header dark-blue">
          <div class="section-header__title">
            <h2>قيمنا</h2>
          </div>
        </div>
        <div class="about-us-values__container flex">
          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img loading="lazy"src="./images/about-us-page/icons/ph_hand-heart.svg" alt="hand-heart">
            </div>
            <p class="about-us-values__bage-description text-30 medium">الحفاوة</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img loading="lazy"src="./images/about-us-page/icons/solar_cup-star-linear.svg" alt="cup-star">
            </div>
            <p class="about-us-values__bage-description text-30 medium">الاحترام</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img loading="lazy"src="./images/about-us-page/icons/healthicons_wold-care-outline.svg" alt="wold-care">
            </div>
            <p class="about-us-values__bage-description text-30 medium">الإثراء</p>
          </div>

          <div class="about-us-values__bage flex">
            <div class="about-us-values__bage-icon flex">
              <img loading="lazy"src="./images/about-us-page/icons/idea.svg" alt="idea">
            </div>
            <p class="about-us-values__bage-description text-30 medium">الإلهام</p>
          </div>
        </div>
      </div>
      <!-- END OUR VALUES SECTIONS -->

      <!-- CTA SECTION -->
      <div class="page-cta py-6 about-page__cta white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">اكتشف سفينتنا</h2>
          <p class="mt-4 uc text-30 bold">لمعرفة كافة المعلومات حول سفينتنا</p>
          <a class="main-btn main-btn--white mt-2" href="/aroya-ship-ar">اكتشف االن</a>
        </div>
      </div>
      <!-- END CTA SECTION -->
    </main>
    <%= templates.footerAr %>
      <div class="overlay"></div>
</body>

</html>