<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="description" content="استكشف كبائن الرحلات البحرية الفاخرة في أرويا  كروز. اختر من بين الكبائن الداخلية أو المطلة على البحر أو الشرفة لرحلة بحرية لا تُنسى. احجز الآن!">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="cabins-page">
  <!-- HEADER -->
  <%= templates.headerAr %>
  <!-- END HEADER -->
  <main class="main">
    <!-- CABINS INTRO -->
    <div class="page-intro page-intro--radius flex relative py-4 white">
      <div class="container page-intro__container">
        <div class="section-header page-intro__text">
          <div class="section-header__title">
            <h1>استعدوا لرحلة بحرية لا تُنسى..</h1>
          </div>
          <!-- <div class="section-header__description sd mt-2">
            <p>اكشفوا أفضل الرحلات البحرية والعروض الحصرية!</p>
          </div>
          <a href="#" class="page-intro__link main-btn main-btn--light-blue mt-3">إكتشف المزيد</a> -->
        </div>
      </div>
    </div>
    <!-- END CABINS INTRO -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8 light-bg">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>الكبائن الداخلية..</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>
                  توفر أرويا كروز هذه المقصورات والكبائن الداخلية لراحة قصوى، حيث صممت بعناية لتوفير المساحة الكافية
                  للنوم والاسترخاء، وتحتوي على جميع وسائل الراحة الأساسية التي تحتاجون إليها لإقامة مريحة طوال الرحلة.
                  إنها خيار مثالي للأشخاص العمليين ومحبي الفعاليات والأنشطة خارج حدود مقر إقامتهم.
                </p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>هذه الفئة لديها ثلاثة أحجام:<strong>12-14-18</strong> متر مربع</p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view swiper flex">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="cabins-card__body-img" src="../../images/cabins/card-1.jpg" alt="">
              </div>
            </div>
            <div class="swiper-nav">
              <button class="swiper-nav__btn prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.20921 11.7806C8.93026 12.0596 8.93026 12.5118 9.20921 12.7908L13.7806 17.3622C14.0596 17.6412 14.5118 17.6412 14.7908 17.3622C15.0697 17.0833 15.0697 16.631 14.7908 16.3521L10.7244 12.2857L14.7908 8.21936C15.0697 7.94042 15.0697 7.48816 14.7908 7.20921C14.5118 6.93026 14.0596 6.93026 13.7806 7.20921L9.20921 11.7806Z"
                    fill="white" />
                </svg>
              </button>
              <div class="suite-popup__item-slider-dots swiper-nav__dots"></div>
              <button class="swiper-nav__btn next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.7908 11.7806C15.0697 12.0596 15.0697 12.5118 14.7908 12.7908L10.2194 17.3622C9.94042 17.6412 9.48815 17.6412 9.20921 17.3622C8.93026 17.0833 8.93026 16.631 9.20921 16.3521L13.2756 12.2857L9.20921 8.21936C8.93026 7.94042 8.93026 7.48816 9.20921 7.20921C9.48815 6.93026 9.94042 6.93026 10.2194 7.20921L14.7908 11.7806Z"
                    fill="white" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>كبينة داخلية</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>هذه الكبينة الداخلية توفر إقامة مريحة وممتعة، مع أثاث عصري ومساحة عملية ، إذ تحتوي على أسِرّة مريحة،
                مزدوجة أو توأم (حسب/عند الطلب)، خزانة ملابس، وحمام مع دش ومنطقة تزيين مع مجفف شعر.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">تلفزيون</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">خزنة</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">WiFi</span>
              <span>(مقابل رسوم)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">غلاية</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">ثلاجة صغيرة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>الكبائن الداخلية..</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>
                  توفر أرويا كروز هذه المقصورات والكبائن الداخلية لراحة قصوى، حيث صممت بعناية لتوفير المساحة الكافية
                  للنوم والاسترخاء، وتحتوي على جميع وسائل الراحة الأساسية التي تحتاجون إليها لإقامة مريحة طوال الرحلة.
                </p>
                <p>
                  توفر أرويا كروز هذه المقصورات والكبائن الداخلية لراحة قصوى، حيث صممت بعناية لتوفير المساحة الكافية
                  للنوم والاسترخاء، وتحتوي على جميع وسائل الراحة الأساسية التي تحتاجون إليها لإقامة مريحة طوال الرحلة.
                </p>
                <p>
                  إنها خيار مثالي للأشخاص العمليين ومحبي الفعاليات والأنشطة خارج حدود مقر إقامتهم.
                </p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>هذه الفئة لديها ثلاثة أحجام:<strong>15-20-30</strong> متر مربع</p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view flex">
            <img class="cabins-card__body-img" src="../../images/cabins/card-2.jpg" alt="">
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>كبينة بإطلالة بحرية</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>ستعيشون تجربة الإبحار الرائعة في هذه الكبينة الفخمة والمريحة ، إذ تحتوي على أسِرّة مريحة، مزدوجة أو
                توأم (حسب/عند الطلب)، نافذة مطلة على البحر، خزانة ملابس، وحمام مع دش ومنطقة تزيين مع مجفف شعر. ستجدون
                أمامكم نوافذ كريستالية تقدم إطلالة رائعة على أفق البحر، توفر هذه الكبائن الساحرة أجواء هادئة ومنظرًا
                منعشًا يعبر عن روعة البحر.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">تلفزيون</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">خزنة</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text"> WiFi</span>
              <span>(مقابل رسوم)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">غلاية</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">ثلاجة صغيرة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CABINS CARD -->
    <div class="cabins-card py-8 light-bg">
      <div class="container cabins-card__container">
        <div class="cabins-card__body flex">
          <div class="cabins-card__body-content">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>ذوات الشرفات..</h2>
              </div>
              <div class="section-header__text mt-2 sd">
                <p>
                  إنها الخيار الأمثل لتجربة مميزة ورومانسية على متن رحلات أرويا كروز البحرية!!
                </p>
                <p>
                  حيث توفر لكم هذه المقصورات إطلالات ساحرة، إذ تتميز بتصاميم داخلية راقية وأنيقة، وتوفر لكم مساحة
                  استثنائية للاسترخاء والاستمتاع بأجواء البحر، من خلال شرفات خاصة تمكنكم من الجلوس والاستمتاع بالهواء
                  النقي والمناظر الطبيعية الساحرة.
                </p>
              </div>
            </div>
            <div class="cabins-card__size mt-4 flex">
              <div class="cabins-card__size-ic flex">
                <img src="../../images/cabins/size-icon.svg" alt="">
              </div>
              <div class="cabins-card__size-text dark-blue text-23 medium">
                <p>هذه الفئة لديها أربعة أحجام:<strong>16-19-25-27</strong> متر مربع</p>
              </div>
            </div>
          </div>
          <div class="cabins-card__body-view flex">
            <img class="cabins-card__body-img" src="../../images/cabins/card-3.jpg" alt="">
          </div>
        </div>
        <div class="cabins-card__footer mt-6 flex">
          <div class="cabins-card__footer-content">
            <div class="cabins-card__footer-title flex text-34 semibold dark-blue flex">
              <img class="cabins-card__footer-title-ic" src="../../images/cabins/rectangle-icon.svg" alt="">
              <h3>كبينة بشرفة</h3>
            </div>
            <div class="cabins-card__footer-text sd mt-2">
              <p>تصميم هذه الكبينة يجمع بين الراحة والأناقة بشكل متقن، يتميز الأثاث بالألوان الهادئة والخشب الفاخر،
                ويضفي جوًا دافئًا ومريحًا.. سريركم الفاخر مزود ببياضات فاخرة تضمن لكم ليالٍ هانئة ومريحة مع شرفة تضفي
                جمالًا أخاذًا وتجربة لا مثيل ، إذ تحتوي على أسِرّة مريحة، مزدوجة أو توأم (حسب/عند الطلب)، شرفة مطلة على
                البحر، خزانة ملابس، وحمام مع دش ومنطقة تزيين مع مجفف شعر.</p>
            </div>
          </div>
          <div class="cabins-card__footer-separator"></div>
          <div class="cabins-card__footer-items flex">
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/tv-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">تلفزيون</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/safe-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">خزنة</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/wifi-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text"> WiFi</span>
              <span>(مقابل رسوم)</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/kettle-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">غلاية</span>
            </div>
            <div class="cabins-card__footer-item flex dark-blue text-16">
              <div class="cabins-card__footer-item-ic flex">
                <img src="../../images/cabins/fridge-ic.svg" alt="">
              </div>
              <span class="text-20 semibold cabins-card__footer-item-text">ثلاجة صغيرة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CABINS CARD -->
    <!-- CTA -->
    <div class="page-cta py-6 cabins-page__cta white">
      <div class="container page-cta__container">
        <h2 class="text-60 medium">اكتشف سفينتنا</h2>
        <p class="mt-4 uc text-30 bold">لمعرفة كافة المعلومات حول سفينتنا</p>
        <a class="main-btn main-btn--white mt-2" href="/aroya-ship-ar">اكتشف االن</a>
      </div>
    </div>
    <!-- END CTA -->
  </main>
  <!-- SIGNUP -->
  <div class="signup light-bg">
    <div class="container py-6">
      <div class="section-header section-header--custom center blue">
        <div class="section-header__title title-34 secondary-f f-medium">
          <h2>لا تفوت أبداً عروض الرحلات البحرية, سجل الان</h2>
        </div>
      </div>
      <div class="signup-main">
        <form class="signup-form">
          <div class="signup-form__controls">
            <div class="signup-form__controls-item">
              <input required class="signup-form__control" name="email" type="email" placeholder="عنوان البريد الإلكتروني">
            </div>
            <div class="signup-form__controls-item">
              <input class="signup-form__control" name="phone" type="phone" placeholder="هاتف">
              <span class="optional">خياري</span>
            </div>
          </div>
          <div class="signup-form__submit-wrapper">
            <button class="signup-form__submit-btn main-btn main-btn--light-blue uc" type="submit">اشتراك
            </button>
          </div>
        </form>
      </div>
      <div class="signup-footer sd sd--light-links gray">
        <p>قم بالتسجيل للحصول على معلومات حول عروضنا وصفقاتنا الخاصة. يمكنك إلغاء الاشتراك في أي وقت. لمزيد من التفاصيل
          حول كيفية استخدامنا لمعلوماتك، راجع سياسة الخصوصية الخاصة بنا.</p>
      </div>
    </div>
  </div>
  <!-- END SIGNUP -->
  <%= templates.footerAr %>
  <div class="overlay"></div>
</body>

</html>