<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="cruise-page">
  <!-- HEADER -->
  <%= templates.headerAr %>
  <!-- END HEADER -->
  <main class="main">
    <!-- INTRO -->
    <div class="page-intro cruise-intro flex relative py-4 white">
      <div class="container page-intro__container">
        <div class="section-header page-intro__text">
          <div class="section-header__title">
            <h1>كروز 101</h1>
          </div>
        </div>
      </div>
      <img src="../../images/cruise-101/intro.jpg" alt="" class="page-intro__img">
    </div>
    <!-- END INTRO -->
    <!-- CONTENT -->
    <div class="page-content cruise-page__content relative py-8 light-bg">
      <div class="container page-content__container flex">
        <div class="page-content__img-wrapper cruise-page__content-img-wrapper flex">
          <img class="page-content__img cruise-page__content-img" src="../../images/cruise-101/content.png" alt="">
        </div>
        <div class="page-content__text">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>ما هو الكروز؟</h2>
            </div>
          </div>
          <div class="sd mt-2">
            <p>
              أهلًا بكم في أرويا كروز، حيث نقدم لكم مفهومًا جديدًا للإجازة، يلبي احتياجاتكم ويرضي أذواقكم في مكان واحد،
              لتصبح إجازتكم مجموعة من الإجازات المتنوعة التي توائم جميع الفئات العمرية.
            </p>
            <p>الكروز عبارة عن منتجع عائم متكامل يحتوي على مناطق ترفيهية ومطاعم متنوعة على متن سفينة عملاقة تستقبل عددًا
              كبيرًا من الضيوف، تبحر لوجهات مختلفة تقدم مجموعة من التجارب المثرية وذكريات يصعب نسيانها
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
    <!-- WHY -->
    <div class="cruise-why pt-6 pb-8 relative">
      <div class="container">
        <div class="section-header cruise-why__header">
          <div class="section-header__title dark-blue">
            <h2>لماذا الكروز؟</h2>
          </div>
          <div class="section-header__text mt-2 sd">
            <p>إن كنتم تخططون للسفر بمفردكم أو برفقة الأصدقاء والعائلة، فستكون فكرة الكروز هي خياركم الأمثل، لكونها تلبي
              مختلف الأذواق وتجمع بين الصفاء وأجواء المرح في مكان واحد..</p>
          </div>
        </div>
      </div>
      <div class="cruise-why__wrapper py-4">
        <div class="container cruise-why__container">
          <div class="cruise-why__content">
            <div class="cruise-why__content-row sd sd--text-18 flex circle-ul">
              <ul>
                <li>في رحلات الكروز ستزورون مدنًا متنوعة دون الحاجة لحزم وفك الأمتعة، حيث إن مكان إقامتكم مؤمن ومتنقل
                  بنفس درجة الرفاهية والامتيازات اللامحدودة.</li>
                <li>ضمن رحلات الكروز، ستتمكنون من الاستكشاف والتعرف على أهم المناطق والمعالم السياحية في مختلف وجهاتنا
                  الأخاذة.</li>
                <li>في الكروز ستتمكنون من الجمع بين الاستكنان والمغامرات ومختلف الأنشطة.</li>
                <li>رحلات الكروز تمتاز بدرجات عالية من الأمان، لتكون إقامتكم مريحة وذكرى خالدة يصعب نسيانها.</li>
              </ul>
              <ul>
                <li>الكروز يوفر لكم فئات متنوعة تلبي احتياجاتكم وتتناسب مع تفضيلاتكم.</li>
                <li>يمكنكم الإبحار من أكثر من نقطة بحسب الأقرب، حيث توفر الموانئ خدمات متعددة وتجارب مريحة.</li>
                <li>يعتبر الكروز مجموعة من الإجازات التي تجتمع ضمن إجازة واحدة، بعدد من الأنشطة والفعاليات المتنوعة.
                </li>
                <li>يعدُّ الإبحار بالكروز حلًا مثاليًا ومرضيًا لمختلف الفئات العمرية، فمهما اختلفت مواعيد أو أهداف
                  إجازتكم فإن الإبحار بالكروز يلبي جميع الأذواق.</li>
                <li> يعد الكروز إجازة رائعة لاجتماعات العائلة، الأصدقاء، الأزواج، والأفراد، كونه يلبي جميع الأذواق برغم
                  تباين الأعمار واختلاف الرغبات.</li>
              </ul>
            </div>
          </div>
          <div class="cruise-why__img-wrapper">
            <img src="../../images/cruise-101/cruise-why.jpg" alt="" class="cruise-why__img">
          </div>
        </div>
      </div>
      <div class="container cruise-why__footer sd medium">
        <div class="cruise-why__footer-content dark-blue">
          <p>نوفر في رحلات أرويا كروز البحرية، تجارب فريدة وآسرة لضيوفنا الباحثين عن أفضل الخيارات لقضاء إجازاتهم بمزيج
            من الاسترخاء والاستكشاف والترفيه، لنلبي جميع الأذواق على أمواجنا العربية.</p>
        </div>
      </div>
    </div>
    <!-- END WHY -->
    <!-- INFORMATION -->
    <div class="information-cards py-8 light-bg pattern-image-wrapper">
      <div class="container information-cards__container">
        <div class="section-header">
          <div class="section-header__title dark-blue">
            <h2>معلومات مفيدة من أرويا</h2>
          </div>
        </div>
        <div class="information-cards__items mt-4 flex">
          <button type="button" class="information-cards__item brightness-parent scaled-parent">
            <div class="information-cards__item-header scaled flex">
              <img src="../../images/cruise-101/card-1.jpg" alt=""
                class="information-cards__item-img scaled-img brightness-img">
            </div>
            <div class="information-cards__item-body title-23 f-semibold">
              <h3>كيفية التخطيط لرحلتكم البحرية القادمة؟</h3>
              <div class="information-cards__item-link mt-1 flex dark-blue text-18">
                احجز الان
                <svg class="arrow-ic" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                  fill="none">
                  <g clip-path="url(#clip0_2278_7405)">
                    <path
                      d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                      fill="#012E89" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2278_7405">
                      <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </button>
          <button type="button" class="information-cards__item brightness-parent scaled-parent">
            <div class="information-cards__item-header scaled flex">
              <img src="../../images/cruise-101/card-2.jpg" alt=""
                class="information-cards__item-img scaled-img brightness-img">
            </div>
            <div class="information-cards__item-body title-23 f-semibold">
              <h3>9 نصائح مهمة:</h3>
              <div class="information-cards__item-link mt-1 flex dark-blue">
                احجز الان
                <svg class="arrow-ic" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                  fill="none">
                  <g clip-path="url(#clip0_2278_7405)">
                    <path
                      d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                      fill="#012E89" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2278_7405">
                      <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </button>
          <button type="button" class="information-cards__item brightness-parent scaled-parent">
            <div class="information-cards__item-header scaled flex">
              <img src="../../images/cruise-101/card-3.jpg" alt=""
                class="information-cards__item-img scaled-img brightness-img">
            </div>
            <div class="information-cards__item-body title-23 f-semibold">
              <h3>ماذا يجب أن نأخذ؟</h3>
              <div class="information-cards__item-link mt-1 flex dark-blue">
                احجز الان
                <svg class="arrow-ic" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                  fill="none">
                  <g clip-path="url(#clip0_2278_7405)">
                    <path
                      d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                      fill="#012E89" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2278_7405">
                      <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </button>
          <button type="button" class="information-cards__item brightness-parent scaled-parent">
            <div class="information-cards__item-header scaled flex">
              <img src="../../images/cruise-101/card-4.jpg" alt=""
                class="information-cards__item-img scaled-img brightness-img">
            </div>
            <div class="information-cards__item-body title-23 f-semibold">
              <h3>أفضل 7 أنشطة على متن سفينة الكروز لتلبية جميع الفئات العمرية:</h3>
              <div class="information-cards__item-link mt-1 flex dark-blue">
                احجز الان
                <svg class="arrow-ic" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                  fill="none">
                  <g clip-path="url(#clip0_2278_7405)">
                    <path
                      d="M13.5406 18.9528L19.9473 12.5128L13.5406 6.07283C13.4827 5.99685 13.4092 5.93419 13.325 5.88908C13.2409 5.84398 13.148 5.81749 13.0527 5.81141C12.9573 5.80533 12.8618 5.8198 12.7726 5.85384C12.6834 5.88787 12.6025 5.94069 12.5354 6.0087C12.4684 6.07671 12.4167 6.15834 12.384 6.24805C12.3512 6.33776 12.3381 6.43346 12.3456 6.52867C12.353 6.62389 12.3808 6.71639 12.4271 6.79992C12.4734 6.88345 12.5371 6.95606 12.6139 7.01283L17.4073 11.8462L4.65393 11.8462C4.47712 11.8462 4.30755 11.9164 4.18253 12.0414C4.0575 12.1665 3.98727 12.336 3.98727 12.5128C3.98727 12.6896 4.0575 12.8592 4.18253 12.9842C4.30755 13.1093 4.47712 13.1795 4.65393 13.1795L17.4073 13.1795L12.6139 18.0128C12.4893 18.1384 12.4196 18.3083 12.4202 18.4852C12.4209 18.6621 12.4917 18.8315 12.6173 18.9562C12.7428 19.0808 12.9127 19.1505 13.0896 19.1499C13.2665 19.1492 13.4359 19.0784 13.5606 18.9528H13.5406Z"
                      fill="#012E89" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2278_7405">
                      <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="information-cards__popups">
        <div class="information-cards__popup flex">
          <div class="information-cards__popup-left">
            <img class="information-cards__popup-img" src="../../images/cruise-101/card-1-popup.jpg" alt="">
          </div>
          <div class="information-cards__popup-right flex">
            <div class="information-cards__popup-header title-23 semibold flex">
              <p>كيفية التخطيط لرحلتكم البحرية القادمة؟</p>
              <button type="button" class="information-cards__popup-close flex" data-popup-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                    fill="#012E89" />
                </svg>
              </button>
            </div>
            <div class="information-cards__popup-body sd">
              <p>
                هذه الخطوة هي الأمتع على الإطلاق!!
              </p>
              <p>
                ستجدون الحماس من خلال البحث عن الأماكن المميزة عبر الوجهات المتنوعة، إنها أشبه بالذهاب للرحلة الفعلية
                عبر الخيال..
              </p>
              <p>
                إن كانت هذه الرحلة هي تجربتكم الأولى للإبحار، فإن التخطيط لرحلتكم يُعتبر جزءً لا يتجزأ من رحلتكم، لتخليد
                تجربة رائعة لا تنسى..
              </p>
              <p>
                يمكنكم البدء بالتخطيط للرحلة من خلال خطوات بسيطة تتضمن التالي:
              </p>
              <p>
                <strong>
                  اختيار الوجهة:</strong>
              </p>
              <p>
                إنها البداية!! لا بد من اختيار الوجهة التي تفضلون زيارتها، فبحسب تفضيلاتكم من بين أنواع الأنشطة المختلفة
                أو نوع المناخ الذي تبحثون عنه، وربما دمج مجموعة من الوجهات في رحلة واحدة..
              </p>
              <p>
                <strong>اختيار ميناء المغادرة:</strong>
              </p>
              <p>
                بمجرد اختياركم للوجهة، سيتعين عليكم اختيار الميناء الذي سيتم الإبحار من خلاله، فبحسب تفضيلاتكم من حيث
                الميناء الأقرب، وربما بحسب مرونة تصدير التأشيرات المصاحبة لدخول بعض المدن، فستكتشفون الموانئ المغادرة
                للوجهات المختارة.</p>
              <p>
                <strong>اختيار خط رحلتكم:</strong>
              </p>
              <p>
                بعد اختيار الوجهات وميناء المغادرة، يمكنكم البدء في التخطيط لمسار رحلتكم على متن أرويا كروز.
                - تحديد مدة الرحلة، أرويا كروز تقدم مجموعة متنوعة من الباقات لتشمل مسارات الرحلات، بمدة تبدأ من 4 ليالي
                3 أيام ورحلات أخرى تمتد لأكثر من ذلك.
                - لا بد من معرفة أولوياتكم، خيارات المبيت، الذهاب والإياب، أنواع الوجهات وتفاصيل الأنشطة، التواريخ وما
                إلى ذلك.
                بمجرد تحديد مدة الرحلة والأولويات، ستتمكنون من اختيار خط سير الرحلة الذي يناسبكم من ضمن خيارات أرويا
                كروز المتنوعة والمتاحة لكم.</p>
              <p><strong>اختيار كبينة إقامتكم:</strong></p>
              <p>توفر أرويا كروز مجموعة متنوعة من الغرف والأجنحة الفاخرة التي تتناسب مع جميع احتياجاتكم وتؤمن راحتكم..
                إليكم دليلًا خاصًا بغرف وأجنحة أرويا كروز..
                كما يمكنكم الحجز من بين قائمة مطاعمنا اللامحدودة من خلال دليل المطاعم والمقاهي أدناه..</p>
              <p><strong>احجز رحلاتك:</strong></p>
              <p>
                لا بد من التخطيط الجيد لأدق التفاصيل، فعلى سبيل المثال، إن كنتم تقيمون في مدينة بعيدة عن ميناء الإبحار
                فلا بد من تأمين رحلة الوصول قبل وقت كاف من تاريخ الإبحار كتأمين رحلات الطيران، السفر عن طريق القطار، أو
                بالسيارة في حال كنتم تقيمون في نفس المدينة.</p>
              <p><strong>احجز لمغامراتك:</strong></p>
              <p>بالرغم من عدد الأنشطة المتنوعة والتجارب التي ستجدونها على متن سفن أرويا كروز، إلا أنه بإمكانكم تأمين
                تجارب مختلفة على الجزر والشواطئ والاستمتاع بوجهاتكم المتنوعة.
                هناك العديد من الأنشطة التي يمكنكم المشاركة بها في كل محطة تلتقون بها، ابحثوا عن رحلتكم الشاطئية القادمة
                أو الجولة الساحلية التي تحلمون بها في قلب أحد وجهاتكم، كما يمكنكم التسوق من بعض الموانئ أو زيارة بعض
                المطاعم الشهيرة، اختاروا نشاطكم الرياضي أو الثقافي المفضل لتوثقوا من خلالها ذكريات لا تنسى</p>
            </div>
          </div>
        </div>
        <div class="information-cards__popup flex">
          <div class="information-cards__popup-left">
            <img class="information-cards__popup-img" src="../../images/cruise-101/card-2-popup.jpg" alt="">
          </div>
          <div class="information-cards__popup-right flex">
            <div class="information-cards__popup-header title-23 semibold flex">
              <p>ماذا يجب أن نأخذ؟</p>
              <button type="button" class="information-cards__popup-close flex" data-popup-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                    fill="#012E89" />
                </svg>
              </button>
            </div>
            <div class="information-cards__popup-body sd">
              <p>
                أجمل شيء في رحلات الكروز مهما تعددت الوجهات هو أنكم تقومون بحزم أمتعتكم مرة واحدة فقط! لأنكم ببساطة
                تقيمون في منتجع متنقل.</p>
              <p>
                سيختلف حجم احتياجاتكم وطبيعتها بحسب مدة الرحلات البحرية وبحسب المناخ الخاص بكل وجهة، ومع ذلك يمكنكم
                تضمين بعض الأغراض المهمة إلى أمتعتكم الخاصة برحلة الكروز البحرية، فمن المهم أن تحزموا أمتعتكم بذكاء وأن
                تفكروا في أجواء المتعة والإثارة التي ستكون بانتظارك...</p>
              <p>نقدم لكم قائمة تتضمن بعض الاحتياجات الهامة:</p>
              <p>
                <strong>1. الملابس الرسمية وملابس السهرة:</strong> العديد من الرحلات البحرية لها أجواء خاصة في الحياة
                الليلية كالسهرات أو
                الاحتفالات الخاصة، لذا احزموا ملابس السهرة الأنيقة مثل فساتين السهرة أو البدلات الرجالية والملابس
                الرسمية.
              </p>
              <p>
                <strong>2. ملابس المنتجع العملية:</strong> قوموا بتضمين ملابس عملية للمنتجع والاستمتاع بمختلف المرافق
                على أن تكون أنيقة
                ومريحة في نفس الوقت.
              </p>
              <p>
                <strong>3. ملابس السباحة:</strong> لا تنسوا وضع ملابس السباحة المفضلة لديكم، للاستمتاع بالأنشطة المائية
                في حمام السباحة
                ومنطقة التشميس.
              </p>
              <p>
                <strong>4. أنواع الأحذية:</strong> حاولوا الموازنة بين الأحذية الرسمية لمناسبات الطعام والسهرات وأحذية
                المشي المريحة
                لاستكشاف السفينة والموانئ، وأخرى مخصصة للمسابح والشواطئ.
              </p>
              <p>
                <strong>5. الإكسسوارات والكماليات:</strong> مثل القبعات والنظارات الشمسية وربطات العنق الصيفية، لإضافة
                المزيد من الأناقة
                والحماية من أشعة الشمس.
              </p>
              <p>
                <strong>6. أدوات النظافة وكريمات الوقاية:</strong> من الجيد إحضار أدوات العناية الخاصة والمفضلة لكم
                لإضفاء لمسة شخصية،
                إضافة إلى واقي الشمس الأمثل لاستخداماتكم.
              </p>
              <p>
                <strong>7. منظف الغسيل بحجم السفر:</strong> لدينا مرافق لغسيل الملابس، لذا فإن تعبئة منظف بحجم السفر
                يمكن أن يكون مناسبًا
                للحفاظ على ملابسكم منتعشة كما اعتدتم عليها دائمًا.
              </p>
              <p>
                <strong>8. الأدوية، الفيتامينات والإسعافات الأولية:</strong> لا بد من إحضار أي أدوية ضرورية أو فيتامينات
                مهمة ومجموعة
                صغيرة من الإسعافات الأولية للأمراض أو الإصابات البسيطة لا قدر الله.
              </p>
              <p>
                <strong>9. الإلكترونيات:</strong> كالشواحن المتنقلة واللاسلكية، شواحن الجوالات والأجهزة الذكية، شواحن
                الساعات، أغطية
                الأجهزة الذكية الخاصة بالسباحة، كبس الكهرباء متعدد المنافذ.
              </p>
              <p>
                <strong>10. وثائق السفر:</strong> يُفضل جمع جميع الوثائق في مكان واحد أو حقيبة صغيرة لتشمل جواز/جوازات
                السفر والتأشيرات
                وتذاكر الرحلات البحرية وأي مستندات إثبات شخصية أو طبية ضرورية.
              </p>
            </div>
          </div>
        </div>
        <div class="information-cards__popup flex">
          <div class="information-cards__popup-left">
            <img class="information-cards__popup-img" src="../../images/cruise-101/card-3-popup.jpg" alt="">
          </div>
          <div class="information-cards__popup-right flex">
            <div class="information-cards__popup-header title-23 semibold flex">
              <p>9 نصائح مهمة:</p>
              <button type="button" class="information-cards__popup-close flex" data-popup-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                    fill="#012E89" />
                </svg>
              </button>
            </div>
            <div class="information-cards__popup-body sd">
              <p><strong>قرروا الوجهة:</strong></p>
              <p>
                قرار الوجهة هو بداية الطريق لخيارات متنوعة من بعده، كالترتيب للسفر إن كنتم تقيمون في مدينة تبعد عن
                الميناء، ونوع الملابس التي ستحتاجونها والمعتمد على المناخ، وربما قرار فترة الرحلة والتي تعتمد على مدة
                إجازتكم، وعن الرحلات الشاطئية والبحرية أو الجولات السياحية التي تفضلونها في وجهاتكم المختارة.
              </p>
              <p>
                لا بد من الأخذ في الاعتبار أنه سيتعين عليكم قطع بعض المسافات في الرحلات البحرية المغادرة إلى أماكن أبعد،
                فلا تتجاهلوا وقت السفر الإضافي وتذاكر الطيران الدولية والتأشيرات اللازمة للدخول.
              </p>
              <p>
                <strong>أفضل وقت للإبحار:</strong>
              </p>
              <p>
                بمجرد تحديد الوجهة يأتي دور موعد الذهاب..
              </p>
              <p>
                فكل منطقة بحرية حول العالم لها موسم إبحار خاص بها يعتمد على المناخ وجودة الطقس..
              </p>
              <p>إن اختيار الوقت المثالي للسفر ليس بالأمر الهين، حيث أن اختيار أوقات الذروة للسفر سيشهد موانئ مزدحمة
                وارتفاع ملحوظ في الأسعار، بينما يمكنكم التضحية بالظروف الجوية المثالية لتتمكنوا من الاستمتاع بموانئ أقل
                ازدحامًا، في أحيان أخرى يتم بناء قرار وقت الإجازة بحسب الفترات المتاحة للمرتبطين بمواعيد الدراسة أو
                العمل.
              </p>
              <p><strong>تحديد فترة الرحلة:</strong></p>
              <p>
                تتباين فترات الرحلات من القصيرة إلى المتوسطة وصولًا بالطويلة جدًا، فقرار فترة الرحلة يعتمد على عدة
                عوامل:
              </p>
              <p>
                سيتعين عليكم الاختيار من بين عدد من الباقات والمدد المتنوعة والتي تلبي احتياجاتكم بحسب الوجهات والأنشطة
                المرافقة.
              </p>
              <p><strong>
                  الوصول إلى ميناء الإبحار في وقت مثالي:</strong></p>
              <p>
                هذه أحد القواعد الهامة والتي لا بد من الحساب لها جيدًا بكافة الاحتمالات الممكنة، فلا بد من ضمان وصولكم
                لميناء الإبحار قبل وقت كاف لتجنب التوتر.
                إن كان ميناء الإبحار بعيدًا عن مدينتكم فيفضل الوصول للمدينة قبل ليلة من تاريخ الإبحار، حيث يمكنكم
                استكشاف المدينة الساحلية، أما إن كنتم في نفس المدينة فسيتعين عليكم الوصول إلى ميناء الإبحار قبل الموعد
                بساعات قليلة لضمان تجنب أي عوائق كحركة المرور أو الحوادث الطارئة.
                لا بد من توخي الحذر، ففي حال تأخركم، فإن السفينة ستغادر، وسيتعين عليكم بالتالي معرفة الخدمات اللوجستية
                للانضمام إلى رحلة أرويا كروز في ميناء التوقف التالي (إن كان هذا أحد الاحتمالات الواردة)، حيث أن تكاليف
                الانتقال والخدمات ستكون على نفقتكم الخاصة.</p>
              <p><strong>
                  اختيار كبينة الإقامة بعناية:</strong></p>
              <p>
                مكان الإقامة الخاصة بكم أحد الركائز المهمة للسفر، والتي يمكن أن تتباين من حيث الميزات والتكلفة.
                حيث يتحدد بحسب ميزانيتكم وعدد الضيوف وأهداف إجازتكم.</p>
              <p><strong>
                  في العادة تنقسم كبائن الرحلات البحرية إلى أربع فئات أساسية:</strong></p>
              <p>
                - كبائن داخلية
                - كبائن ذات إطلالات بحرية
                - كبائن الشرفات
                - والأجنحة والڤيلات بمنطقة خزامى
                حيث تحتوي أجنحة وڤيلات خزامى على الكثير من وسائل الراحة الإضافية مثل أولوية الصعود والنزول وخدمات
                الكونسيرج والدخول لأماكن كبار الشخصيات بمنطقة خزامى وغيرها..
                نصيحة: إذا كنتم ممن يعانون من دوار البحر، يمكنكم طلب كبينة فاخرة في منتصف السفينة في الطابق السفلي، حيث
                تقل الحركة على متن السفينة في حالة اضطراب الأمواج.</p>
              <p><strong>
                  الإضافات:</strong></p>
              <p>
                هناك بعض الإضافات التي لا بد من أخذها في الاعتبار، والتي تشمل بعض الرسوم الإضافية الشائعة التي يجب
                الاستعداد لها كالرحلات الاستكشافية على الشاطئ، ومشروبات الخاصة، وتناول الطعام في المطعم المختصة، وخدمات
                السبا، وباقات الإنترنت، واختيار الأنشطة على متن السفينة.</p>
              <p>
                <strong>
                  الحصول على تأمينات السفر اللازمة:</strong>
              </p>
              <p>
                حاولوا الحصول على بوليصة تأمين السفر للرحلات البحرية؛ يمكنكم تصفح بعض مواقع شركات التأمين والاطلاع على
                السياسات، كما يمكننا مساعدتكم بذلك.</p>
              <p><strong>
                  التأكد من وثائق السفر اللازمة قبل وقت كافٍ:</strong></p>
              <p>
                - إنه لمن الضروري ضمان الحصول على جميع الوثائق المطلوبة قبل وقت كاف من رحلة الإبحار، لا تنتظروا حتى
                اللحظة الأخيرة، فجميع الإجراءات بحاجة إلى وقت لإصدار الوثائق الخاصة بها.
                - التأكد من صلاحية جواز السفر لمدة ستة أشهر على الأقل.
                - التأكد من اشتراطات السفر ودخول كل بلد والتأشيرات اللازمة للدخول.
                - إن كانت التأشيرات موجودة لديكم مسبقًا، فلا بد من التأكد من أنها صالحة طوال فترة السفر لتجنب أي مفاجآت.
                - التأكد من بوليصة التأمين، والتأمين الصحي والتطعيم وغيرها،
                - لا بد من ملاحظة أن القاصرين أحيانًا يحتاجون إلى خطابات إذن بالسفر وتحديدًا في غياب الوالدين.</p>
              <p><strong>
                  الحجز المسبق للرحلات الشاطئية والمطاعم الشهيرة:</strong></p>
              <p>
                من المؤكد أنكم اخترتم وجهاتكم بعناية بالغة ولغايات محددة كزيارة مكان ما أو تجربة الطعام في أحد المطاعم
                الشهيرة، أو مغامرة استثنائية، وبالتالي يوجد عدد مماثل لهذه الرغبات عند أغلب الزوار وإقبال كبير بحسب
                المواسم، لذا ننصحكم بالحجز المسبق للأماكن التي تخططون لزيارتها، لتكون تجربتكم مماثلة لما رسمتموه بين
                أحلامكم.</p>
            </div>
          </div>
        </div>
        <div class="information-cards__popup flex">
          <div class="information-cards__popup-left">
            <img class="information-cards__popup-img" src="../../images/cruise-101/card-4-popup.jpg" alt="">
          </div>
          <div class="information-cards__popup-right flex">
            <div class="information-cards__popup-header title-23 semibold flex">
              <p>أفضل 7 أنشطة على متن سفينة الكروز لتلبية جميع الفئات العمرية</p>
              <button type="button" class="information-cards__popup-close flex" data-popup-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.41622 3.91622C3.97117 3.36126 4.87093 3.36126 5.42589 3.91622L4.42105 4.92105L3.41622 5.92589C2.86126 5.37093 2.86126 4.47117 3.41622 3.91622ZM12 10.4903L5.4266 3.91693L4.42105 4.92105L3.41622 5.92589L9.99033 12.5L3.41622 19.0741C2.86126 19.6291 2.86126 20.5288 3.41622 21.0838C3.97117 21.6387 4.87093 21.6387 5.42589 21.0838L12 14.5097L18.5697 21.0794L18.5705 21.0802L18.5713 21.081L18.5725 21.0822L18.5734 21.0831L19.5687 20.0892L18.5741 21.0838C19.1291 21.6387 20.0288 21.6387 20.5838 21.0838C21.1387 20.5288 21.1387 19.6291 20.5838 19.0741L20.5831 19.0734L20.5822 19.0725L20.5802 19.0705L20.5794 19.0697L14.0097 12.5L20.5838 5.92589C21.1387 5.37093 21.1387 4.47117 20.5838 3.91622C20.0288 3.36126 19.1291 3.36126 18.5741 3.91622L12 10.4903Z"
                    fill="#012E89" />
                </svg>
              </button>
            </div>
            <div class="information-cards__popup-body sd">
              <p>
                هل أنتم مستعدون لعدد لا محدود من الأنشطة والمغامرات التي تنتظركم على متن أرويا كروز!!</p>
              <p>
                أرويا كروز، تقدم مجموعة واسعة من الأنشطة والتي تلبي احتياج جميع الفئات العمرية، دون استثناء.. سواء كنتم
                من محبي الاستمتاع بأشعة الشمس، أو الاسترخاء في أجواء من السكينة والهدوء، وربما تبحثون على أنغام
                الموسيقى، أو من عشاق الجمال، فهناك ما يناسب الجميع على متن السفينة...</p>
              <p><strong>
                  - لاونج مطل على حمام السباحة:</strong></p>
              <p>
                استشعروا الراحة والاستجمام حين تشاهدون أمواج البحر المتلألئة تعانق السماء، بإطلالة على حمام السباحة،
                بينما تستمتعون بأشعة الشمس الدافئة.. إنها الوصفة المثالية للاسترخاء التام.</p>
              <p><strong>
                  - لعشاق التسوق والموضة:</strong></p>
              <p>
                دللوا مشاعر الجمال في دواخلكم، من خلال التجول في المتاجر المحلية والعالمية الموجودة على متن أرويا كروز،
                واكتشفوا أحدث خطوط الموضة، لتجعلوا من رحلتكم البحرية تجربة تسوق لا تنسى.</p>
              <p><strong>
                  - العروض المبهرة:</strong></p>
              <p>
                على متن أرويا كروز، ستكونون على موعد للعروض الحية والفنون الراقية، استعدوا كل مساء لتمزجوا تجربتكم بالفن
                الأصيل والعروض المذهلة والانتقال إلى عالم من الخيال بين المسرحيات الموسيقية الساحرة أو الطرب الأصيل.
                على متن منتجعاتنا العائمة، سيستمتع أطفالكم بوقتهم حيث نخصص أنشطة خاضعة للإشراف ومتنزهات مائية وحفلات ذات
                طابع خاص، مما يضمن لهم قضاء وقت ممتع وآمن طوال الرحلة.</p>
              <p><strong>
                  - انعموا بالصحة والشباب:</strong></p>
              <p>
                اغتنموا الفرصة لإعطاء الأولوية لرفاهيتكم وصحتكم، توفر أرويا كروز خيارات لا محدودة للاهتمام بكم، ابتداءً
                من صالات الألعاب الرياضية الحديثة، إلى علاجات السبا الهادئة، لتنعموا بصحة مثالية واستكنان لا حدود له ضمن
                رحلتكم بالحرية لتضمن لكم تجديد شباب الجسد والروح.</p>
              <p><strong>
                  - الاستمتاع بالموسيقى الحية:</strong></p>
              <p>
                تنبض أرويا كروز بالحياة مع ألحان الموسيقى الساحرة، ستأسركم إيقاعات الموسيقيين الموهوبين والعازفين من
                مختلف أنحاء العالم.</p>
              <p><strong>
                  - المطاعم والمقاهي العالمية:</strong></p>
              <p>
                سنشبع ذائقتكم من خلال مجموعة متنوعة من المأكولات العالمية، بدءًا من النكهات الأصيلة، وصولًا للأطباق
                الشهية واللذيذة.. كل منها سيشكل تجربة خاصة ورحلة تنفردون بها.</p>
              <p><strong>
                  - استشعروا الدلال:</strong></p>
              <p>
                لعشاق الجمال والروائح العطرية، أرويا كروز تعدكم بالأفضل.. إنه موعدكم لتجديد جمالكم من خلال صالونات
                الجمال والعيادات المخصصة للتجميل، والتي تلبي احتياجاتكم وتجعل من تجربتكم ذكرى لا تنسى.</p>
              <p><strong>
                  - منطقة الحالمين المبهجة:</strong></p>
              <p>
                سنرسم البسمة على وجوه أحبائنا الصغار من خلال مناطق واسعة ومتعددة المنافذ تلبي احتياج مختلف فئاتهم
                العمرية، فمن ورشة البحار لمنطقة اليافعين ومناطق الألعاب المتنوعة، حتى الرضع فلهم عالمهم الخاص المليء
                بالمغامرات والبهجة، سيكون أطفالكم في أمان تام في مرافق أرويا المخصصة لهم.</p>
            </div>
          </div>
        </div>
      </div>
      <img class="pattern-img" src="../../images/cruise-101/information-cards-bg.svg" alt="">
    </div>
    <!-- END INFORMATION -->
    <!-- CTA SECTION -->
    <div class="page-cta py-6 cabins-page__cta white">
      <div class="container page-cta__container">
        <h2 class="text-60 medium">اكتشف سفينتنا</h2>
        <p class="mt-4 uc text-30 bold">أرويا</p>
        <p class="text-50 medium">عربية بشكل ملحوظ</p>
        <a class="main-btn main-btn--white mt-2" href="/aroya-ships-ar">شاهد المزيد</a>
      </div>
    </div>
    <!-- END CTA SECTION -->
  </main>
  <%= templates.footerAr %>
  <div class="overlay"></div>
</body>

</html>