<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="description"
    content="Discover the AROYA Ship and embark on an unforgettable journey. Explore our 17 restaurants, 18 venues, and luxurious Khuzama VIP area. With over 1,684 cabins and a 1,858 sqm kids' zone, our ship is designed for your comfort.">
  <title>AROYA Ship</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KFPGJZC3');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="deal-page">
  <!-- HEADER -->
  <%= templates.headerEn %>
    <!-- END HEADER -->
    <main class="main">
      <!-- INTRO -->
      <div class="page-intro page-intro--radius flex relative py-4 white">
        <div class="container page-intro__container">
          <div class="section-header page-intro__text">
            <div class="section-header__title">
              <h1>Cruise Deal</h1>
            </div>
            <!-- <div class="section-header__description sd mt-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa tellus, sollicitudin at accumsan
                ac, varius sit amet felis. </p>
            </div>
            <a href="#" class="page-intro__link main-btn main-btn--light-blue mt-3">Explore</a> -->
          </div>
        </div>
      </div>
      <!-- END INTRO -->
      <!-- Content after intro -->
      <div class="page-content relative pt-8 pb-6 light-bg">
        <div class="container">
          <div class="section-header">
            <div class="section-header__title dark-blue">
              <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="section-header__text mt-2 sd">
              <p>Lorem ipsum dolor sit amet consectetur. Viverra pretium ultricies augue suspendisse elit bibendum
                feugiat auctor volutpat. Urna in viverra nunc nullam est vitae.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End content after intro -->
      <!-- Offers -->
      <div class="deal-offers light-bg pt-4 pb-7">
        <div class="container">
          <div class="section-header dark-blue">
            <div class="section-header__title">
              <h2>Top Offers section </h2>
            </div>
          </div>
          <div class="deal-offers__cards flex mt-4">
            <a href="#" class="deal-offers__card white scaled-parent brightness-parent">
              <div class="scaled">
                <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img scaled-img brightness-img">
              </div>
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <!-- <span class="deal-offers__card-starting text-14">starting from</span>
                <span class="deal-offers__card-price text-26 bold">870 SAR</span> -->
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white scaled-parent brightness-parent">
              <div class="scaled">
                <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img scaled-img brightness-img">
              </div>
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <!-- <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span> -->
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white scaled-parent brightness-parent">
              <div class="scaled">
                <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img scaled-img brightness-img">
              </div>
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <!-- <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span> -->
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
            <a href="#" class="deal-offers__card white scaled-parent brightness-parent">
              <div class="scaled">
                <img src="../images/deal/deal-offer.jpg" alt="" loading="lazy" class="deal-offers__card-img scaled-img brightness-img">
              </div>
              <div class="deal-offers__card-content title-26 f-bold">
                <h3>Caribbean cruises</h3>
                <!-- <span class="text-14">starting from</span>
                <span class="deal-offers__card-price title-26 bold">870 SAR</span> -->
                <span href="" class="deal-offers__card-link main-btn main-btn--light-blue">Book now</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- End offers -->
      <!-- Deal cta -->
      <div class="deal-cta light-bg pb-8">
        <div class="container deal-cta__container py-6 relative">
          <div class="deal-cta__content relative title-34 f-bold white center">
            <p>Caribbean cruises</p>
            <a href="#" class="main-btn main-btn--light-blue deal-cta__link">Book now</a>
          </div>
        </div>
      </div>
      <!-- End deal cta -->
      <!-- Early booking -->
      <div class="deal-booking relative">
        <div class="container">
          <div class="section-header deal-booking__content relative white">
            <div class="section-header__title">
              <h2>Early Booking</h2>
            </div>
            <div class="section-header__text mt-1 text-23">
              <p>Lorem ipsum dolor sit amet consectetur. Netus a blandit lorem integer. Tellus praesent fringilla amet
                adipiscing scelerisque tristique sed venenatis. </p>
            </div>
            <a href="#" class="main-btn main-btn--light-blue deal-booking__link mt-2">See offers</a>
          </div>
        </div>
      </div>
      <!-- End early booking -->
      <!-- Some title -->
      <div class="deal-call py-4 relative">
        <div class="container">
          <div class="section-header deal-call__content white flex relative center">
            <div class="section-header__title">
              <h2>Some Title</h2>
            </div>
            <div class="section-header__text text-23 mt-1">
              <p>Lorem ipsum dolor sit amet consectetur. Netus a blandit lorem integer. Tellus praesent fringilla amet
                adipiscing scelerisque tristique sed venenatis.</p>
            </div>
            <a href="#" class="main-btn main-btn--light-blue mt-4 deal-call__link">Save More</a>
          </div>
        </div>
      </div>
      <!-- End some title -->
      <!-- CTA SECTION -->
      <div class="page-cta py-6 white">
        <div class="container page-cta__container">
          <h2 class="text-60 medium">Explore our Ship</h2>
          <p class="text-26 mt-1 center">Find out all the information about our ship</p>
          <a class="main-btn main-btn--white mt-3" href="/aroya-ship">See More</a>
        </div>
      </div>
      <!-- END CTA SECTION -->
    </main>
    <%= templates.footerEn %>
      <div class="overlay"></div>
</body>

</html>