<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
  <link rel="manifest" href="./images/favicon/site.webmanifest">
  <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="home-page">
  <!-- HEADER -->
  <%= templates.headerAr %>
    <!-- END HEADER -->
    <main class="main">
      <!-- HOME INTRO -->
      <div class="home-intro section white flex">
        <div class="home-intro__slider swiper relative">
          <div class="swiper-wrapper" dir="rtl">
            <div class="swiper-slide home-intro__video-slide relative" data-swiper-autoplay="9000">
              <div class="container">
                <div class="home-intro__video-slide-wrapper relative">
                  <div class="section-header">
                    <div class="section-header__title home-intro__video-slide-title">
                      <h1>عالم من التجارب بانتظاركم على أمواجنا العربية</h1>
                    </div>
                    <div class="home-intro__video-slide-controls mt-2">
                      <div class="section-links flex">
                        <button class="section-links__item control control--white" type="button">
                          <span class="section-links__item__text">تشغيل الفيديو بالكامل</span>
                          <span class="section-links__item-ic control-ic">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4 5.04803C4 4.46922 4.46922 4 5.04803 4H26.952C27.5308 4 28 4.46922 28 5.04803V26.952C28 27.5308 27.5308 28 26.952 28H5.04803C4.46922 28 4 27.5308 4 26.952V5.04803ZM6.09607 6.09607V25.9039H25.9039V6.09607H6.09607Z"
                                fill="white" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.9257 9.42358C15.3734 9.42358 14.9257 8.97587 14.9257 8.42358C14.9257 7.8713 15.3734 7.42358 15.9257 7.42358L23.5763 7.42358C24.1286 7.42358 24.5763 7.8713 24.5763 8.42358L24.5763 16.0742C24.5763 16.6265 24.1286 17.0742 23.5763 17.0742C23.024 17.0742 22.5763 16.6265 22.5763 16.0742L22.5763 11.0325L18.2912 15.3176C17.8819 15.7269 17.2183 15.7269 16.809 15.3176C16.3998 14.9083 16.3998 14.2447 16.809 13.8354L21.2209 9.42358L15.9257 9.42358Z"
                                fill="white" />
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.92566 15.4236C9.92566 14.8713 9.47794 14.4236 8.92566 14.4236C8.37337 14.4236 7.92566 14.8713 7.92566 15.4236V23.0742C7.92566 23.6265 8.37337 24.0742 8.92566 24.0742H16.5763C17.1286 24.0742 17.5763 23.6265 17.5763 23.0742C17.5763 22.5219 17.1286 22.0742 16.5763 22.0742H11.5345L15.8197 17.7891C16.2289 17.3798 16.2289 16.7162 15.8197 16.307C15.4104 15.8977 14.7468 15.8977 14.3375 16.307L9.92566 20.7188V15.4236Z"
                                fill="white" />
                            </svg>
                          </span>
                        </button>
                        <a href="/aroya-ship-ar" class="section-links__item section-links__link control control--white">
                          <span class="section-links__item__text">اكتشف المزيد</span>
                          <span class="section-links__item-ic control-ic">
                            <svg class="arrow-ic" width="32" height="32" viewBox="0 0 32 32" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <g id="Icon/arrow">
                                <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M22.5118 14.8215C23.1627 15.4724 23.1627 16.5277 22.5118 17.1785L11.8452 27.8452C11.1943 28.4961 10.139 28.4961 9.48815 27.8452C8.83728 27.1943 8.83728 26.139 9.48815 25.4882L18.9763 16L9.48816 6.51186C8.83728 5.86099 8.83728 4.80572 9.48816 4.15484C10.139 3.50397 11.1943 3.50397 11.8452 4.15484L22.5118 14.8215Z"
                                  fill="white" />
                              </g>
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <video preload="none" class="home-intro__video" loop autoplay muted
                  poster="./images/home-intro-video-poster.jpg">
                  <source type="video/mp4" src="./images/home-intro-video.mp4">
                  </source>
                  Sorry, your browser doesn't support embedded videos
                </video>
              </div>
            </div>
            <div class="swiper-slide home-intro__slide relative">
              <div class="container">
                <div class="home-intro__slide-wrapper">
                  <div class="home-intro__slide-text">
                    <div class="section-header white">
                      <div class="section-header__title">
                        <h2>اكتشفوا رحلاتنا الاستثنائية من خلال عروضنا وباقاتنا الحصرية!</h2>
                      </div>
                      <a href="#" class="main-btn main-btn--light-blue main-btn--wide mt-4">احجز الآن</a>
                    </div>
                  </div>
                  <img src="./images/home-page/home-intro__slide.jpg" alt="" class="home-intro__slide-img">
                </div>
              </div>
            </div>
          </div>
          <div class="home-intro__slider-nav swiper-nav">
            <div class="container swiper-nav__container">
              <button type="button" class="swiper-nav__btn prev">
                <svg class="arrow-ic" width="25" height="24" viewBox="0 0 25 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g id="Icon/arrow">
                    <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.70921 11.7806C9.43026 12.0596 9.43026 12.5118 9.70921 12.7908L14.2806 17.3622C14.5596 17.6412 15.0118 17.6412 15.2908 17.3622C15.5697 17.0833 15.5697 16.631 15.2908 16.3521L11.2244 12.2857L15.2908 8.21936C15.5697 7.94042 15.5697 7.48816 15.2908 7.20921C15.0118 6.93026 14.5596 6.93026 14.2806 7.20921L9.70921 11.7806Z"
                      fill="white" />
                  </g>
                </svg>
              </button>
              <div class="swiper-nav__dots"></div>
              <button type="button" class="swiper-nav__btn next">
                <svg class="arrow-ic" width="25" height="24" viewBox="0 0 25 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g id="Icon/arrow">
                    <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                      d="M15.2908 11.7806C15.5697 12.0596 15.5697 12.5118 15.2908 12.7908L10.7194 17.3622C10.4404 17.6412 9.98815 17.6412 9.70921 17.3622C9.43026 17.0833 9.43026 16.631 9.70921 16.3521L13.7756 12.2857L9.70921 8.21936C9.43026 7.94042 9.43026 7.48816 9.70921 7.20921C9.98815 6.93026 10.4404 6.93026 10.7194 7.20921L15.2908 11.7806Z"
                      fill="white" />
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END INTRO -->
      <div>
        <!-- HOME DESTINATION -->
        <div class="home-destins py-10">
          <div class="container">
            <div class="section-header">
              <div class="section-header__title dark-blue">
                <h2>اكتشف وجهاتنا</h2>
              </div>
            </div>
            <div class="home-destins__items mt-4">
              <div class="home-destins__item flex">
                <div class="home-destins__item-text-wrapper light-bg--2">
                  <div class="home-destins__item-ic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none">
                      <circle cx="15" cy="15.5" r="13" stroke="#003083" stroke-width="4" />
                      <circle cx="15" cy="15.5" r="6" fill="#003083" />
                    </svg>
                  </div>
                  <div class="home-destins__item-content sd mt-1 title-34 f-medium f-dark-blue">
                    <h3> شرم الشيخ</h3>
                    <p>شرم الشيخ: موعدكم المتجدد بين الشواطئ والمحميات النقية في قلب صحراء سيناء الفيروزية، حيث الأجواء
                      العربية والفنون الشرقية ومتعة الشواء مع صوت الليل.</p>
                    <div class="home-destins__item-links flex">
                      <!-- <a href="https://uat.booking.aroya.com/touchb2c/"
                        class="home-destins__item-link main-btn main-btn--light-blue">احجز الان</a> -->
                      <a href="/sharm-el-sheikh-ar" class="home-destins__item-more">
                        <span class="home-destins__item-more-txt">معرفة المزيد</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.2559 7.91079C11.5814 8.23622 11.5814 8.76386 11.2559 9.0893L5.92259 14.4226C5.59715 14.7481 5.06951 14.7481 4.74408 14.4226C4.41864 14.0972 4.41864 13.5696 4.74408 13.2441L9.48816 8.50004L4.74408 3.75596C4.41864 3.43053 4.41864 2.90289 4.74408 2.57745C5.06951 2.25201 5.59715 2.25201 5.92259 2.57745L11.2559 7.91079Z"
                            fill="#003083" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="home-destins__item-image-wrapper flex">
                  <img class="home-destins__item-image" src="./images/home-page/home-destins-1.jpg" alt="">
                </div>
              </div>
              <div class="home-destins__item flex">
                <div class="home-destins__item-text-wrapper light-bg--2">
                  <div class="home-destins__item-ic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none">
                      <circle cx="15" cy="15.5" r="13" stroke="#003083" stroke-width="4" />
                      <circle cx="15" cy="15.5" r="6" fill="#003083" />
                    </svg>
                  </div>
                  <div class="home-destins__item-content sd mt-1 title-34 f-medium f-dark-blue">
                    <h3>العقبة</h3>
                    <p>العقبة: مهد الحضارات ومحطة الأديان.. هي عالم متكامل يحتضن البحر الأحمر ويروي حكايات من التطور
                      والازدهار عبر الأزمان.</p>
                    <div class="home-destins__item-links flex">
                      <!-- <a href="https://uat.booking.aroya.com/touchb2c/"
                        class="home-destins__item-link main-btn main-btn--light-blue">احجز الان</a> -->
                      <a href="/al-aqaba-ar" class="home-destins__item-more">
                        <span class="home-destins__item-more-txt">معرفة المزيد</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.2559 7.91079C11.5814 8.23622 11.5814 8.76386 11.2559 9.0893L5.92259 14.4226C5.59715 14.7481 5.06951 14.7481 4.74408 14.4226C4.41864 14.0972 4.41864 13.5696 4.74408 13.2441L9.48816 8.50004L4.74408 3.75596C4.41864 3.43053 4.41864 2.90289 4.74408 2.57745C5.06951 2.25201 5.59715 2.25201 5.92259 2.57745L11.2559 7.91079Z"
                            fill="#003083" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="home-destins__item-image-wrapper flex">
                  <img class="home-destins__item-image" src="./images/home-page/home-destins-2.jpg" alt="">
                </div>
              </div>
              <div class="home-destins__item flex">
                <div class="home-destins__item-text-wrapper light-bg--2">
                  <div class="home-destins__item-ic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none">
                      <circle cx="15" cy="15.5" r="13" stroke="#003083" stroke-width="4" />
                      <circle cx="15" cy="15.5" r="6" fill="#003083" />
                    </svg>
                  </div>
                  <div class="home-destins__item-content sd mt-1 title-34 f-medium f-dark-blue">
                    <h3>جدة</h3>
                    <p>جدة: عروس البحر ومدينة الدفء.. تستقبلكم بحب بين مبانيها القديمة وشوارعها الحيّة وثقافاتها
                      المتنوعة.. حيث التراث الإنساني العريق والذي يحظى باعتراف منظمة اليونيسكو.. جولة تأسركم بين ماضيها
                      العريق وحاضرها الثري</p>
                    <div class="home-destins__item-links flex">
                      <!-- <a href="https://uat.booking.aroya.com/touchb2c/"
                        class="home-destins__item-link main-btn main-btn--light-blue">احجز الان</a> -->
                      <a href="/jeddah-ar" class="home-destins__item-more">
                        <span class="home-destins__item-more-txt">معرفة المزيد</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.2559 7.91079C11.5814 8.23622 11.5814 8.76386 11.2559 9.0893L5.92259 14.4226C5.59715 14.7481 5.06951 14.7481 4.74408 14.4226C4.41864 14.0972 4.41864 13.5696 4.74408 13.2441L9.48816 8.50004L4.74408 3.75596C4.41864 3.43053 4.41864 2.90289 4.74408 2.57745C5.06951 2.25201 5.59715 2.25201 5.92259 2.57745L11.2559 7.91079Z"
                            fill="#003083" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="home-destins__item-image-wrapper flex radius-gradient">
                  <img class="home-destins__item-image" src="./images/home-page/home-destins-3.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="home-destins__footer flex mt-6">
              <a href="/destinations-ar" class="home-destins__footer-link square-btn square-btn--light-blue">احجزوا
                الآن</a>
              <p class="home-destins__footer-text text-14 gray">تطبق الشروط والأحكام </p>
            </div>
          </div>
        </div>
        <!-- END HOME DESTINATION -->
      </div>
      <!-- BLOG SECTION -->
      <div class="blog section py-6 light-bg">
        <div class="container">
          <div class="blog-cards custom-scroll">
            <div class="blog-card">
              <div class="blog-card__header">
                <img class="blog-card__header-img" src="./images/home-page/home-blog-1.jpg" alt="">
              </div>
              <div class="blog-card__body sd sd--m-10 f-dark-blue title-26 f-bold">
                <h3>بلوسم سبا</h3>
                <p>حيث الدلال والخدمات الاستثنائية</p>
                <p>انعموا بالراحة والنقاء بين أروقة الجمال في بلوسم سبا، حيث أرقى منتجات الجمال الفريدة، والكفاءات
                  العالمية التي خصصناها من أجل راحتكم.</p>
              </div>
            </div>
            <div class="blog-card">
              <div class="blog-card__header">
                <img class="blog-card__header-img" src="./images/home-page/home-blog-3.jpg" alt="">
              </div>
              <div class="blog-card__body sd sd--m-10 f-dark-blue title-26 f-bold">
                <h3>خزامى لاونج</h3>
                <p>أجواء فريدة لخلق ذكرياتكم </p>
                <p>استمتعوا بالرفاهية في أحضان منطقة خزامى المخصصة لكبار الشخصيات، لتجدوا متنفسًا يخلق أجمل الذكريات
                  بملامح عربية أصيلة.</p>
              </div>
            </div>
            <div class="blog-card">
              <div class="blog-card__header">
                <img class="blog-card__header-img" src="./images/home-page/home-blog-2.jpg" alt="">
              </div>
              <div class="blog-card__body sd sd--m-10 f-dark-blue title-26 f-bold">
                <h3>مطعم إرث</h3>
                <p>تجربة استثنائية تلهم حواسكم </p>
                <p>عالم من النكهات الأصيلة بانتظاركم، حيث تتداخل النكهات الأصيلة بجودة عالمية وملامح عربية.</p>
              </div>
            </div>
            <div class="blog-card">
              <div class="blog-card__header">
                <img class="blog-card__header-img" src="./images/home-page/home-blog-4.jpg" alt="">
              </div>
              <div class="blog-card__body sd sd--m-10 f-dark-blue title-26 f-bold">
                <h3>مسرح أرويا</h3>
                <p>عروضنا الحية تنتظركم لمتعة تغمر مخيلتكم</p>
                <p>استمتعوا بمجموعة من عروضنا الحية والتي تم جدولتها دوريًا، لنوفر لكم فرصًا متنوعة من المتعة تناسب
                  مختلف الأذواق.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END BLOG SECTION -->
    </main>
    <!-- SIGNUP -->
    <div class="signup light-bg">
      <div class="container py-6">
        <div class="section-header section-header--custom center blue">
          <div class="section-header__title title-34 secondary-f f-medium">
            <h2>لا تفوت أبداً عروض الرحلات البحرية, سجل الان</h2>
          </div>
        </div>
        <div class="signup-main">
          <form class="signup-form">
            <div class="signup-form__controls">
              <div class="signup-form__controls-item">
                <input required class="signup-form__control" name="email" type="email"
                  placeholder="عنوان البريد الإلكتروني">
              </div>
              <div class="signup-form__controls-item">
                <input class="signup-form__control" name="phone" type="phone" placeholder="رقم التواصل ">
                <span class="optional">اختياري</span>
              </div>
            </div>
            <div class="signup-form__submit-wrapper">
              <button class="signup-form__submit-btn main-btn main-btn--light-blue uc" type="submit">إنشاء حساب
              </button>
            </div>
          </form>
        </div>
        <div class="signup-footer sd sd--light-links gray">
          <p>قوموا بالتسجيل للحصول على معلومات عن أحدث عروضنا وصفقاتنا الخاصة، يمكنكم إلغاء الاشتراك في أي وقت.
            للمزيد من التفاصيل حول كيفية استخدام معلوماتكم الشخصية، نرجو مراجعة سياسة الخصوصية الخاصة بنا.</p>
        </div>
      </div>
    </div>
    <!-- END SIGNUP -->
    <%= templates.footerAr %>
      <div class="overlay"></div>
</body>

</html>