html[dir="rtl"] {
  /***** TEMPLATE *****/
  body {
    direction: rtl;
    font-family: $ar-font;
    &[menu-open] {
      overflow: hidden;
      max-width: 100%;
    }
  }
  .section-links {
    &__item {
      &-ic {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
  .swiper-nav__dots span:not(:last-child) {
    margin-right: 0;
    margin-left: 9px;
  }
  .header-hidden-menu {
    @include respond-to(xx-large) {
      left: unset;
      right: 0;
      transform: translateX(-100%);

      &[data-active] {
        transform: translateX(0);
      }
    }
  }
  .radius-gradient {
    &::after {
      border-radius: 0 0 80px 0;
    }
    &--lg::after {
      border-radius: 0 0 160px 0;
    }
  }
  .arrow-ic {
    transform: rotate(180deg);
  }
  .section-header:not(.section-header--custom) {
    .section-header__title > *:first-child {
      font-weight: 700;
    }
  }
  /***** END TEMPLATE *****/

  /***** BUTTONS *****/
  .main-btn {
    border-radius: 0 100px;
    font-weight: 700;
    &__arrow {
      margin-right: 8px;
      margin-left: 0;
    }
  }
  /***** END BUTTONS *****/

  /***** FORMS ******/
  .select-wrapper {
    &::after {
      right: unset;
      left: 14px;
    }
  }
  /***** END FORMS *****/

  /***** HEADER *****/
  .header {
    &-nav {
      margin: 0 50px;
    }
    &-nav__sub {
      &-row:not(:last-child) {
        margin-right: 0;
        margin-left: 60px;
      }
      &-ic {
        margin-left: 0;
        margin-right: 8px;
      }
    }
    &-ui {
      margin-right: auto;

      &__icon {
        margin-right: 0;
        margin-left: 8px;
      }
      &__list-tel .header-control,
      .header-language__current {
        flex-direction: row-reverse;
        .header-ui__icon {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
    .search {
      right: auto;
      left: 0;
      &-header-form {
        &__input {
          margin-right: 0;
          margin-left: 20px;
        }
        &__submit {
          margin-left: 32px;
          margin-right: 0;
        }
      }
    }
    &-top {
      &__list-item:not(:last-child) {
        margin-left: 40px;
        margin-right: 0;
      }
      &__list-link,
      &__language-control {
        flex-direction: row-reverse;
      }
    }

    @include respond-to(xx-large) {
      .header-nav {
        left: 0;
        right: auto;
        margin-left: 0;

        &__sub-row:not(:last-child) {
          margin-left: 0;
        }
      }
    }
  }
  /***** END HEADER *****/

  /***** HOME PAGE *****/
  .home-intro {
    .section-links {
      flex-direction: row-reverse;
    }
    &__video-slide {
      &-title {
        max-width: 1000px;
      }
    }
    &__slide {
      &-wrapper {
        max-width: 845px;
      }
      &-img {
        left: 0;
        right: unset;
        border-radius: 0 0 300px 0;
      }
    }

    @include respond-to(xxx-large) {
      &__slide-wrapper {
        max-width: 650px;
      }
    }

    @include respond-to(xx-large) {
      &__slide-wrapper {
        max-width: 600px;
      }
    }

    @include respond-to(large) {
      .section-links {
        justify-content: flex-start;
      }
    }

    @include respond-to(small) {
      .section-links {
        flex-direction: column;
        &__item:first-child {
          margin-right: 0;
        }
      }
    }
  }

  .offers {
    &-slide {
      &__link {
        margin-right: 30px;
        margin-left: 0;
      }
    }
  }

  .home-destins {
    &__item {
      &:nth-child(even) {
        .home-destins__item-text-wrapper {
          border-radius: 0 12px 12px 0;
        }
        .home-destins__item-image-wrapper,
        .home-destins__item-image {
          border-radius: 12px 0 0 12px;
        }
      }
      &-text-wrapper {
        flex-grow: 1;
        border-radius: 0 12px 12px 0;
      }
      &-content > *:first-child {
        font-weight: 700;
      }
      &-image-wrapper {
        border-radius: 12px 0 0 12px;
      }
      &-image {
        border-radius: 12px 0 0 12px;
      }
    }

    @include respond-to(x-large) {
      &__item {
        &-image-wrapper,
        &-image {
          border-radius: 12px 12px 0 0;
        }
        &:nth-child(even) {
          .home-destins__item-image-wrapper,
          .home-destins__item-image {
            border-radius: 12px 12px 0 0;
          }
        }
      }
    }
  }

  .home-ship {
    &__container {
      transform: translateX(50%);
    }
    &__content-wrapper {
      margin-right: auto;
      margin-left: 32px;
    }
    &__image-wrapper {
      margin-right: 0;
    }
    img {
      border-radius: 0 0 0 706px;
    }

    @include respond-to(xxx-large) {
      min-height: 437px;
      &__container {
        transform: none;
        margin-left: 0;
      }
      &__content-wrapper {
        margin-left: 80px;
      }
      &__image-wrapper {
        right: 0;
        left: auto;
        width: 100%;
      }
    }

    @include respond-to(x-large) {
      &__content-wrapper {
        max-width: 50%;
        margin-left: 0;
      }
      &__image-wrapper {
        max-width: 42%;
      }
    }

    @include respond-to(large) {
      &__container {
        margin-left: auto;
      }
      &__content-wrapper {
        max-width: none;
      }
      &__image-wrapper {
        max-width: 500px;
      }
    }
  }

  .blog {
    &-card {
      margin-left: 27px;
      margin-right: 0;
      &:last-child {
        margin-left: 0;
      }
    }

    @include respond-to(medium) {
      &-card {
        margin-left: 0;
      }
    }
  }
  /***** END HOME PAGE *****/

  /***** ALL REGIONS PAGE *****/
  .regions-intro {
    &__img {
      left: 0;
      right: unset;
      border-radius: 0px 600px 0px 0px;
    }

    @include respond-to(x-large) {
      &__img {
        border-radius: 0 400px 0 0;
      }
    }

    @include respond-to(medium) {
      &__img {
        border-radius: 0 600px 0 0;
      }
    }
  }
  .regions-card {
    &__title {
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .regions-slider {
    &__slide-link {
      transform: translate(50%, 50%);
    }
    &__swiper-btn {
      &.next {
        left: 0;
        right: unset;
      }
      &.prev {
        right: 0;
        left: unset;
      }
    }
  }
  /***** END ALL REGIONS PAGE *****/

  /***** ABOUS US PAGE *****/
  .about-us-page {
    .about-us-intro {
      &__img {
        left: 0;
        right: unset;
        border-radius: 0px 600px 0px 0px;
      }
    }
    .about-us-general {
      &__image-wrapper img {
        border-radius: 0px 800px 0px 0px;
      }
    }
    .about-us-values {
      &__bage-icon {
        border-radius: 0 100px;
      }
    }
    .about-us-view {
      &__image-wrapper img {
        border-radius: 0px 0px 0px 800px;
      }
    }
    .cta-section {
      &__header-title,
      &__content-title {
        font-weight: 700;
      }
    }
  }
  /***** END ABOUS PAGE *****/

  /***** CONTACT US PAGE *****/
  .contact-us {
    &__image-wrapper {
      left: unset;
      right: 0;
    }
    &__form {
      flex-direction: row-reverse;
    }

    @include respond-to(small) {
      &__form {
        flex-direction: column;
      }
    }
  }
  /***** END CONTACT US *****/

  /***** FOOTER *****/
  .signup {
    &-form__controls {
      margin-left: 40px;
      margin-right: 0;
    }
  }
  .footer {
    &-subscribe {
      &__title {
        margin-left: 60px;
        margin-right: 0;
      }
      &__form-email {
        margin-right: 0;
        margin-left: 20px;
      }
    }
    &-social {
      &__title {
        margin-left: 60px;
        margin-right: 0;
      }
      &__list-item {
        margin-right: 0;
        margin-left: 30px;
        &:last-child {
          margin-left: 0;
        }
      }
    }
    .bottom-footer {
      &__list-item {
        &:first-child .bottom-footer__list-link {
          padding-right: 0;
          padding-left: 50px;
          &::after {
            display: none;
          }
        }
        &:last-child .bottom-footer__list-link {
          padding-left: 0;
          padding-right: 50px;
          &::after {
            content: "";
          }
        }
      }
    }

    @include respond-to(small) {
      &-subscribe {
        &__title,
        &__form-email {
          margin-left: 0;
        }
      }
      &-social {
        &__list-item:not(:last-child) {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }
  /***** END FOOTER *****/
}
